.specification{
  width: 65%;
  padding: 2vw 0;
  margin: 0 auto;
}
.specification .title{
  font-size: 1vw;
  display: flex;
  align-items: center;
}
.specification .title div{
  flex-shrink: 0;
  width: 2vw;
  height: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 1vw;
  background-color: #FF6D1D;
  border-radius: 50%;
  margin-right: 1vw;
}
.specification .cont{
  width: 100%;
  border: 0.04vw solid #CFDCF3;
  border-top: 0;
  background-color: #FFFFFF;
  margin-top: 2vw;
}
.specification .cont .tab{
  width: 100%;
  border-top: 0.04vw solid #CFDCF3;
  padding: 1vw 3vw;
}
.specification .cont .tab .subtitle{
  width: 100%;
  font-size: 0.9vw;
  font-weight: 500;
}
.specification .cont .tab .selectBlock{
  width: 100%;
  padding-left: 1vw;
}
.specification .cont .tab .selectBlock select{
  width: 30%;
  height: 2.3vw;
  border: 0;
  border-bottom: 0.04vw solid #CFDCF3;
  margin-top: 1vw;
  font-size: 0.9vw;
  outline: none;
  color: #888888;
}
.specification .cont .tab .selectBlock select option{
  color: #222222;
}
.specification .cont .tab .selectBlock input{
  width: 30%;
  height: 2.3vw;
  border: 0;
  border-bottom: 0.04vw solid #CFDCF3;
  margin-top: 1vw;
  font-size: 0.9vw;
  outline: none;
}
.specification .cont .tab .selectBlock .selectTab{
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 1vw;
}
.specification .cont .tab .selectBlock .selectTab select{
  margin-top: 0;
}
.specification .cont .tab .selectBlock .selectTab svg{
  width: 0.7vw;
  height: 0.7vw;
  margin-left: 2vw;
  cursor: pointer;
}
.specification .cont .tab .selectBlock .selectTab svg:hover path{
  fill: #666666;
}
.specification .save{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 2vw;
}
.specification .save .button{
  width: 14vw;
  height: 2.6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  transition: 0.3s;
  cursor: pointer;
  font-size: 0.9vw;
  background-color: #FF6D1D;
}
.specification .save .button:hover{
  opacity: 0.6;
}
.specification .save .button.disabled{
  opacity: 0.5;
  cursor: default;
}
.specification .save .result{
  height: 2.6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2vw;
}
.specification .save .result .green{
  color: green;
}
.specification .save .result .red{
  color: red;
}
.specification .save .button.disabled{
  opacity: 0.5;
  cursor: default;
}
.specification .save .result{
  height: 2.6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2vw;
}
.specification .save .result .green{
  color: green;
}
.specification .save .result .red{
  color: red;
}
@media screen and (max-width: 1000px) {
  .specification{
    width: 100%;
    padding: 2vw 0;
  }
  .specification .title{
    font-size: 2vw;
  }
  .specification .title div{
    width: 4vw;
    height: 4vw;
    font-size: 2vw;
    margin-right: 2vw;
  }
  .specification .cont{
    margin-top: 3vw;
  }
  .specification .cont .tab{
    padding: 2vw 2vw;
  }
  .specification .cont .tab .subtitle{
    font-size: 2vw;
  }
  .specification .cont .tab .selectBlock{
    padding-left: 2vw;
  }
  .specification .cont .tab .selectBlock select{
    width: 50%;
    height: 4vw;
    border: 0;
    margin-top: 2vw;
    font-size: 2vw;
  }
  .specification .cont .tab .selectBlock input{
    width: 50%;
    height: 4vw;
    border: 0;
    margin-top: 2vw;
    font-size: 2vw;
  }
  .specification .cont .tab .selectBlock .selectTab{
    margin-top: 2vw;
  }
  .specification .cont .tab .selectBlock .selectTab select{
    margin-top: 0;
  }
  .specification .cont .tab .selectBlock .selectTab svg{
    width: 2vw;
    height: 2vw;
    margin-left: 4vw;
    cursor: pointer;
  }
  .cabinet .save{
    padding-top: 3vw;
  }
  .cabinet .save .button{
    width: 100%;
    height: auto;
    font-size: 2vw;
    margin-top: 0;
    padding: 2vw;
  }
}
@media screen and (max-width: 600px) {
  .specification{
    width: 100%;
    padding: 4vw 0;
  }
  .specification .title{
    font-size: 4vw;
    flex-direction: column;
  }
  .specification .title div{
    width: 8vw;
    height: 8vw;
    font-size: 4vw;
    margin-bottom: 4vw;
  }
  .specification .cont{
    margin-top: 4vw;
  }
  .specification .cont .tab{
    padding: 4vw;
  }
  .specification .cont .tab .subtitle{
    font-size: 4vw;
  }
  .specification .cont .tab .selectBlock{
    padding-left: 0;
  }
  .specification .cont .tab .selectBlock select{
    width: 100%;
    height: 8vw;
    margin-top: 4vw;
    font-size: 4vw;
  }
  .specification .cont .tab .selectBlock input{
    width: 100%;
    height: 8vw;
    margin-top: 4vw;
    font-size: 4vw;
  }
  .specification .cont .tab .selectBlock .selectTab{
    margin-top: 4vw;
  }
  .specification .cont .tab .selectBlock .selectTab select{
    margin-top: 0;
  }
  .specification .cont .tab .selectBlock .selectTab svg{
    width: 4vw;
    height: 4vw;
    margin-left: 6vw;
  }
  .cabinet .save{
    padding-top: 4vw;
  }
  .cabinet .save .button{
    width: 100%;
    height: auto;
    font-size: 4vw;
    margin-top: 4vw;
    padding: 3vw;
  }
}
