<div class="component learning_search">
  <svg width="11" height="11" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon-svg"><path d="M13.8153 7.33267C13.8153 9.12305 13.0907 10.7425 11.9166 11.9166C10.7425 13.0907 9.12305 13.8153 7.33267 13.8153C3.75239 13.8153 0.85 10.913 0.85 7.33267C0.85 3.75239 3.75239 0.85 7.33267 0.85C10.913 0.85 13.8153 3.75239 13.8153 7.33267Z" stroke="#718088" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M17.3984 18.5994C17.7304 18.9313 18.2686 18.9313 18.6005 18.5994C18.9324 18.2674 18.9324 17.7292 18.6005 17.3973L17.3984 18.5994ZM11.399 12.5999L17.3984 18.5994L18.6005 17.3973L12.601 11.3978L11.399 12.5999Z" fill="#718088"></path></svg>
  <input type="text" placeholder="Поиск..." />
</div>
