<div class="component learning_sellers">
  <div class="header">
    <div class="round">
      <div><img src="/images/lamp.svg" /></div>
    </div>
    <div class="title">
      Топ продавцов
    </div>
  </div>
  <div class="table">
    <div class="table-row">
      <div class="num">1.</div>
      <div class="avatar"></div>
      <div class="name">Iglian</div>
    </div>
    <div class="table-row">
      <div class="num">2.</div>
      <div class="avatar"></div>
      <div class="name">Iglian</div>
    </div>
    <div class="table-row">
      <div class="num">3.</div>
      <div class="avatar"></div>
      <div class="name">Iglian</div>
    </div>
    <div class="table-row">
      <div class="num">4.</div>
      <div class="avatar"></div>
      <div class="name">Iglian</div>
    </div>
    <div class="table-row">
      <div class="num">5.</div>
      <div class="avatar"></div>
      <div class="name">Iglian</div>
    </div>
  </div>
</div>
