<div class="component learning_types">
  <div class="tab active">
    <div>Обучение</div>
    <div>293</div>
  </div>
  <div class="tab">
    <div>Аккаунты</div>
    <div>1293</div>
  </div>
  <div class="tab">
    <div>Буст</div>
    <div>743</div>
  </div>
  <div class="tab">
    <div>Скины</div>
    <div>684</div>
  </div>
</div>
