<script type="text/x-template" id="filters-template">
    <form class="form-style-7 p-0">
        <div class="w-100 m-1">
            Стоимость занятия
        </div>
        <ul class="col-12 d-flex">
            <li class="w-100 m-1 d-flex">
                <span class="align-items-center d-flex">От</span>
                <input type="text" class="text-light ml-3" v-model="filters.studyCostFrom.value">
            </li>
            <li class="w-100 m-1 d-flex">
                <span class="align-items-center d-flex">До</span>
                <input type="text" class="text-light ml-3" v-model="filters.studyCostTo.value">
            </li>
        </ul>
        <div class="col-12 mt-4 p-1">
            <a @click="search" class="btn-orange text-white pointer p-2">
                <i class="fas fa-search"></i>&nbsp;Поиск
            </a>
        </div>
    </form>
</script>

<script>
    Vue.component('filters', {
        template: '#filters-template',
        props: ['filters'],
        methods: {
            search() {
                this.$emit('search');
            }
        }
    })
</script>