<div class="component games">
  <div class="game">
    <a href="{{ path('trainers_index', {game: 'cs'}) }}" class="cont">
      <div class="image">
        <img src="/images/temp/marketplace/game1.svg" />
      </div>
      <div class="name">Counter-Strike: GO</div>
      <div class="menus">
        <div class="item">
          <div class="text">Оттачивай навыки стрельбы и тактического превосходства на соревновательных картах CS:GO.</div>
        </div>
      </div>
    </a>
  </div>
  <div class="game">
    <a href="{{ path('trainers_index', {game: 'dota'}) }}" class="cont">
      <div class="image">
        <img src="/images/temp/marketplace/game2.svg" />
      </div>
      <div class="name">DOTA</div>
      <div class="menus">
        <div class="item">
          <div class="text">Вырабатывай навыки микро и макроигры, а также тренируй героев вместе с профи.<br/>&nbsp;</div>
        </div>
      </div>
    </a>
  </div>
  <div class="game">
    <a href="{{ path('trainers_index', {game: 'lol'}) }}" class="cont">
      <div class="image">
        <img src="/images/temp/marketplace/game3.svg" />
      </div>
      <div class="name">League of Legends</div>
      <div class="menus">
        <div class="item">
          <div class="text">Прорабатывай тактические передвижения, тайминги, стадию пиков, лейнинга и лейта под присмотром ментора.</div>
        </div>
      </div>
    </a>
  </div>
</div>
