<div class="component slides" id="marketSlider">
  <div class="images">
    <transition name="fadeslide">
      <img src="/images/temp/marketplace/header.svg" v-show="pageSel === 1"/>
    </transition>
    <transition name="fadeslide">
      <img src="/images/temp/marketplace/header2.svg" v-show="pageSel === 2" style="display: none"/>
    </transition>
    <transition name="fadeslide">
      <img src="/images/temp/marketplace/header3.png" v-show="pageSel === 3" style="display: none"/>
    </transition>
  </div>
  <div class="slides">
    <div class="nav">
      <div class="arrow">
        <div @click="lftSlide"><img src="/images/arrowLftWhite.svg" /></div>
        <div @click="rgtSlide"><img src="/images/arrowRgtWhite.svg" /></div>
      </div>
      <div class="pages" id="pages">
        <div class="page headerpage" v-for="page in pages" :key="page" :class="[pageSel === page ? 'active' : '']"/>
          <div></div>
        </div>
      </div>
    </div>
      <div class="slide" v-show="pageSel === 1" :class="[pageSel === 1 ? 'active' : '']">
        <div class="title">Перенимайте опыт игры в CS:GO<div>от профессионалов</div></div>
        <div class="text">
          Если вы давно хотели освоить CS:GO на профессиональном уровне, то вы пришли по адресу. На бирже Champs свои услуги предлагают профессиональные игроки, которые готовы поделиться опытом и передать полезные знания. Будь то теоретическая подготовка или оттачивание механических навыков - здесь вы найдете все необходимое.
        </div>
        <div class="link">
          <a href="/ru/trainers/cs">Выбрать наставника</a>
        </div>
      </div>
      <div class="slide" v-show="pageSel === 2" :class="[pageSel === 2 ? 'active' : '']" style="display: none">
        <div class="title">Прогрессируйте во всех аспектах Dota 2<div>каждый день!</div></div>
        <div class="text">
          Давно хотели освоить мастерство тактических перемещений, тайминговых стаков и профессиональных ластхитов, но не знали кто может с этим помочь? Биржа Champs - это профессиональные наставники, которые готовы не только поделиться опытом и указать на ошибки, но и провести с вами ни одну игру.
        </div>
        <div class="link">
          <a href="/ru/trainers/dota">Выбрать наставника</a>
        </div>
      </div>
      <div class="slide" v-show="pageSel === 3" :class="[pageSel === 3 ? 'active' : '']" style="display: none">
        <div class="title">Войдите в топы призывателей<div> своего региона!</div></div>
        <div class="text">
          Ищете полезную информацию о возможностях ваших любимых героев, спавне и баффах Нашора и Герольда, но в интернете ее никак не найти? В таком случае вы пришли по адресу, ведь высокорейтинговые наставники биржи Champs на своем опыте прочувствовали все тонкости игры.
        </div>
        <div class="link">
          <a href="/ru/trainers/lol">Выбрать наставника</a>
        </div>
      </div>
  </div>
</div>

<script>
  const marketSlider = new Vue({
    el: '#marketSlider',
    data: function () {
      return {
        pageSel: 1,
        pages: 3,
        interval: null,
        ctx: null,
        canvas: null,
        iteral: 0,
        time: 2000,
      };
    },
    methods: {
      rendeCanvas() {
        this.ctx.fillStyle = '#FFFFFF';
        this.ctx.beginPath();
        this.ctx.arc(this.canvas.clientWidth / 2, this.canvas.clientHeight / 2, this.canvas.clientWidth / 2, 0,  Math.PI * 2 * (this.iteral / this.time), false);
        this.ctx.lineTo(this.canvas.clientWidth / 2, this.canvas.clientHeight / 2);
        this.ctx.fill();
        this.ctx.fillStyle = '#232323';
        this.ctx.beginPath();
        this.ctx.arc(this.canvas.clientWidth / 2, this.canvas.clientHeight / 2, this.canvas.clientWidth / 2 - ((this.canvas.width * (30 / 100)) * 0.5), 0,  Math.PI * 2, false);
        this.ctx.fill();
        this.iteral = this.iteral + 1;
      },
      createCanvas() {
        this.iteral = 0;
        if (this.interval !== null) {
          clearInterval(this.interval);
        }
        if (this.canvas !== null) {
          this.canvas.remove();
        }
        this.canvas = null;
        this.canvas = document.createElement('canvas');
        this.ctx = this.canvas.getContext("2d");
        document.querySelectorAll('.headerpage')[this.pageSel - 1].append(this.canvas);
        this.canvas.width = this.canvas.clientWidth;
        this.canvas.height = this.canvas.clientHeight;
        this.interval = setInterval(() => {
          if (this.iteral > this.time) {
            this.pageSel = this.pageSel + 1;
            if (this.pageSel >  this.pages) {
              this.pageSel = 1;
            }
            this.createCanvas();
          } else {
            this.rendeCanvas();
          }
        }, 1);
      },
      lftSlide() {
        this.pageSel = this.pageSel - 1;
        if (this.pageSel < 1) {
          this.pageSel = this.pages;
        }
        this.createCanvas();
      },
      rgtSlide() {
        this.pageSel = this.pageSel + 1;
        if (this.pageSel > this.pages) {
          this.pageSel = 1;
        }
        this.createCanvas();
      }
    },
    mounted() {
      this.createCanvas();
    }
  });
</script>
