<script type="text/x-template" id="market-slider-template">
    <div class="component slides" id="marketSlider">
        <div class="images">
            <transition name="fadeslide">
                <img src="/images/temp/marketplace/header.svg" v-show="selectedGame === 'cs'"/>
            </transition>
            <transition name="fadeslide">
                <img src="/images/temp/marketplace/header2.svg" v-show="pageSel === 2" v-show="selectedGame === 'dota'"
                     style="display: none"/>
            </transition>
            <transition name="fadeslide">
                <img src="/images/temp/marketplace/header3.png" v-show="pageSel === 3" v-show="selectedGame === 'lol'"
                     style="display: none"/>
            </transition>
        </div>
        <div class="slide p-5" v-show="selectedGame === 'cs'">
            <div class="title">Перенимайте опыт игры в CS:GO
                <div>от профессионалов</div>
            </div>
            <div class="text">
                Если вы давно хотели освоить CS:GO на профессиональном уровне, то вы пришли по адресу. На бирже Champs
                свои услуги предлагают профессиональные игроки, которые готовы поделиться опытом и передать полезные
                знания. Будь то теоретическая подготовка или оттачивание механических навыков - здесь вы найдете все
                необходимое.
            </div>
        </div>
        <div class="slide p-5" v-show="selectedGame === 'dota'" style="display: none">
            <div class="title">Прогрессируйте во всех аспектах Dota 2
                <div>каждый день!</div>
            </div>
            <div class="text">
                Давно хотели освоить мастерство тактических перемещений, тайминговых стаков и профессиональных
                ластхитов, но не знали кто может с этим помочь? Биржа Champs - это профессиональные наставники, которые
                готовы не только поделиться опытом и указать на ошибки, но и провести с вами ни одну игру.
            </div>
        </div>
        <div class="slide p-5" v-show="selectedGame === 'lol'" style="display: none">
            <div class="title">Войдите в топы призывателей
                <div> своего региона!</div>
            </div>
            <div class="text">
                Ищете полезную информацию о возможностях ваших любимых героев, спавне и баффах Нашора и Герольда, но в
                интернете ее никак не найти? В таком случае вы пришли по адресу, ведь высокорейтинговые наставники биржи
                Champs на своем опыте прочувствовали все тонкости игры.
            </div>
        </div>
    </div>
</script>

<script>
    Vue.component('market-header', {
        template: '#market-slider-template',
        data: function () {
            return {
                pageSel: 1,
                pages: 3,
                interval: null,
                ctx: null,
                canvas: null,
                iteral: 0,
                time: 2000,
            };
        },
        props: ['selectedGame'],
        methods: {
            rendeCanvas() {
                this.ctx.fillStyle = '#FFFFFF';
                this.ctx.beginPath();
                this.ctx.arc(this.canvas.clientWidth / 2, this.canvas.clientHeight / 2, this.canvas.clientWidth / 2, 0, Math.PI * 2 * (this.iteral / this.time), false);
                this.ctx.lineTo(this.canvas.clientWidth / 2, this.canvas.clientHeight / 2);
                this.ctx.fill();
                this.ctx.fillStyle = '#232323';
                this.ctx.beginPath();
                this.ctx.arc(this.canvas.clientWidth / 2, this.canvas.clientHeight / 2, this.canvas.clientWidth / 2 - ((this.canvas.width * (30 / 100)) * 0.5), 0, Math.PI * 2, false);
                this.ctx.fill();
                this.iteral = this.iteral + 1;
            },
            lftSlide() {
                this.pageSel = this.pageSel - 1;
                if (this.pageSel < 1) {
                    this.pageSel = this.pages;
                }
            },
            rgtSlide() {
                this.pageSel = this.pageSel + 1;
                if (this.pageSel > this.pages) {
                    this.pageSel = 1;
                }
            }
        },
    });
</script>
