<script type="text/x-template" id="sidebar-template">
    <nav id="sidebar">
        <div class="custom-menu">
            <button class="btn btn-orange" @click="collapse">
            </button>
        </div>
        <ul class="list-unstyled components mb-5">
            <li class="pointer" v-for="item in items" :class="{active: active === item.name}" @click="active = item.name">
                <a class="d-flex align-items-center">
                    <img :src="item.logo" class="mr-2 w-15"/>
                    <span v-html="item.title"></span>
                </a>
            </li>
        </ul>
    </nav>
</script>
<script>
    Vue.component('sidebar', {
        template: '#sidebar-template',
        data(){
           return {
               active: null,
           }
        },
        methods: {
            collapse(){
                $('#sidebar').toggleClass('active');
            }
        },
        props: [
          'items'
        ],
        watch: {
            active(){
                this.$parent.sidebarActiveItem = this.active;
                this.$parent.trainer = null;
            }
        },
        created() {
            this.active = this.$parent.sidebarActiveItem;

            $('.js-fullheight').css('height', $(window).height());

            $(window).resize(function(){
                $('.js-fullheight').css('height', $(window).height());
            });
        }
    })
</script>