.map{
  width: 100%;
  padding: 2vw 0;
}
.map .container{
  width: 85%;
  margin: 0 auto;
  min-height: 35vw;
}
.map .container .title{
  width: 100%;
  font-size: 1.5vw;
  font-weight: 500;
  padding-bottom: 1vw;
}
.map .container div{
  width: 100%;
  padding-top: 1vw;
}
.map .container div.pt1{
  padding-left: 1.5vw;
}
.map .container div.pt2{
  padding-left: 3vw;
}
.map .container div a{
  letter-spacing: 0.06vw;
  text-transform: uppercase;
  font-size: 0.8vw;
  color: #282C31;
  transition: 0.2s;
}
.map .container div a:hover{
  opacity: 0.5;
}
.map .back{
  height: 36vw;
  position: absolute;
  right: 0vw;
  top: 6vw;
}
@media screen and (max-width: 1000px) {
  .map{
    width: 100%;
    padding: 3vw 2vw;
  }
  .map .container{
    width: 100%;
    margin: 0 auto;
    min-height: 35vw;
  }
  .map .container .title{
    font-size: 3vw;
    padding-bottom: 3vw;
  }
  .map .container div{
    padding-top: 3vw;
  }
  .map .container div.pt1{
    padding-left: 3vw;
  }
  .map .container div.pt2{
    padding-left: 6vw;
  }
  .map .container div a{
    font-size: 2vw;
  }
  .map .back{
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .map{
    width: 100%;
    padding: 4vw 4vw;
    padding-top: 0;
  }
  .map .container{
    width: 100%;
    margin: 0 auto;
    min-height: 35vw;
  }
  .map .container .title{
    font-size: 5vw;
    padding-bottom: 4vw;
  }
  .map .container div{
    padding-top: 4vw;
  }
  .map .container div.pt1{
    padding-left: 6vw;
  }
  .map .container div.pt2{
    padding-left: 12vw;
  }
  .map .container div a{
    font-size: 4vw;
  }
}
