/* INDEX INDEX */
.article__content{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.article__content .article-row{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1vw;
}
.article__content .article-row:first-child{
  margin-top: 0;
}
.article__content .article-row .article{
  display: block;
  overflow: hidden;
  height: 22vw;
  border: 0.04vw solid #CFDCF3;
  flex-wrap: nowrap;
  color: #FFFFFF;
}
.article__content .article-row .article .ticket{
  position: absolute;
  right: 0.7vw;
  bottom: 0.7vw;
  padding: 0.1vw 0.7vw;
  padding-top: 0.15vw;
  background: #F24F13;
  color: #FFFFFF;
  text-transform: uppercase;
  z-index: 4;
  font-size: 0.75vw;
  font-weight: 500;
  letter-spacing: 0.06vw;
  border-radius: 0.8vw;
}
.article__content .article-row .article img{
  transition: 0.3s;
  margin: 0 auto;
  position: relative;
  display: block;
}
.article__content .article-row .article:hover img{
  transform: scale(1.3);
}
.article__content .article-row .article .background{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, rgba(53, 57, 62, 0) 33.33%, #35393E 100%);
  z-index: 2;
}
.article__content .article-row .article .title{
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
  padding: 1vw 1.5vw;
  font-size: 0.9vw;
}
.article__content .article-row .article .title .text{
  padding-right: 8vw;
  display: block;
  cursor: pointer;
  color: #000000;
}

.article__content .article-row .article:nth-child(1) {
  width: calc(63% - 0.5vw);
  margin-right: 0.5vw;
}
.article__content .article-row .article:nth-child(2) {
  width: calc(37% - 0.5vw);
  margin-left: 0.5vw;
}
.article__content .article-row .article:nth-child(1) .title{
  background: #FFFFFF;
  font-size: 1.49vw;
  font-weight: 400;
}
.article__content .article-row .article:nth-child(2) .title{
  background: #FFFFFF;
  font-size: 1vw;
  font-weight: 400;
}
.article__content .article-row .article-col{
  width: calc(37% - 0.5vw);
  margin-right: 0.5vw;
  margin-top: 1vw;
  height: 22vw;
}
.article__content .article-row .article-col .article:nth-child(1) {
  width: 100%;
  height: 10.5vw;
}
.article__content .article-row .article-col .article:nth-child(2) {
  width: 100%;
  height: 10.5vw;
  margin: 0;
  margin-top: 1vw;
}
.article__content .article-row .article-col .article:nth-child(1) .title,
.article__content .article-row .article-col .article:nth-child(2) .title,
.article__content .article-row .article:nth-child(4) .title{
  font-size: 0.95vw;
  font-weight: 400;
}
.article__content .article-row .article:nth-child(4) {
  width: calc(63% - 0.5vw);
  margin-left: 0.5vw;
  margin-top: 1vw;
}
.article__content .article-row .article:nth-child(4) .title{
  font-size: 1.5vw;
  background-color: #FFFFFF;
  color: #000000;
  font-weight: 400;
}
@media screen and (max-width: 1000px) {
  .article__content .article-row .title{
    font-size: 2vw!important;
    padding: 1vw!important;
    padding-right: 7vw!important;
  }
  .article__content .article-row .title .text{
    font-size: 2vw;
  }
  .article__content .article-row .article{
    height: 30vw!important;
  }
  .article__content .article-row .article-col .article{
    height: 14.5vw!important;
  }
  .article__content .article-row .article .ticket{
    position: absolute;
    right: 1vw;
    bottom: 1vw;
    padding: 0.5vw 1.5vw;
    background: #F24F13;
    color: #FFFFFF;
    text-transform: uppercase;
    z-index: 4;
    font-size: 1.2vw;
    font-weight: bold;
    letter-spacing: 0.06vw;
    border-radius: 5vw;
  }
}
@media screen and (max-width: 600px) {
  .article__content .article-row .article{
    width: 100%!important;
    height: 60vw!important;
    margin: 0!important;
    margin-top: 3vw!important;
  }
  .article__content .article-row:nth-child(1) .article:nth-child(1){
    margin-top: 0!important;
  }
  .article__content .article-row:nth-child(1) .article-col .article:nth-child(1){
    margin-top: 3vw!important;
  }
  .article__content .article-col{
    width: 100%!important;
    height: auto!important;
    margin: 0!important;
    margin-top: 0!important;
  }
  .article__content .article-row .article-col .article{
    height: 60.5vw!important;
  }
  .article__content .article-row .title{
    font-size: 3.5vw;
    padding: 4vw!important;
    padding-right: 20vw!important;
  }
  .article__content .article-row .title .text{
    font-size: 4vw;
  }
  .article__content .article-row .article .ticket{
    position: absolute;
    right: 3vw;
    bottom: 3vw;
    padding: 1.5vw 3.5vw;
    background: #F24F13;
    color: #FFFFFF;
    text-transform: uppercase;
    z-index: 4;
    font-size: 2.5vw;
    font-weight: bold;
    letter-spacing: 0.06vw;
    border-radius: 5vw;
    padding-top: 2vw;
  }
}

/* TODAY COMP */
.articles__content{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.articles__content .types{
  width: 100%;
  display: flex;
  flex-direction: row;
  border-left: 0.02vw solid #CFDCF3;
  border-bottom: 0.02vw solid #CFDCF3;
  flex-wrap: wrap;
}
.articles__content .types div{
  flex-shrink: 0;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6vw 0;
  font-size: 0.8vw;
  border: 0.02vw solid #CFDCF3;
  border-left: 0;
  border-bottom: 0;
  color: #1D1D1D;
  cursor: pointer;
  background: #FFFFFF;
}
.articles__content .types div:last-child{
  border-right: 0.04vw solid #CFDCF3;
}
.articles__content .types div.active{
  cursor: default;
  background: #FF6D1D;
  color: #FFFFFF;
  font-weight: 500;
}
.articles__content .dates{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1vw;
}
.articles__content .dates .name{
  font-size: 0.8vw;
  padding: 0.6vw 0;
  padding-right: 1vw;
  display: flex;
  align-items: center;
}
.articles__content .dates .date{
  background-color: #FFFFFF;
  border: 0.04vw solid #CFDCF3;
  padding: 0.6vw 1vw;
  display: flex;
  align-items: center;
}
.articles__content .dates .date span,
.articles__content .dates .date span label{
  cursor: pointer;
  font-size: 0.75vw;
}
.articles__content .dates .date:nth-child(2){
  border-left: 0;
}
.articles__content .dates .date .ico{
  margin-left: 1vw;
}
.calendar{
  width: 15vw;
  position: absolute;
  top: 100%;
  right: -0.02vw;
  background-color: #FFFFFF;
  border: 0.02vw solid #FF6D1D;
  z-index: 10;
  padding: 1vw;
  border-radius: 0;
}
.calendar .title{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.calendar .title .lft,
.calendar .title .rgt{
  width: 50%;
  position: relative;
}
.calendar .title .month{
  height: 1.4vw;
  font-size: 0.7vw;
  font-weight: 500;
  padding-left: 0.4vw;
  display: flex;
  align-items: center;
}
.calendar .title .month img{
  width: 0.5vw;
  margin-left: 0.5vw;
}
.calendar .title .months{
  width: 80%;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #FFFFFF;
  box-shadow: 0 0 0.4vw #AAA;
  padding: 0.5vw;
  z-index: 10;
}
.calendar .title .months div{
  font-size: 0.7vw;
  margin-top: 0.3vw;
  cursor: pointer;
}
.calendar .title .months div:nth-child(1){
  margin-top: 0;
}
.calendar .title .year{
  height: 1.4vw;
  float: right;
  font-size: 0.7vw;
  padding-right: 0.6vw;
  display: flex;
  align-items: center;
}
.calendar .title .year span{
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  z-index: 10;
}
.calendar .title .year span:nth-child(1){
  margin-right: 0.5vw;
}
.calendar .title .year span:nth-child(3){
  margin-left: 0.5vw;
}
.calendar .title .year span img{
  width: 0.3vw;
}
.calendar .title .year label{
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: 500;
  padding: 0 0.5vw;
}
.calendar .weeks{
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 1vw;
  padding-bottom: 0.3vw;
  color: #7D8186;
}
.calendar .weeks .week{
  flex-shrink: 0;
  width: 14.2%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7vw;
}
.calendar .days{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #111111;
}
.calendar .days .day{
  flex-shrink: 0;
  width: 14.2%;
  padding: 0.3vw 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7vw;
}
.calendar .days .day.sel:hover,
.calendar .days .day.sel.active{
  background-color: #FF6D1D;
  color: #FFFFFF;
  border-radius: 0.2vw;
  cursor: pointer;
}
.articles__content .search{
  width: 100%;
  display: flex;
  flex-direction: row;
  background: #FFFFFF;
}
.articles__content .search .name{
  flex-shrink: 0;
  font-size: 0.8vw;
  color: #718088;
  padding-left: 2vw;
  border-bottom: 0.02vw solid #CFDCF3;
  border-left: 0.04vw solid #CFDCF3;
  height: 3vw;
  display: flex;
  align-items: center;
}
.articles__content .search .name svg{
  width: 0.8vw;
  height: 0.8vw;
}
.articles__content .search input{
  width: 100%;
  height: 3vw;
  padding: 0 1vw;
  border: 0;
  outline: none;
  font-size: 0.8vw;
  border-bottom: 0.02vw solid #CFDCF3;
  border-right: 0.04vw solid #CFDCF3;
}
.articles__content .component.lenta .table{
  margin: 0;
  border-left: 0.02vw solid #CFDCF3;
  border-right: 0.04vw solid #CFDCF3;
  border-bottom: 0.02vw solid #CFDCF3;
}
.articles__content .component.lenta .table .table-row{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  padding: 0.5vw 2vw;
  border: 0.02vw solid #CFDCF3;
  transition: 0.2s;
}
.articles__content .component.lenta .table-row:hover{
  background-color: #FFF8F4;
  border: 0.02vw solid #FF5A00;
}
.articles__content .component.lenta .table-row .title{
  width: 100%;
  display: flex;
  flex-direction: row;
  letter-spacing: .05vw;
  align-items: center;
  padding-top: 0.5vw;
}
.articles__content .component.lenta .table-row .title .time{
  color: #718088;
  width: 4vw;
  flex-shrink: 0;
  font-size: 0.77vw;
}
.articles__content .component.lenta .table-row .title .name{
  color: #1F2C36;
  width: 100%;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.73vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.articles__content .component.lenta .table-row .title .name div{
  width: .5vw;
  height: .5vw;
  background-color: #FF6D1D;
  border-radius: 50%;
  margin-right: 0.5vw;
}
.articles__content .component.lenta .table-row .text{
  width: 100%;
  font-size: 0.85vw;
  letter-spacing: 0.01vw;
  padding: 0.5vw 0;
  cursor: pointer;
  color: #000;
}
.articles__content .component.lenta .table-row .text:hover{
  color: #666;
}
@media screen and (max-width: 1000px) {
  .articles__content{
    margin-top: 3vw;
  }
  .articles__content .types div{
    padding: 1.5vw 0;
    font-size: 2vw;
  }
  .articles__content .dates{
    margin-top: 2vw;
  }
  .articles__content .dates .name{
    font-size: 1.8vw;
    padding: 1vw 0;
    padding-right: 2vw;
  }
  .articles__content .dates .date{
    padding: 2vw 3vw;
  }
  .articles__content .dates .date span,
  .articles__content .dates .date span label{
    font-size: 1.8vw;
  }
  .articles__content .dates .date .ico{
    margin-left: 2vw;
  }
  .calendar{
    width: 40vw;
    padding: 2vw;
  }
  .calendar .title .month{
    height: 3vw;
    padding-left: 0.6vw;
  }
  .calendar .title .month span{
    font-size: 2vw;
  }
  .calendar .title .month img{
    width: 1.5vw;
    margin-left: 1vw;
  }
  .calendar .title .months{
    width: 100%;
    padding: 2vw;
  }
  .calendar .title .months div{
    font-size: 2vw;
    margin-top: 1vw;
  }
  .calendar .title .year{
    height: 3vw;
    font-size: 2vw;
    padding-right: 2vw;
  }
  .calendar .title .year span:nth-child(1){
    margin-right: 1vw;
  }
  .calendar .title .year span:nth-child(3){
    margin-left: 1vw;
  }
  .calendar .title .year span img{
    width: 1vw;
  }
  .calendar .title .year label{
    padding: 0 1vw;
  }
  .calendar .weeks{
    padding-top: 2vw;
    padding-bottom: 1vw;
  }
  .calendar .weeks .week{
    font-size: 2vw;
  }
  .calendar .days .day{
    padding: 1vw 0;
    font-size: 2vw;
  }
  .articles__content .lenta{
    margin-top: 3vw;
  }
  .articles__content .search .name{
    font-size: 2vw;
    padding-left: 2vw;
    height: 6vw;
  }
  .articles__content .search input{
    height: 6vw;
    font-size: 2vw;
    padding: 0 2vw;
  }
  .articles__content .search .name svg{
    width: 2vw;
    height: 2vw;
  }
  .articles__content .component.lenta .table-row{
    padding: 2vw 4vw;
    padding-bottom: 4vw;
  }
  .articles__content .component.lenta .table-row .title{
    padding: 2vw 0;
  }
  .articles__content .component.lenta .table-row .title .time{
    width: 15vw;
    font-size: 2vw;
  }
  .articles__content .component.lenta .table-row .title .name{
    font-size: 2vw;
  }
  .articles__content .component.lenta .table-row .title .name div{
    width: 1.8vw;
    height: 1.8vw;
    margin-right: 2vw;
  }
  .articles__content .component.lenta .table-row .text{
    font-size: 2vw;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .articles__content{
    margin-top: 3vw;
  }
  .articles__content .types div{
    padding: 1.5vw 0;
    font-size: 3.3vw;
  }
  .articles__content .dates{
    margin-top: 4vw;
  }
  .articles__content .dates .name{
    font-size: 3.3vw;
    padding: 2vw 0;
    padding-right: 3vw;
  }
  .articles__content .dates .date{
    padding: 2vw 4vw;
  }
  .articles__content .dates .date span,
  .articles__content .dates .date span label{
    font-size: 3.1vw;
  }
  .articles__content .dates .date .ico{
    margin-left: 3vw;
  }
  .articles__content .dates .date .ico{
    height: 2vw;
  }
  .articles__content .calendar{
    width: 57vw;
    padding: 4vw;
  }
  .articles__content .dates .date:nth-child(1) .calendar{
    right: auto!important;
    left: -0.02vw!important;
  }
  .articles__content .calendar .title .month{
    height: 5vw;
    padding-left: 0.6vw;
  }
  .articles__content .calendar .title .month span{
    font-size: 3.5vw;
  }
  .articles__content .calendar .title .month img{
    width: 2vw;
    margin-left: 3vw;
  }
  .articles__content .calendar .title .months{
    width: 100%;
    padding: 2vw;
  }
  .articles__content .calendar .title .months div{
    font-size: 3.3vw;
    margin-top: 1vw;
  }
  .articles__content .calendar .title .year{
    height: 5vw;
    font-size: 3.3vw;
    padding-right: 2vw;
  }
  .articles__content .calendar .title .year span:nth-child(1){
    margin-right: 2vw;
  }
  .articles__content .calendar .title .year span:nth-child(3){
    margin-left: 2vw;
  }
  .articles__content .calendar .title .year span img{
    width: 1.5vw;
  }
  .articles__content .calendar .title .year label{
    padding: 0 2vw;
  }
  .articles__content .calendar .weeks{
    padding-top: 3vw;
    padding-bottom: 2vw;
  }
  .articles__content .calendar .weeks .week{
    font-size: 3.3vw;
  }
  .articles__content .calendar .days .day{
    padding: 1vw 0;
    font-size: 3.3vw;
  }
  .articles__content .search .name{
    font-size: 3vw;
    padding-left: 4vw;
    height: 10vw;
  }
  .articles__content .search input{
    height: 10vw;
    font-size: 3vw;
    padding: 0 4vw;
  }
  .articles__content .search .name svg{
    width: 3vw;
    height: 3vw;
  }
  .articles__content .component.lenta{
    margin-top: 3vw;
  }
  .articles__content .component.lenta .table .table-row{
    padding: 2vw 4vw;
    padding-bottom: 4vw;
  }
  .articles__content .component.lenta .table .table-row .title{
    padding: 2vw 0;
  }
  .articles__content .component.lenta .table .table-row .title .time{
    width: 15vw;
    font-size: 3.5vw;
  }
  .articles__content .component.lenta .table .table-row .title .name{
    font-size: 3.5vw;
  }
  .articles__content .component.lenta .table .table-row .title .name div{
    width: 1.8vw;
    height: 1.8vw;
    margin-right: 2vw;
  }
  .articles__content .component.lenta .table .table-row .text{
    font-size: 3.5vw;
    display: block;
  }
}

/* VIEW NEWS */
.news__view{
  width: 100%;
  padding: 1.7vw 0;
}
.news__view .container{
  width: 70%;
}
.news__view .prev_article{
  width: 100%;
  padding-bottom: 1vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1vw;
}
.news__view .prev_article img{
  height: 0.5vw;
  margin-right: 0.5vw;
}
.news__view .prev_article a{
  color: #1F2C36;
  font-size: 0.9vw;
}
.news__view .title_article{
  width: 100%;
}
.news__view .title_article div{
  width: 50%;
  font-weight: bold;
  color: #1F2C36;
  font-size: 1.45vw;
  line-height: 1.7vw;
}
.news__view .author_article{
  width: 100%;
  padding: 1vw 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.news__view .author_article a{
  color: #FF6D1D;
  font-size: 0.85vw;
  flex-shrink: 0;
}
.news__view .author_article div{
  width: 100%;
  font-size: 0.85vw;
  font-weight: 500;
  display: flex;
  justify-content: flex-end;
  padding-right: 0.5vw;
}
.news__view .text_article{
  width: 100%;
  font-size: 0.9vw;
}
/* ALL STYLES */
.news__view .text_article img{
  width: 100%;
  margin-bottom: 1vw;
  cursor: pointer;
}
.news__view .text_article .middle_font{
  font-size: 1.05vw;
  font-weight: 500;
  padding-bottom: 1vw;
  text-align: justify;
}
.news__view .text_article .small_font{
  font-size: 0.9vw;
  padding-bottom: 1vw;
  text-align: justify;
}
.news__view .wrapper{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 20;
  cursor: pointer;
}
.news__view .wrapper .container{
  height: 100%;
}
.news__view .wrapper img.clone{
  position: absolute;
  transition: 0.5s;
  box-shadow: 0 0 0.5vw #111111;
}
.news__view .wrapper .title_wrap{
  width: 30vw;
  position: absolute;
  left: 50%;
  margin-left: -15vw;
  bottom: 3%;
  background-color: #35393E;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5vw 0;
  font-size: 0.9vw;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

@media screen and (max-width: 1000px) {
  .news__view{
    width: 100%;
    padding: 3vw 0;
  }
  .news__view .container{
    width: 100%;
  }
  .news__view .prev_article{
    padding-bottom: 2vw;
  }
  .news__view .prev_article img{
    height: 1vw;
    margin-right: 2vw;
  }
  .news__view .prev_article a{
    color: #1F2C36;
    font-size: 2vw;
  }
  .news__view .title_article div{
    width: 100%;
    font-size: 3vw;
    line-height: 5vw;
  }
  .news__view .author_article{
    padding: 2vw 0;
  }
  .news__view .author_article a{
    font-size: 2vw;
  }
  .news__view .author_article div{
    font-size: 2vw;
  }
  .news__view .text_article .middle_font{
    font-size: 2.5vw;
    font-weight: 500;
    padding-bottom: 2vw;
  }
  .news__view .text_article .small_font{
    font-size: 2vw;
    padding-bottom: 2vw;
  }
  .news__view .text_article img{
    margin-bottom: 2vw;
  }
  .news__view .wrapper .title_wrap{
    font-size: 3vw;
    width: 80vw;
    margin-left: -40vw;
    text-align: center;
    padding: 3vw 0;
  }
}
@media screen and (max-width: 600px) {
  .news__view{
    width: 100%;
    padding: 3vw 0;
  }
  .news__view .container{
    width: 100%;
  }
  .news__view .prev_article{
    padding-bottom: 3vw;
  }
  .news__view .prev_article img{
    height: 2vw;
    margin-right: 3vw;
  }
  .news__view .prev_article a{
    color: #1F2C36;
    font-size: 3vw;
  }
  .news__view .title_article div{
    width: 100%;
    font-size: 5.5vw;
    line-height: 7vw;
  }
  .news__view .author_article{
    padding: 4vw 0;
  }
  .news__view .author_article a{
    font-size: 3.5vw;
  }
  .news__view .author_article div{
    font-size: 3.5vw;
  }
  .news__view .text_article .middle_font{
    font-size: 4vw;
    font-weight: 500;
    padding-bottom: 4vw;
  }
  .news__view .text_article .small_font{
    font-size: 3.5vw;
    padding-bottom: 4vw;
  }
  .news__view .text_article img{
    margin-bottom: 4vw;
  }
  .news__view .wrapper .title_wrap{
    width: 100%;
    font-size: 4vw;
    left: 0;
    margin-left: 0;
    bottom: 0;
    padding: 4vw;
    text-align: center;
  }
}

/* TODAY COMP */
.news__view .component{
  width: 100%;
}
.news__view .component .header{
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #35393E;
  height: 2.5vw;
  align-items: center;
  z-index: 2;
}
.news__view .component .header .round{
  width: 3.3vw;
  height: 3.3vw;
  border-radius: 50%;
  background-color: #35393E;
  left: -.6vw;
  padding: 0.3vw;
  display: flex;
  flex-shrink: 0;
}
.news__view .component .header .round div{
  width: 100%;
  width: 100%;
  border: 0.04vw solid #2F3338;
  border-radius: 50%;
  padding: 0.3vw;
}
.news__view .component .header .round div img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.news__view .component .header .title{
  width: 100%;
  font-style: normal;
  font-weight: 500;
  letter-spacing: .05vw;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 1.23vw;
}
.news__view .component.results .table{
  width: 100%;
  font-size: .85vw;
  font-style: normal;
  font-weight: normal;
  border-left: 0.02vw solid #CFDCF3;
  border-right: 0.02vw solid #CFDCF3;
  color: #121212;
  background: #FFFFFF;
}
.news__view .component.results .table-row{
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  padding: 0.2vw 1vw;
  padding-bottom: 0.5vw;
  border: 0.02vw solid #CFDCF3;
  transition: 0.2s;
  color: #111111;
}
.news__view .component.results .table-row:hover{
  background-color: #FFF8F4;
  border: 0.02vw solid #FF5A00;
}
.news__view .component.results .table-row div{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.8vw;
}
.news__view .component.results .table-row .title{
  font-size: 0.7vw;
  padding: 0.5vw 0;
  padding-bottom: 0.3vw;
}
.news__view .component.results .table-row .title a{
  color: #312F73;
}
.news__view .component.results .table-row .teams{
  width: 100%;
  margin-bottom: 0.2vw;
  display: flex;
  flex-direction: column;
}
.news__view .component.results .table-row div img{
  height: 1vw;
  margin-right: 0.5vw;
}
.news__view .component.results .table-row  span{
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 0.9vw;
  font-weight: 500;
}
@media screen and (max-width: 1000px) {
  .news__view .component{
    margin-top: 1vw;
  }
  .news__view .component .header{
    height: 6vw;
  }
  .news__view .component .header .title{
    font-size: 2.2vw;
    line-height: 6vw;
  }
  .news__view .component .header .round{
    width: 7vw;
    height: 7vw;
    left: -2vw;
    padding: 1vw;
  }
  .news__view .component.results .table{
    margin-bottom: 0;
  }
  .news__view .component.results .table-row{
    padding: 2vw 3vw;
  }
  .news__view .component.results .table-row .title{
    font-size: 2vw;
  }
  .news__view .component.results .table-row div img{
    height: 3vw;
    margin-right: 2vw;
  }
  .news__view .component.results .table-row .teams div{
    font-size: 2vw;
    padding-top: 1vw;
  }
  .news__view .component.results .table-row  span{
    font-size: 2vw;
  }
}
@media screen and (max-width: 600px) {
  .news__view .component{
    margin-top: 4vw;
  }
  .news__view .component .header{
    height: 10vw;
  }
  .news__view .component .header .title {
    font-size: 4vw;
    line-height: 10vw;
  }
  .news__view .component .header .round{
    width: 13.8vw;
    height: 13.8vw;
    left: -3vw;
    padding: 1vw;
  }
  .news__view .component .header .round div{
    padding: 1vw;
  }
  .news__view .component.results .table{
    margin-bottom: 0;
  }
  .news__view .component.results .table-row{
    padding: 2vw 4vw;
  }
  .news__view .component.results .table-row .title{
    font-size: 3.5vw;
  }
  .news__view .component.results .table-row div img{
    height: 6vw;
    margin-right: 3vw;
  }
  .news__view .component.results .table-row .teams div{
    font-size: 4vw;
    padding-top: 2vw;
  }
  .news__view .component.results .table-row  span{
    font-size: 4vw;
  }
}
