.timetable{
  width: 100%;
  padding: 2vw 0;
}
.timetable .header{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.timetable .header .lft{
  width: 50%;
  display: flex;
  flex-direction: row;
  border-left: 0.06vw solid #CFDCF3;
}
.timetable .header .lft a{
  display: flex;
  width: 10vw;
  height: 2.5vw;
  justify-content: center;
  align-items: center;
  padding: 0.5vw 0;
  color: #000000;
  border: 0.04vw solid #CFDCF3;
  border-left: 0;
  background-color: #FFFFFF;
  font-size: 0.7vw;
  letter-spacing: 0.05vw;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
.timetable .header .lft a:hover,
.timetable .header .lft span:hover{
  opacity: 0.6;
}
.timetable .header .lft a.active{
  background-color: #FF6D1D;
  color: #FFFFFF;
  cursor: default;
}
.timetable .header .rgt{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.timetable .header .rgt .button{
  padding: 1vw;
  height: 2.5vw;
  background-color: #FF6D1D;
  color: #FFFFFF;
  font-size: 0.9vw;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.timetable .header .rgt .button span{
  margin-left: 0.5vw;
}

.timetable .controll .dates{
  padding-top: 1vw;
  width: 100%;
  font-size: 0.9vw;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.timetable .controll .dates span:nth-child(1){
  padding-right: 0.5vw;
}
.timetable .controll .dates span:nth-child(2){
  padding-left: 0.5vw;
}
.timetable .controll .dates .arrow{
  width: 1.3vw;
  height: 1.3vw;
  margin-left: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  cursor: pointer;
}
.timetable .controll .dates .arrow:hover{
  background-color: #CFDCF3;
}

.timetable .calendarblock{
  width: 100%;
  background-color: #FFFFFF;
  border: 0.04vw solid #CFDCF3;
  margin-top: 1vw;
  display: flex;
  flex-direction: column;
}
.timetable .calendarblock .days{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}
.timetable .calendarblock .days .null{
  width: 8vw;
  flex-shrink: 0;
}
.timetable .calendarblock .days .day{
  width: 14.28%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1vw 0;
}
.timetable .calendarblock .days .day .title{
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 0.7vw;
  text-transform: uppercase;
  letter-spacing: 0.05vw;
}
.timetable .calendarblock .days .day .date{
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 0.7vw;
  color: #888;
}
.timetable .calendarblock .days .day:after{
  content: '';
  width: 0.08vw;
  height: 0.5vw;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #CFDCF3;
}
.timetable .calendarblock .times{
  width: 100%;
}
.timetable .calendarblock .times .time{
  width: 100%;
  height: 4vw;
  display: flex;
  flex-direction: row;
}
.timetable .calendarblock .times .time .text{
  width: 8vw;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}
.timetable .calendarblock .times .time .text:after{
  content: '';
  width: 1vw;
  height: 0.04vw;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #CFDCF3;
}
.timetable .calendarblock .times .time .text span{
  position: relative;
  top: -0.6vw;
  font-size: 0.7vw;
}
.timetable .calendarblock .times .time .rows{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.timetable .calendarblock .times .time .rows .rows-row{
  width: 14.28%;
  height: 100%;
  padding: 0.2vw;
}
.timetable .calendarblock .times .time .rows .rows-row:after{
  content: '';
  width: 0.08vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #CFDCF3;
}
.timetable .calendarblock .times .time .rows:after{
  content: '';
  width: 100%;
  height: 0.04vw;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #CFDCF3;
}
.timetable .calendarblock .times .time .rows .rows-row .open{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 109, 29, 0.1);
  color: #000000;
  font-size: 0.75vw;
  cursor: pointer;
}
.timetable .calendarblock .times .time .rows .rows-row .openclose{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #CFDCF3;
  color: #6D85AF;
  font-size: 0.75vw;
  cursor: pointer;
}
.timetable .calendarblock .times .time .rows .rows-row .user{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #F0F5FF;
  color: #000000;
  font-size: 0.75vw;
  font-weight: 500;
  padding: 0 1vw;
}
.timetable .calendarblock .times .time .rows .rows-row .user img{
  width: 2vw;
  height: 2vw;
  margin-right: 1vw;
  border-radius: 0.2vw;
}

/* TIMELIST */
.timetable .list{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.timetable .list .lft{
  width: calc(70% - 0.75vw);
  margin-top: 1.5vw;
  margin-right: 0.75vw;
  border: 0.04vw solid #CFDCF3;
}
.timetable .list .lft .list-table{
  width: 100%;
}
.timetable .list .lft .list-table .date{
  width: 100%;
  background-color: #F0F5FF;
  border-bottom: 0.04vw solid #CFDCF3;
  padding: 1vw 1.5vw;
  font-weight: 500;
  color: #000000;
  font-size: 0.95vw;
}
.timetable .list .lft .list-table .item{
  width: 100%;
  background-color: #FFFFFF;
  border-bottom: 0.04vw solid #CFDCF3;
  padding: 1vw 1.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.timetable .list .lft .list-table .item .time{
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
  flex-shrink: 0;
}
.timetable .list .lft .list-table .item .user{
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  padding-left: 2vw;
  font-size: 0.9vw;
}
.timetable .list .lft .list-table .item .user img{
  height: 2vw;
  width: 2vw;
  margin-right: 1vw;
}
.timetable .list .lft .list-table .item .button{
  flex-shrink: 0;
  width: 10vw;
  height: 2.2vw;
  background-color: #F0F5FF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1vw;
  font-size: 0.8vw;
  transition: 0.3s;
}
.timetable .list .lft .list-table .item .button.h:hover{
  cursor: pointer;
  opacity: 0.6;
}
.timetable .list .rgt{
  width: calc(30% - 0.75vw);
  margin-top: 1.5vw;
  margin-left: 0.75vw;
  background-color: #FFFFFF;
  border: 0.04vw solid #CFDCF3;
  padding: 1.5vw;
}
.timetable .list .rgt .top{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.timetable .list .rgt .top img{
  width: 7.5vw;
  height: 7.5vw;
  background-color: #FF6D1D;
  flex-shrink: 0;
}
.timetable .list .rgt .top .data{
  width: 100%;
  padding-left: 1vw;
}
.timetable .list .rgt .top .data .name{
  width: 100%;
  font-size: 1.1vw;
  font-weight: 500;
}
.timetable .list .rgt .top .data .online{
  width: 100%;
  font-size: 0.8vw;
  color: #949494;
  padding-top: 0.1vw;
}
.timetable .list .rgt .top .data .date,
.timetable .list .rgt .top .data .time{
  width: 100%;
  font-size: 0.8vw;
  color: #000000;
  padding-top: 1vw;
  text-transform: uppercase;
  letter-spacing: 0.05vw;
  font-weight: 500;
}
.timetable .list .rgt .top .data .time{
  padding-top: 0.1vw;
}
.timetable .list .rgt .button{
  width: 100%;
  height: 2.8vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5vw;
  color: #FFFFFF;
  transition: 0.3s;
  cursor: pointer;
  font-size: 1vw;
}
.timetable .list .rgt .button img{
  width: 1vw;
  height: 1vw;
  margin-right: 1vw;
}
.timetable .list .rgt .button.discord{
  background-color: #7289DA;
}
.timetable .list .rgt .button.steam{
  background-color: #1D3966;
  margin-top: 0.7vw;
}
.timetable .list .rgt .button:hover{
  opacity: 0.6;
}
.timetable .list .rgt .rows-info{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 1vw;
}
.timetable .list .rgt .rows-info .r{
  width: 50%;
  flex-shrink: 0;
  margin-top: 2vw;
}
.timetable .list .rgt .rows-info .r .name{
  width: 100%;
  text-transform: uppercase;
  color: #6D6D6D;
  font-size: 0.8vw;
  letter-spacing: 0.05vw;
}
.timetable .list .rgt .rows-info .r .text{
  width: 100%;
  color: #000000;
  font-size: 0.9vw;
  padding-top: 0.5vw;
}
.timetable .list .rgt .charaster{
  margin-top: 3vw;
}
.timetable .list .rgt .charaster a{
  color: #FF6D1D;
  font-size: 1vw;
  cursor: pointer;
}
.timetable .list .rgt .charaster a img{
  height: 0.4vw;
  margin-left: 0.5vw;
}
.timetable .list .rgt .profile{
  font-size: 0.9vw;
  color: #949494;
  padding-top: 0.4vw;
}
.timetable .list .rgt .price{
  width: 100%;
  margin-top: 3vw;
}
.timetable .list .rgt .price div{
  width: 100%;
  color: #000000;
  font-size: 1.1vw;
  font-weight: 500;
  letter-spacing: 0.05vw;
}
.timetable .list .rgt .end{
  width: 100%;
  height: 2.8vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3vw;
  color: #FFFFFF;
  font-size: 1vw;
}
.timetable .list .rgt .end.closed{
  background-color: #2B2B2B;
}

/* PURSE */
.timetable .list .lft .list-table .date{
  width: 100%;
  background-color: #F0F5FF;
  border-bottom: 0.04vw solid #CFDCF3;
  padding: 1vw 1.5vw;
  font-weight: 500;
  color: #000000;
  font-size: 0.95vw;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.timetable .list .lft .list-table .date div:nth-child(1){
  width: 100%;
}
.timetable .list .lft .list-table .date div:nth-child(2){
  flex-shrink: 0;
}
.timetable .list .lft .list-table .item .stars{
  padding: 0 1vw;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.timetable .list .lft .list-table .item .stars img{
  width: 0.6vw;
  height: 0.6vw;
  margin-left: 0.3vw;
}
.timetable .list .lft .list-table .item .closed{
  width: 17vw;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  font-size: 0.9vw;
}
.timetable .list .lft .list-table .item .price{
  width: 4vw;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9vw;
}
.timetable .list .rgt.no-p{
  padding: 0;
}
.timetable .list .rgt .cont{
  width: 100%;
  padding: 0 1.5vw;
}
.timetable .list .rgt .title{
  width: 100%;
  background-color: #F0F5FF;
  border-bottom: 0.04vw solid #CFDCF3;
  padding: 0.8vw 1.5vw;
  font-weight: 500;
  color: #000000;
  font-size: 1.2vw;
}
.timetable .list .rgt .title.bt{
  border-top: 0.04vw solid #CFDCF3;
}
.timetable .list .rgt.no-p .top{
  padding: 1.5vw;
}
.timetable .list .rgt .top .data .date{
  padding-top: 1.5vw;
}
.timetable .list .rgt .top .data .time{
  font-size: 1.3vw;
}
.timetable .list .rgt .button.payment{
  background-color: #2B2B2B;
  margin-top: 0;
}
.timetable .list .rgt.no-p .rows-info{
  padding-top: 1vw;
  padding-bottom: 2vw;
}
.timetable .list .rgt.no-p .rows-info .r{
  width: 100%;
  margin-top: 1vw;
}
.timetable .list .rgt .cont.historys{
  width: 100%;
  padding-top: 1vw;
  flex-direction: column;
  margin: 0;
}
.timetable .list .history{
  width: 100%;
  padding: 1vw 2vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.9vw;
}
.timetable .list .history div{
  width: 50%;
  color: #000000;
}
.timetable .list .history div:nth-child(1){
  color: #6D6D6D;
}

/* SETTING */
.timetable .cont{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 2vw;
}
.timetable .cont .lft,
.timetable .cont .rgt{
  width: calc(50% - 4vw);
}
.timetable .cont .lft{
  margin-right: 4vw;
}
.timetable .cont .rgt{
  margin-left: 4vw;
}
.timetable .cont .title{
  width: 100%;
  font-size: 1.1vw;
  font-weight: 500;
}
.timetable .cont .inputs{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.timetable .cont .inputs .input{
  width: calc(50% - 1vw);
  margin-top: 1vw;
  flex-shrink: 0;
}
.timetable .cont .inputs .input:nth-child(odd){
  margin-right: 1vw;
}
.timetable .cont .inputs .input:nth-child(even){
  margin-left: 1vw;
}
.timetable .cont .inputs .input div{
  width: 100%;
  font-size: 0.85vw;
}
.timetable .cont .inputs .input div span{
  color: red;
}
.timetable .cont .inputs .input input,
.timetable .cont .inputs .input select{
  width: 100%;
  height: 2.4vw;
  font-size: 0.9vw;
  padding: 0 1vw;
  border: 0.04vw solid #CFDCF3;
  margin-top: 0.5vw;
}
.timetable .cont .full-input{
  width: 100%;
  margin-top: 1vw;
}
.timetable .cont .full-input div{
  width: 100%;
  font-size: 0.85vw;
}
.timetable .cont .full-input div span{
  position: absolute;
  right: 0;
  color: #9E9797;
}
.timetable .cont .full-input textarea{
  width: 100%;
  height: 7.55vw;
  font-size: 0.9vw;
  padding: 1vw;
  border: 0.04vw solid #CFDCF3;
  margin-top: 0.5vw;
}
.timetable .cont .b-r{
  width: 50%;
  padding-right: 1vw;
  margin-bottom: 1.5vw;
}
.timetable .cont .b-r .button{
  width: 100%;
  height: 2.6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  transition: 0.3s;
  cursor: pointer;
  font-size: 0.9vw;
}
.timetable .cont .b-r .button img{
  width: 1vw;
  height: 1vw;
  margin-right: 1vw;
}
.timetable .cont .b-r .button.discord{
  background-color: #7289DA;
}
.timetable .cont .b-r .button.steam{
  background-color: #1D3966;
}
.timetable .cont .b-r .button.epic{
  background-color: #424242;
}
.timetable .cont .b-r .button:hover{
  opacity: 0.6;
}
.timetable .save{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 2vw;
}
.timetable .save .button{
  width: 14vw;
  height: 2.6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  transition: 0.3s;
  cursor: pointer;
  font-size: 0.9vw;
  background-color: #FF6D1D;
}
.timetable .save .button:hover{
  opacity: 0.6;
}
