{% extends 'base.html.twig' %}
{% block title %}О нас{% endblock %}
{% block router %}about{% endblock %}
{% block body %}
    <div class="about page">
        <div class="ml-8 mr-8 p-0 d-flex">
            <div class="navigation d-flex align-items-center justify-content-between">
                <a href="{{ url('main') }}">
                    Главная
                </a>
                <i class="fas fa-arrow-right ml-2 mr-2" style="font-size: .7vw"></i>
                <span>
                    О нас
                </span>
            </div>
        </div>
        <about>
            <template v-slot:about>
                {{setting.get('about') is not null ? setting.get('about').value|raw : ''}}
            </template>
        </about>
    </div>
{% endblock %}
