{% extends 'base.html.twig' %}
{% block title %}О нас{% endblock %}
{% block router %}about{% endblock %}
{% block body %}
<h1 style="opacity: 0; position: absolute; left: 0; top: 0">
  О нас
</h1>
<div class="about">
  <div class="container">
    <div class="title">
      О нас
    </div>
    <p>Champs - это платформа для освещения киберспортивных событий, турниров и чемпионатов. Территориально студия расположена в Новосибирске и с 2020 года занимается ознакомительной деятельностью в области компьютерного спорта и медиа.</p>
    <p>Сегодня индустрия киберспортивных развлечений растет и расширяется взрывными темпами как в мире, так и на территории СНГ, и уже входит в топ 10 самых популярных мировых видов спорта. Однако на данный момент о молодом направлении осведомлены, по большей части, миллениалы и люди среднего возраста.</p>
    <p>Мы считаем необходимым расширить границы киберспортивных соревнований и привлечь в индустрию людей всех поколений, сделав их ближе в рамках одной инициативы. Будем рады стать вашим проводником в мир кибер-баталий, присоединяйтесь!</p>
    <img src="/images/Champs_Logo_About.png" class="back" class="backend" />
  </div>
</div>
{% endblock %}
