{% extends 'base.html.twig' %}
{% block title %}Положение о конкурсе{% endblock %}
{% block router %}competition{% endblock %}
{% block body %}
    <h1 style="opacity: 0; position: absolute; left: 0; top: 0">
        Положение о конкурсе
    </h1>
    <div class="politica">
       <div class="container">
           {{ setting.get('concursRegulation') is not null ? setting.get('concursRegulation').value|raw  : '' }}
       </div>
    </div>
{% endblock %}
