{% extends 'base.html.twig' %}
{% block title %}Контакты{% endblock %}
{% block router %}contact{% endblock %}
{% block body %}
<h1 style="opacity: 0; position: absolute; left: 0; top: 0">
  Контакты
</h1>
<div class="contact">
  <div class="container">
    <div class="title">Контакты</div>
    <div class="subtitle">Студия киберспортивного вещания Champs</div>
    <div class="rows">
      <div>
        <p>Адрес редакции: 630049, г.Новосибирск,<br> ул. Галущака 4, подъезд 6, офис 2</p>
        <p>ОГРН: 1155476103815</p>
      </div>
      <div>
        <p>E-mail: info@champs.pro</p>
        <p>Отдел маркетинга: marketing@champs.pro</p>
        <p>Отдел продаж: sales@champs.pro</p>
        <p>Если вы хотите работать в Champs: jobs@champs.pro</p>
        <p>Служба технической поддержки: support@champs.pro</p>
      </div>
    </div>
  </div>
  <img src="/images/Champs_Logo.png" class="back" alt="backend" />
  <div class="map">
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A7c0daed862ae9497af8f73f1ff20f4528c8599bba1fc6fa5841f00a6696332b8&amp;width=100%25&amp;height=464&amp;lang=ru_RU&amp;scroll=true"></script>
  </div>
</div>
{% endblock %}
