{% extends 'base.html.twig' %}
{% block title %}События{% endblock %}
{% block router %}events{% endblock %}
{% block description %}
  <meta name="description" content="События">
{% endblock %}
{% block keywords %}
  <meta name="Keywords" content="События">
{% endblock %}
{% block body %}
  <h1 style="opacity: 0; position: absolute; left: 0; top: 0">
    События
  </h1>
  <div class="events_view" id="events">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
          <div class="banner">
            <a href="https://bit.ly/35pUtMC" target="_blank" class="a">
                <object class="object banner" data="/images/banner2.svg" type="image/svg+xml">
                    <img src="/images/Banner.png"/>
                </object>
            </a>
          </div>
          {% include 'templates/events/currentevents.html.twig' %}
          <div v-if="isActive === false">
              {% include 'templates/events/upcomingevents.html.twig' %}
          </div>
          <div v-if="isActive === true">
              {% include 'templates/events/finishedEvents.html.twig' %}
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
          <div class="row"style="padding-left: 0.5vw;">
            {% include 'templates/events/matches.html.twig' %}
          </div>
        </div>
      </div>
    </div>
  </div>
    <script>
        const events = new Vue({
            el: '#events',
            data: {
                isActive: false,
            }
        })
    </script>
{% endblock %}
