{% extends 'base.html.twig' %}
{% block title %}События{% endblock %}
{% block router %}events{% endblock %}
{% block description %}
  <meta name="description" content="События">
{% endblock %}
{% block keywords %}
  <meta name="Keywords" content="События">
{% endblock %}
{% block body %}
  <h1 style="opacity: 0; position: absolute; left: 0; top: 0">
    События
  </h1>
  <div class="events_view">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
          <div class="banner">
<!--          <img src="/images/banner2.svg" class="banner p" alt="banner" />
          <img src="/images/banner2.svg" class="banner m" alt="banner" />-->
<object class="banner" type="image/svg+xml" data="/images/banner2.svg">
  Your browser does not support SVG
</object>
          </div>
          {% include 'templates/events/currentevents.html.twig' %}
          {% include 'templates/events/upcomingevents.html.twig' %}
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
          <div class="row"style="padding-left: 0.5vw;">
            {% include 'templates/events/matches.html.twig' %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
