{% extends 'base.html.twig' %}
{% block title %}Обучение{% endblock %}
{% block router %}marketplace{% endblock %}
{% block description %}
  <meta name="description" content="Обучения тактикам League of Legends, Dota или Cs:go">
{% endblock %}
{% block keywords %}
  <meta name="Keywords" content="Обучение League of Legends, Обучение Dota, Обучение Cs:go">
{% endblock %}
{% block body %}
<h1 style="opacity: 0; position: absolute; left: 0; top: 0">
  Marketplace
</h1>
<div class="marketplace">
  {% include 'templates/marketplace/header.html.twig' %}
  <div class="cont" id="marketplace">
    <div class="container">
      {% include 'templates/marketplace/games.html.twig' %}

{#        #}{##}
{#        <div class="game__block" v-show="game !== null" style="display: none">#}
{#          <div class="back">#}
{#            <span @click="game = null">#}
{#              <svg xmlns="http://www.w3.org/2000/svg" width="6" height="9" viewBox="0 0 6 9" fill="none">#}
{#                <path d="M0 4.5L6 8.39711L6 0.602886L0 4.5Z" fill="#363A40"/>#}
{#              </svg>#}
{#              Назад#}
{#            </span>#}
{#          </div>#}
{#          <div class="video">#}
{#            <div class="player">#}
{#              <iframe width="100%" height="100%" :src="game !== null ? items[game].video : ''" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
{#            </div>#}
{#            <div class="text">#}
{#              <div class="title" v-text="game !== null ? items[game].name : ''"></div>#}
{#              <div class="subtext" v-html="game !== null ? items[game].text : ''"></div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="skills">#}
{#            <div class="title">#}
{#              Чему вы научитесь#}
{#            </div>#}
{#            <div class="cont">#}
{#              <div class="lft">#}
{#                <div class="item">#}
{#                  <div class="round"></div>#}
{#                  <span>Грамотно отслеживать и работать по таймингам</span>#}
{#                </div>#}
{#                <div class="item">#}
{#                  <div class="round"></div>#}
{#                  <span>Выработаете качественный механический скилл в любой дисциплине</span>#}
{#                </div>#}
{#                <div class="item">#}
{#                  <div class="round"></div>#}
{#                  <span>Узнаете фишки профессиональных киберспортсменов</span>#}
{#                </div>#}
{#              </div>#}
{#              <div class="rgt">#}
{#                <div class="item">#}
{#                  <div class="round"></div>#}
{#                  <span>Получите полный разбор своих ошибок и возможные методы их решения</span>#}
{#                </div>#}
{#                <div class="item">#}
{#                  <div class="round"></div>#}
{#                  <span>Станете планомерно прогрессировать</span>#}
{#                </div>#}
{#                <div class="item">#}
{#                  <div class="round"></div>#}
{#                  <span>Приятно проведете время</span>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        #}
    </div>
    <div class="start_services">
      <div class="title__block">Как это работает?</div>
      <div class="container">
        <div class="item">
          <div class="title">1</div>
          <div class="text">Вы выбираете  профессионального тренера и удобное  время тренировки</div>
        </div>
        <div class="item">
          <div class="title">2</div>
          <div class="text">После оформления заказа открывается доступ в чат с тренером</div>
        </div>
        <div class="item">
          <div class="title">3</div>
          <div class="text">За 5 минут до начала сеанса наш профессиональный наставник связывается с вами в Discord.</div>
        </div>
      </div>
    </div>
    <div class="trainers_best">
      <div class="title__block">Выберите своего PRO</div>
      <div class="filters">
        <div class="tab">
          <div class="select">
            <div class="select_tab" @click="gameView = gameView ? false : true">
              <img v-if="game !== ''" :src="'/images/icons/' + (game === 'cs' ? 'cs.svg' : game === 'dota' ? 'dota.svg' : 'lol.svg')" />
              <span v-text="game === 'cs' ? 'Counter Strike: GO' : game === 'dota' ? 'Dota' : game === 'lol' ? 'League of Legends' : 'Выбрать игру'"></span>
              <svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.4671 0.605469L6.5 5.12623L1.53293 0.605469L0 2.00062L6.5 7.91658L13 2.00062L11.4671 0.605469Z" fill="#D6D6D6"/>
              </svg>
            </div>
            <div class="popup" v-if="gameView">
              <div @click="game = 'cs', gameView = false"><img src="/images/icons/cs.svg" />Counter Strike: GO</div>
              <div @click="game = 'dota', gameView = false"><img src="/images/icons/dota.svg" />DOTA</div>
              <div @click="game = 'lol', gameView = false"><img src="/images/icons/lol.svg" />League of Legends</div>
            </div>
          </div>
        </div>
        <div class="tab" style="visibility: hidden">
          <div class="select">
            <div class="select_tab search">
              <input type="text" placeholder="Поиск по никнейму" maxlength="15" v-model="nickname" />
              <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.8153 6.82234C13.8153 8.41196 13.112 9.86615 11.9442 10.9334C10.7751 12.0018 9.14694 12.6736 7.33264 12.6736C3.67872 12.6736 0.85 9.98348 0.85 6.82234C0.85 3.6612 3.67872 0.971094 7.33264 0.971094C10.9866 0.971094 13.8153 3.6612 13.8153 6.82234Z" stroke="#D6D6D6" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M17.4261 17.1962C17.7726 17.5129 18.3103 17.4887 18.627 17.1422C18.9437 16.7956 18.9195 16.258 18.5729 15.9413L17.4261 17.1962ZM11.4266 11.7134L17.4261 17.1962L18.5729 15.9413L12.5734 10.4585L11.4266 11.7134Z" fill="#D6D6D6"/>
              </svg>
            </div>
            <div class="popup" v-if="users.length > 0">
              <div @click="users = []" v-for="item in users">
                <img :src="'/images/icons/' + (item.game === 'cs' ? 'cs.svg' : item.game === 'dota' ? 'dota.svg' : 'lol.svg')" />
                <span v-text="item.name"></span>
              </div>
            </div>
          </div>
        </div>
        {% if app.user  %}
          {% if app.user.istrainer == false %}
            <div class="tab" v-if="specific">
              <div class="button" @click="getTainers(true)">
                Рекомендации для вас
              </div>
            </div>
          {% endif %}
        {% endif %}
      </div>
      <div class="arrow-left" @click="prevSlide" v-if="trainers.length > slideCount">
        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="31" viewBox="0 0 21 31" fill="none">
          <path d="M20.0488 27.3093L8.23902 15.4995L20.0488 3.68966L16.4042 0.0449219L0.949663 15.4995L16.4042 30.954L20.0488 27.3093Z" fill="white"/>
        </svg>
      </div>
      <div class="arrow-right" @click="nextSlide" v-if="trainers.length > slideCount">
        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="31" viewBox="0 0 21 31" fill="none">
          <path d="M0.949219 3.68877L12.759 15.4986L0.949219 27.3084L4.59384 30.9531L20.0484 15.4986L4.59384 0.044035L0.949219 3.68877Z" fill="white"/>
        </svg>
      </div>
      <div class="sliders barSlides" id="barSlides" v-if="trainers.length > 0">
        <div class="cont" :style="{left: '-' + (slideWidth * slide) + 'px'}">
          <a :href="'/ru/trainers/' + sl.game + '?id=' + sl.id" class="item slide" v-for="sl in trainers">
            <div class="top">
              <img :src="'/images/icons/' + (sl.game === 'cs' ? 'cs.svg' : sl.game === 'dota' ? 'dota.svg' : 'lol.svg')" />
              <span v-text="sl.game === 'cs' ? 'Counter Strike: GO' : sl.game === 'dota' ? 'Dota' : 'League of Legends'"></span>
            </div>
            <div class="photo">
              <img :src="sl.photo !== null ? '/images/temp/matches/' + sl.photo : '/images/icons/nophoto.png'" alt="ingrosso" />
            </div>
            <div class="bottom">
              <div v-text="sl.nickname"></div>
              <div>
                <img v-for="i in 5" src="/images/StarOrange.svg" / >
              </div>
            </div>
            <div class="text" v-text="sl.trainer.about.slice(0, 35) + (sl.trainer.about.length > 35 ? '...' : '')"></div>
          </a>
        </div>
      </div>
      <div class="pagination-bar">
        <div v-for="(i, i2) in slideCounts" :class="[slide === i2 ? 'active' : '']"></div>
      </div>
    </div>
    <div class="faq">
      <div class="container">
        <div class="flex-row">
          <div class="title">О сервисе</div>
          <div class="text">
            Сервис Champs предоставляет широкие возможности для игроков всех уровней и направлений. Вне зависимости от того, профессиональный ли вы геймер или начинающий пользователь - на нашей бирже вы найдете то, что ищете.<br/><br/>
            Используя услуги платформы вы можете подобрать себе профессионального тренера, вести свой дневник, следить за оценками менторов и многое другое. В тоже время, как тренер, вы способны заработать на своих навыках, а также улучшить коммуникативные способности.
          </div>
        </div>
        <div class="flex-row">
          <div class="title">FAQ</div>
          <div class="text faqtext">
            <div class="sub">
              <div class="subtitle" @click="setView(0, $event)" :class="[hView[0] !== 0 ? 'open' : '']">Что, если игры нет в списке?<span v-text="hView[0] !== 0 ? '-' : '+'"></span></div>
              <div class="subtext" :style="{height: hView[0] + 'px'}">
                <div>В настоящее время мы находимся в процессе добавления игр на нашу платформу. Если у вас есть проект, в котором вы бы хотели улучшить свои навыки или научить ему других, отправьте письмо на адрес <a href="mailto:tech@champs.pro">tech@champs.pro</a></div>
              </div>
            </div>
            <div class="sub">
              <div class="subtitle" @click="setView(1, $event)" :class="[hView[1] !== 0 ? 'open' : '']">Должен ли я платить, чтобы пользоваться вашими услугами?<span v-text="hView[1] !== 0 ? '-' : '+'"></span></div>
              <div class="subtext" :style="{height: hView[1] + 'px'}">
                <div>Да, услуги игроков не бесплатны и они сами устанавливают цены за занятия. Чем выше профессионализм тренера, тем больше он запросит за одну обучающую сессию. Мы являемся посредниками между вами и тренерами.</div>
              </div>
            </div>
            <div class="sub">
              <div class="subtitle" @click="setView(2, $event)" :class="[hView[2] !== 0 ? 'open' : '']">Как я могу вам доверять? Где находится юридическая информация о компании?<span v-text="hView[2] !== 0 ? '-' : '+'"></span></div>
              <div class="subtext" :style="{height: hView[2] + 'px'}">
                <div>Всю юридическую информацию о компании вы можете найти в разделе <a href="/contact">“Контакты”</a>. Мы являемся официально зарегистрированной компанией и гарантируем честное взаимодействие ученика и тренера. </div>
              </div>
            </div>
            <!--div class="sub">
              <div class="subtitle" @click="setView(3, $event)" :class="[hView[3] !== 0 ? 'open' : '']">Как я могу присоединится к вам в качестве PRO?<span v-text="hView[3] !== 0 ? '-' : '+'"></span></div>
              <div class="subtext" :style="{height: hView[3] + 'px'}">
                <div>Просто напишите нам на <a href="mailto:partners@champs.pro">partners@champs.pro</a> письмо о себе и игровом опыте и мы поможем вам раскрыться в качестве высокооплачиваемого тренера.</div>
              </div>
            </div-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const marketplace = new Vue({
    el: '#marketplace',
    watch: {
      nickname(val) {
        this.users = [];
      }
    },
    data: function () {
      return {
        specific: false,
        hView: [0, 0, 0, 0],
        slideWidth: 0,
        game: '',
        gameView: false,
        nickname: '',
        users: [],
        slide: 0,
        slideCount: 3,
        slideCounts: 0,
        trainers: [],
        items: [
          {
            name: 'Играй в Counter-Strike:GO вместе с профессионалом',
            text: 'Нет времени на поиск адекватного стака? Устали играть с рандомами и проигрывать, казалось бы, выигрышные серии? Пришла пора менять правила игры и переходить на качественно новый уровень. Наш сервис обеспечит вас всем необходимым для постепенного и качественного прогресса.<br/>Используйте Champs, чтобы играть с высококвалифицированными, нетоксичными и крайне эффективными тиммейтами. Проводите матчи с игроками, входящими в 0,1% лучших геймеров CS:GO и прокачайте ранг в 10 раз быстрее. С мастерами своего дела вы завершите каждый свой поединок с удовольствием.',
            video: 'https://www.youtube.com/embed/UTHRxLqMjAs',
          },
          {
            name: 'Апай MMR совместно с PRO',
            text: 'Уже долгое время играете в Dota 2, но не хватает время на поиск ошибок? Хочется играть на высоком рейтинге, при этом не заказывая бустинг? Тогда пришла пора начать с пользой проводить время в игре! Наш сервис поможет связаться с профессиональным геймерами, что значительно ускорит ваш прогресс.<br/>Регистрируйтесь на Champs и пользуйтесь услугами топовых игроков, входящих в первую сотню СНГ региона. С мастерами своего дела вы не только сможете улучшить показатели, но и провести каждую игровую сессию с удовольствием.',
            video: 'https://www.youtube.com/embed/SvmhgZj4Uaw',
          },
          {
            name: 'Поднимай Эло с удовольствием',
            text: 'Уверены, каждый из нас был в ситуации, когда уже долгое время нет прогресса и желание делать что-то отсутствует. В этом случае вы обратились по адресу, ведь тренера нашей биржи не только дадут дельный совет по игре и разберут комплексные игровые моменты, но и смогут помочь непосредственно в самом матче.<br/>Заходите на биржу Champs, выбирайте высококлассного тренера и отправляйтесь на поля сражений. В связке с топовым исполнителем вы не только обеспечите себе стабильный прирост скилла и очков рейтинга, но и получите удовольствие от каждого матча.',
            video: 'https://www.youtube.com/embed/nP_KTFcLk58',
          },
        ],
      };
    },
    watch: {
      game() {
        this.getTainers(false);
      }
    },
    methods: {
      setView(id, e) {
        const h = e.target.parentNode.querySelector('.subtext').querySelector('div').clientHeight;
        if (this.hView[id] !== 0) {
          this.hView = [0, 0, 0, 0];
        } else {
          this.hView = [0, 0, 0, 0];
          this.hView[id] = h;
        }
      },
      nextSlide() {
        this.slideWidth = document.querySelectorAll('.item.slide')[0].clientWidth;
        if (this.slide < (document.querySelectorAll('.item.slide').length - this.slideCount)) {
          this.slide = this.slide + 1;
        } else {
          this.slide = 0;
        }
      },
      prevSlide() {
        this.slideWidth = document.querySelectorAll('.item.slide')[0].clientWidth;
        if (this.slide > 0) {
          this.slide = this.slide - 1;
        } else {
          this.slide = (document.querySelectorAll('.item.slide').length - this.slideCount);
        }
      },
      getTainers(rec = false) {
        const th = this;
        let game = 'all';
        if (this.game !== '') {
          game = this.game;
        }
        let path = '';
        if (rec) {
          {% if app.user  %}
            {% if app.user.istrainer == false %}
              path = '/ru/recomendations/for-user/{{app.user.id}}';
            {% endif %}
          {% endif %}
        } else {
          path = '/ru/trainers/slider/' + game;
        }
        axios.get(path)
        .then((res) => {
          th.trainers = res.data;
          if (window.innerWidth > 1000) {
            this.slideCount = 3;
          } else {
            if (window.innerWidth > 600) {
              this.slideCount = 3;
            } else {
              this.slideCount = 1;
            }
          }
          if (th.trainers.length > this.slideCount) {
            this.slideCounts = th.trainers.length - (this.slideCount - 1);
          } else {
            this.slideCounts = 0;
          }
        })
        .catch(() => {
          th.trainers = [];
          this.slideCounts = 0;
        });
      }
    },
    mounted() {
      this.getTainers(false);
      const th = this;
      {% if app.user  %}
        {% if app.user.istrainer == false %}
          axios.get('/ru/characteristics/by-user/{{app.user.id}}')
          .then((res) => {
            if (res.data) {
              th.specific = true;
            }
          })
        {% endif %}
      {% endif %}
    }
  });
</script>

{% endblock %}
