{% extends 'base.html.twig' %}
{% block body %}
    <div class="home mt-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="banner">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact">
        <div class="container">
            <h3 class="text-center mt-5 {{ messageClass }}">{{ message }}</h3>
        </div>
        <img src="/images/Champs_Logo.png" class="back" alt="backend" />
    </div>
    <div style="height: 400px;">

    </div>
{% endblock %}
