{% extends 'base.html.twig' %}
{% block title %}Оферта на оказание услуг «Champs.Маркет»{% endblock %}
{% block router %}offer{% endblock %}
{% block body %}
    <h1 style="opacity: 0; position: absolute; left: 0; top: 0">
        Оферта на оказание услуг «Champs.Маркет»
    </h1>
    <div class="politica">
        <div class="container">
            <div class="title">
                Оферта на оказание услуг «Champs.Маркет»
            </div>
            <div class="normal">
                Российская Федерация, город Москва
            <br/>
                Дата размещения: 26 июля 2020 г.
            <br/>
                Дата вступления в силу: 26 июля 2020 г.
            <br/>
                Настоящий документ представляет собой предложение Общества с ограниченной ответственностью «Открытый Бизнес» (далее — «Champs») заключить Договор на оказание Услуг «Champs.Маркет» на изложенных ниже условиях.
            </div>
            <div class="bold">
                1. Термины и определения
            </div>
            <div class="normal">
                1.1. В целях настоящего документа нижеприведенные термины используются в следующем значении:
                <br/>
                Акцепт Оферты — полное и безоговорочное принятие Оферты путем осуществления действий, указанных в п. 6.2. и 6.4. Оферты;
                <br/>
                База данных «Champs.Маркет» — представляет собой информационно-справочную систему, содержащую информацию о товарах и услугах , предназначенную для потенциальных покупателей (потребителей) товаров;
                <br/>
                Веб-интерфейс клиента — программный интерфейс взаимодействия Заказчика с системой Champs.Маркет, который содержит информацию о Заказчике, данные статистики и иную информацию в отношении Услуг Champs.Маркет, а также предоставляет возможность удаленного взаимодействия Сторон в рамках Договора, доступный Заказчику после авторизации с использованием логина и пароля Заказчика на сайте Champs, через прикладные программы (в том числе программы для мобильных устройств) или API;
                <br/>
                Данные статистики — данные систем автоматизированного учета информации Champsа, которые в том числе могут содержать сведения о количестве Кликов и Показов, стоимости Услуг Champs.Маркет и иные сведения, относящиеся к размещению Материалов, в электронном виде;
                <br/>
                Договор — возмездный договор между Заказчиком и Champs на оказание Услуг «Champs.Маркет», который заключается посредством Акцепта Оферты;
                <br/>
                Заказчик (Клиент) — лицо, осуществившее Акцепт Оферты и являющееся рекламодателем и заказчиком Услуг «Champs.Маркет» по заключенному Договору;
                <br/>
                Клик — обращение пользователя по содержащейся в Материалах Ссылке;
                <br/>
                Лицо, дублирующее Заказчика (Клиента) — лицо, отличное от Заказчика, вне зависимости от его организационно-правовой формы, предлагающее аналогичный или сходный перечень товаров и (или) имеющее идентичные реквизиты (местонахождения точек продажи или самовывоза, номера контактных телефонов, адреса электронной почты и т.п.) с Заказчиком. К Лицам, дублирующим Заказчика, в любом случае относятся лица, осуществляющие искусственное вредоносное увеличение количества Материалов, основной целью которого является неконкурентное увеличение количества Кликов;
                <br/>
                Материалы — предоставляемые Заказчиком рекламно-информационные материалы, содержащие сведения об ассортименте, ценах, характеристиках, наличии в продаже товаров, предлагаемых в магазине Заказчика потенциальным покупателям в текущий период, информацию о нахождении точек продаж Заказчика, изображения, описания и иные согласованные Сторонами сведения о товарных предложениях и/или магазине Заказчика;
                <br/>
                Место размещения — место на веб-страницах информационных ресурсов в сети Интернет или в Сервисе Champs.Маркет, определенное для размещения (показа) Материалов и/или их определенных составных частей (изображений, описаний и т.п.);
                <br/>
                Оферта — настоящий документ «Оферта на оказание услуг «Champs.Маркет», размещенный в сети Интернет по адресу
                <a href="https://champs.pro/offer">https://champs.pro/offer</a>;
                <br/>
                Показ — размещение/отображение Материалов на Местах размещения;
                <br/>
                Пользователь — лицо, являющееся посетителем/пользователем информационных ресурсов (вебсайтов, приложений, программ для ЭВМ и пр.) Champs в сети Интернет;
                <br/>
                Сервис Champs.Маркет — означает все веб-сайты (включая, но не ограничиваясь, размещенными в сети Интернет по адресу:
                <a href="https://champs.pro">https://champs.pro</a>; https://любые под домена.champs.pro;  прикладные программы (в том числе программы для мобильных устройств) Champs или его аффилированных лиц, предоставляющие доступ к Базе данных Champs.Маркет;
                <br/>
                Ссылка — текстовая ссылка или изображение, включенные Заказчиком в Материалы, переадресующие обратившихся к ним посредством Клика пользователей:
                <br/>
                А) к информационному ресурсу (сайту) в сети Интернет (сайт Заказчика/магазин Заказчика), адрес (URL) которого указан Заказчиком;
                <br/>
                Б) на специальные разделы Сервиса Champs.Маркет «Магазины»,«Отзывы», «Рейтинг», содержащую информацию о Заказчике;
                <br/>
                Услуги «Champs.Маркет» — услуги Champs, связанные с размещением Материалов на Местах размещения (услуги, предусмотренные пунктом 2.1 Оферты);
                <br/>
                1.2. В Оферте могут быть использованы термины, не определенные в п.1.1. Оферты. В этом случае толкование такого термина производится в соответствии с текстом Оферты. В случае отсутствия однозначного толкования термина в тексте Оферты следует руководствоваться толкованием термина, определенным: в первую очередь — законодательством РФ, во вторую очередь — на Сервисе Champs.Маркет, затем — сложившимся (общеупотребимым) в сети Интернет.
            </div>
            <div class="bold">
                2. Предмет Договора
            </div>
            <div class="normal">
                2.1. Предметом Договора является возмездное оказание Champs Заказчику Услуг «Champs.Маркет» на условиях Оферты. Услуги Champs.Маркет включают в себя размещение Champs Материалов Заказчика на Местах размещения.
            </div>
            <div class="bold">
                3. Условия оказания услуг
            </div>
            <div class="normal">
                3.1. Обязательным условием оказания Champs Услуг ”Champs.Маркет” является принятие и соблюдение Заказчиком, применение к отношениям сторон по Договору требований и положений, изложенных в Оферте и определенных внутренними документами Champs.
                <br/>
                3.2. Если иное не предусмотрено Общими Условиями, Champs приступает к оказанию Заказчику Услуг с момента совокупного выполнения Заказчиком следующих условий:
                <br/>
                3.2.1. Заказчик предоставил Материалы, соответствующие требованиям Договора;
                <br/>
                3.2.2. Заказчик осуществил Акцепт Оферты.
                <br/>
                3.3. Заказчик самостоятельно осуществляет подготовку Материалов и предоставление их Champs, в порядке, изложенном в документе «Требования к формату и методу передачи данных». Заказчик самостоятельно и в полном объеме несет предусмотренную законодательством ответственность как лицо, осуществившее приведение информации в готовую для распространения в виде рекламы форму и гарантирует соответствие составленных и предоставленных им для размещения Champs в указанном выше порядке Материалов всем требованиям действующего законодательства.
                <br/>
                3.4. В случае если Материалы предоставлены Заказчиком с нарушением правил и требований Договора (в т.ч. Общих Условий), Champs вправе отказать в размещении таких Материалов, приостановить или прекратить оказание Услуг в отношении таких Материалов, расторгнуть Договор.
                <br/>
                3.5. Места размещения Материалов определяются в соответствии с положениями документа «Общие условия».
                <br/>
                3.6. Заказчик не вправе передавать свои права по Договору какой-либо третьей стороне без предварительного согласия Champs. Обязанность подтверждения наличия такого согласия возлагается на Заказчика.
                <br/>
                3.7. Услуги предоставляются Заказчику в объеме, соответствующем сумме произведенной им предоплаты (если Офертой не предусмотрено иное). Champs оставляет за собой право немедленно приостановить оказание Услуг и/или расторгнуть Договор в одностороннем порядке в случае, если стоимость Услуг, оказанных Champs по Договору, стала равной или превысила сумму, перечисленную Заказчиком на расчетный счет Champs или ООО «Champs» в качестве предоплаты за оказание Услуг.
                <br/>
                3.8. Заказчик самостоятельно несет ответственность за сохранность и конфиденциальность регистрационных данных (логин и пароль). Все действия, осуществленные в отношении размещения Материалов через Веб-интерфейс клиента с использованием логина и пароля Заказчика, считаются осуществленными Заказчиком. Заказчик самостоятельно несет ответственность перед третьими лицами за все действия, совершенные с использованием логина и пароля Заказчика.
                <br/>
                3.9. Заказчик признает, что в целях Договора, в частности, для определения количества Тренировок, количества времени тренировок, стоимости Услуг, а равно момента начала и периода оказания Услуг используются исключительно Данные статистики Champs.
                <br/>
                3.10. В рамках настоящего Договора Champs не осуществляет размещение Материалов в отношении работ или услуг.
            </div>
            <div class="bold">
                4. Права и обязанности сторон
            </div>
            <div class="normal">
                4.1. Champs обязуется:
                <br/>
                4.1.1. Оказывать Заказчику Услуги «Champs.Маркет» в соответствии с Договором, заключенным на условиях Оферты.
                <br/>
                4.1.2. При оказании Услуг по Договору обеспечить возможность ознакомления Заказчика с Данными статистики через Веб-интерфейс клиента, при этом Champs не несет ответственности в случае невозможности ознакомления Заказчика с Данными статистики по причинам, не зависящим от Champs.
                <br/>
                4.1.3. Размещать экспортируемые Заказчиком Материалы в Базу данных Champs.Маркет при условии соблюдения Заказчиком требований, изложенных в документах, указанных в п.3.1. Оферты.
                <br/>
                4.1.4. В случае отказа Заказчика от исполнения Договора по основаниям, предусмотренным Офертой, возвратить Заказчику по его письменному требованию сумму предоплаты за вычетом стоимости фактически оказанных Champs к моменту расторжения Договора Услуг. Возврат осуществляется в течение пяти рабочих дней с момента получения Champs надлежаще оформленного письменного требования Заказчика и в необходимых случаях иных документов, идентифицирующих Заказчика.
                <br/>
                4.2. Champs имеет право:
                <br/>
                4.2.1. Временно приостановить оказание Заказчику Услуг по Договору по техническим, технологическим или иным причинам, препятствующим оказанию Услуг, на время устранения таких причин.
                <br/>
                4.2.2. Приостановить оказание Услуг по Договору и/или досрочно расторгнуть Договор в одностороннем внесудебном порядке путем уведомления Заказчика в случаях: а) нарушения Заказчиком обязательства, предусмотренного п.п. 4.3.2, 4.3.3, 4.3.6, 4.3.10 Оферты; б) в случаях, предусмотренных внутренними документами Champs; в) при нарушении Заказчиком иных обязательств, принятых в соответствии с Договором.
                <br/>
                4.2.3. Осуществлять любые действия (контрольные мероприятия) по проверке соответствия содержания представленных Заказчиком Материалов требованиям Договора. Данные, полученные в результате осуществления контрольных мероприятий, являются достаточным, но не единственным основанием для установления несоответствия Материалов требованиям Договора. При этом Champs самостоятельно определяет способы, периодичность и основания проведения контрольных мероприятий.
                <br/>
                4.2.4. Приостановить оказание Услуг и/или расторгнуть Договор(-ы) с Заказчиком в одностороннем порядке в случае, если Заказчик имеет задолженность по оплате Услуг Champs (в частности нарушил срок оплаты Услуг, оказанных Заказчику по Договору, заключенному на условиях отсрочки платежа) как по договорам, заключенным на условиях настоящей Оферты, так и по другим договорам, заключенным между Champs и Заказчиком.
                <br/>
                4.2.5. Вносить изменения в Оферту, Общие Условия и иные документы, указанные в п. 3.1 Оферты, в установленном Офертой порядке.
                <br/>
                4.2.6. При размещении Материалов на Местах размещения, показ Материалов может сопровождаться дополнительными информационно-справочными материалами Сервиса Champs.Маркет (такими как информация об оценках магазина/товара, отзывы о магазинах/товарах, но не ограничиваясь указанным).
                <br/>
                4.2.7. Приостановить оказание Услуг и/или расторгнуть Договор(-ы) с Заказчиком в одностороннем порядке в случае если по результатам проверки, проведенной Champs в связи с получением негативного отзыва/негативных отзывов о Заказчике, содержащегося/содержащихся, в частности, в отзывах Пользователей; формах обратной связи на страницах Справки; ответах Пользователей на системные уведомления от Сервиса; обращениях Пользователей в службу поддержки посредством писем и/или телефонных звонков, Champs придет к выводу о наличии достаточных оснований для применения соответствующих мер.
                <br/>
                4.3. Заказчик обязуется:
                <br/>
                4.3.1. Осуществлять экспорт Материалов с соблюдением технических требований, определенных документом «Требования к формату и методу передачи данных».
                <br/>
                4.3.2. При подготовке, создании, изменении Материалов соблюдать все требования Champsа к рекламным материалам и условиям размещения, обусловленным Офертой, а также все применимые нормы и требования действующего законодательства, в том числе Федерального Закона «О рекламе», законодательства об интеллектуальной собственности, Федерального закона «О защите конкуренции», но не ограничиваясь перечисленным.
                <br/>
                4.3.3. Предоставлять Материалы, содержание которых соответствует текущим предложениям магазина Заказчика, и соблюдать заявленные условия продажи товаров.
                <br/>
                4.3.4. Предоставлять Материалы только в отношении товаров, предлагаемых к продаже на сайте Заказчика, продавцом которых является Заказчик.
                <br/>
                4.3.5. Обеспечить работоспособность сайта Заказчика, в отношении которого предоставлены Материалы, и возможность доступа к нему Пользователей при обращении по соответствующей Ссылке Заказчика.
                <br/>
                4.3.6. По требованию Champsа в срок, не превышающий трех календарных дней с момента получения данного требования, предоставить надлежаще заверенные копии документов, подтверждающие информацию о продавце, размещенную на сайте Заказчика, а также переданную Champs в составе Материалов. Стороны признают, что информация о продавце не является конфиденциальной.
                <br/>
                4.3.9. Оплатить Услуги Champs по Договору в установленные в Оферте (Договоре) сроки и порядке.
                <br/>
                4.3.10. Использовать Веб-интерфейс клиента согласно установленным Champsом правилам, указанным в Веб-интерфейсе клиента.
                <br/>
                4.3.11. Заказчик соглашается, что показ предоставленных им Материалов может сопровождаться дополнительными информационными материалами Сервиса Champs.Маркет, в том числе информацией об оценках магазина/товара, отзывами о магазинах/товарах, но не ограничиваясь указанным.
                <br/>
                4.3.12. Заказчику может быть предоставлена возможность интерактивного взаимодействия с Пользователями с помощью Чатов.
                <br/>
                Champs.Маркет вправе в одностороннем порядке вносить изменения в требования, при этом Заказчик обязуется самостоятельно отслеживать такие изменения.
                <br/>
                4.4. Заказчик имеет право:
                <br/>
                4.4.1. На доступ к Данным статистики в установленном порядке.
                <br/>
                4.4.2. Изменять Материалы (в том числе условия размещения) в любое время с соблюдением всех установленных Договором требований.
                <br/>
                4.4.3. Приостановить и/или прекратить размещение Материалов в любое время.
                <br/>
                4.4.4. В случае несогласия с изменениями, внесенными Champs в Общие условия и иные документы, указанные в п. 3.1 Оферты, отказаться от исполнения Договора в одностороннем порядке, письменно уведомив Champs в срок не позднее 7 (семи) календарных дней с момента размещения указанных изменений в силу и оплатив Champsу стоимость фактически оказанных Услуг. Договор считается расторгнутым с момента получения Champsом уведомления Заказчика
            </div>
            <div class="bold">
                5. Стоимость услуг и порядок расчетов
            </div>
            <div class="normal">
                5.1. Стоимость Услуг, оказанных Champs по Договору, определяется в соответствии с Данными статистики Champs исходя из цен на Клик и количества Кликов за отчетный период. При этом цены на Клики согласовываются Сторонами в ходе оказания Услуг Champs.Маркет с учетом назначенных Заказчиком максимальных цен на Услуги, установленных Champs минимальных цен на Услуги, а также Мест размещений и условий размещения Материалов в соответствии с Общими условиями и отражаются в данных статистики Champs.
                <br/>
                5.2. Отчетный период оказания Услуг устанавливается в пределах календарного месяца.
                <br/>
                5.3. Оплата Услуг производится Заказчиком в российских рублях в безналичном порядке.
                <br/>
                5.3.1. В целях учета стоимости оказанных Услуг, в том числе в Данных статистики Champs, могут использоваться условные единицы (у.е.). Соотношение у.е. с валютой расчетов по Договору (рубли РФ) указываются в Общих Условиях/Правилах и в Веб-интерфейсе клиента.
                <br/>
                5.4. Услуги оказываются Заказчику на условиях предварительной оплаты Услуг. Заказчик производит авансовый платеж в размере 100% (Ста процентов) от общей стоимости заказываемых Услуг на основании счета, выставленного Champsом Заказчику на оплату («Счет»), в течение 5 (пяти) календарных дней с момента выставления Счета. Для целей Оферты срок, исчисляемый в календарных днях, не включает нерабочие праздничные дни. Оплата Заказчиком Счета является Акцептом Оферты и влечет заключение Договора на условиях предварительной оплаты (п.6.2. Оферты).
                <br/>
                5.5. Заказчику при оказании Услуг может быть предоставлена частичная отсрочка оплаты Услуг, оказываемых Champs (далее — «Отсрочка платежа»).
                <br/>
                5.6. Отсрочка платежа может быть предоставлена по усмотрению Champs Заказчику, если одновременно соблюдаются следующие условия:
                <br/>
                5.6.1. Заказчик является резидентом РФ и постоянным заказчиком Услуг, в частности:
                <br/>
                - Услуги оказывались Champsом Заказчику не менее, чем в четырех отчетных периодах за последние шесть месяцев, предшествующих текущей дате;
                <br/>
                - среднемесячная стоимость Услуг, оказанных Champsом Заказчику за последние шесть месяцев, предшествующих текущей дате, составляет не менее 10 000 (десяти тысяч) рублей.
                <br/>
                5.6.2. Заказчик не имеет перед Champs и ООО «Открытый Бизнес» задолженностей по оплате Услуг по какому-либо договору (-ам); Заказчик за предшествующие шесть месяцев не нарушал срока оплаты Услуг, оказанных Заказчику по Договору, заключенному на условиях отсрочки платежа.
                <br/>
                5.6.3. Заказчик имеет платежный пароль на сайте Champs, который в обязательном порядке используется при выставлении Счета, по которому предоставляется Отсрочка платежа.
                <br/>
                5.6.4. Заказчик не является агентством, действующим в интересах и за счет Champs, либо агентством, действующим в интересах и за счет третьих лиц (конечных рекламодателей) при приобретении Услуг.
                <br/>
                5.6.5. Между Заказчиком и Champs не заключен двухсторонний письменный договор на оказание Услуг с условием последующей (полной или частичной) оплаты Услуг по факту их оказания, действующий на текущий момент.
                <br/>
                5.6.6. Заказчик осуществил Акцепт Оферты на условиях отсрочки платежа (п. 6.4. Оферты).
                <br/>
                5.7. Предложение Champs заключить Договор на условиях отсрочки платежа подтверждается путем предоставления Заказчику возможности выставления Счета с Отсрочкой платежа через Веб-интерфейс клиента (активная опция «Внести отсроченный платеж»).
                <br/>
                5.8. Отсрочка платежа предоставляется на срок 15 (пятнадцать) календарных дней с момента выставления Счета. В течение указанного срока Заказчик обязуется оплатить стоимость заказанных Услуг в размере 100% (сто процентов) от суммы Счета.
                <br/>
                5.9. Отсрочка платежа предоставляется на оплату Услуг, общая стоимость которых (сумма Счета) не превышает суммы, рассчитанной индивидуально для Заказчика в соответствии с его историей заказов и указанной в Веб-интерфейсе клиента в качестве условия Договора с Отсрочкой платежа, в частности, указывается разрешенный максимальный размер отсроченного платежа.
                <br/>
                Для целей настоящего пункта Оферты срок, исчисляемый в календарных днях, не включают нерабочие праздничные дни.
                <br/>
                5.10. Настоящим Стороны договорились, что в рамках заключенного Договора Champs имеет право произвести зачет денежных средств, перечисленных по Счету (п. 6.2. Оферты), в счет погашения задолженности, образовавшейся по другим договорам, заключенным между Champs и Заказчиком.
                <br/>
                5.11. Услуги считаются оплаченными Заказчиком с момента получения Champs подтверждения из банка о поступлении всей суммы оплаты на расчетный счет Champs или ООО «Открытый Бизнес». В отдельных случаях по собственному усмотрению Champs подтверждением факта оплаты может служить: а) факсимильная копия платежного поручения с отметкой банка об оплате при безналичной форме оплаты; б) факсимильная копия квитанции об оплате с печатью банка, через который произведена оплата; в) верификация Champs факта платежа в пользу Champsа через платежные системы в случае осуществления Заказчиком электронного платежа.
                <br/>
                5.12. Настоящим Стороны договорились, что в случае, если на момент прекращения или расторжения Договора сумма произведенной Заказчиком предоплаты Услуг превышает стоимость фактически оказанных Заказчику по Договору Услуг, то разница между указанными суммами может быть по заявлению Заказчика признана внесенной Заказчиком в счет оплаты (предоплаты) Услуг в рамках других (в том числе будущих) договоров, за исключением случаев: 1) когда иное прямо предусмотрено условиями Оферты; 2) когда иное дополнительно согласовано Сторонами при прекращении или расторжении Договора. Настоящее условие остается в силе и действует также после расторжения или прекращения Договора.
                <br/>
                5.12.1. Ежемесячно (в последний день отчетного периода) и/или в последний день оказания Услуг по Договору (Счету), Champs формирует односторонний Акт об оказанных услугах в соответствии с объемом фактически оказанных в отчетном периоде Услуг. Общими условиями или Правилами может быть предусмотрен иной порядок и сроки формирования Актов об оказанных услугах.
                <br/>
                5.12.2. Услуги считаются оказанными Champsом надлежащем образом и принятыми Заказчиком в указанном в Акте объеме, если в течение пятнадцати дней по завершении отчетного периода Champs не получил от Заказчика мотивированных письменных возражений.
                <br/>
                По истечении срока, указанного выше, претензии Заказчика по Акту, в том числе по количеству (объему), стоимости и качеству Услуг не принимаются.
                <br/>
                5.13. Сторонами согласовано, что в отношении любых денежных обязательств Сторон по Договору законные проценты (проценты на сумму долга за период пользования денежными средствами), предусмотренные ст. 317.1 ГК РФ, не начисляются.
            </div>
            <div class="bold">
                6. Акцепт оферты и заключение договора
            </div>
            <div class="normal">
                6.1. Не признается надлежащим акцептом Оферты действия, предусмотренные п.6.2, 6.4 Оферты, осуществленные:
                <br/>
                - лицом, с которым Champs или ООО «Открытый Бизнес» ранее был расторгнут Договор в связи с нарушением указанным лицом положений Оферты, а также
                <br/>
                - лицом, дублирующим Заказчика (Клиента), с которым Champs или ООО «Открытый Бизнес» ранее был расторгнут Договор, в связи с нарушением им положений Оферты.
                <br/>
                Указанные действия не влекут возникновения каких-либо обязательств со стороны Champsа.
                <br/>
                Положения настоящего пункта не распространяются на случаи, когда Champs осуществил однозначные действия, свидетельствующие о принятии Акцепта, осуществленного вышеуказанными лицами, в качестве надлежащего (фактическое начало оказания Услуг).
                <br/>
                Champs вправе самостоятельно определять технические способы ограничения Акцепта Оферты в отношении вышеуказанных лиц.
                <br/>
                6.2. Заказчик производит Акцепт Оферты путем предварительной оплаты по Счету Услуг Champs, в отношении которых заключается Договор, в течение 5 дней с момента выставления Счета.
                <br/>
                6.3. В случае если Заказчик произвел Акцепт Оферты в срок, превышающий указанный в Счете, Champs имеет право, по своему усмотрению, принять такой Акцепт и приступить к оказанию Услуг, либо отказаться от принятия такого Акцепта, возвратив Заказчику сумму предоплаты.
                <br/>
                6.4. В случае заключения Договора на условиях отсрочки платежа Заказчик производит акцепт Оферты путем совершения следующих действий:
                <br/>
                - выражения согласия с заключением Договора с Отсрочкой платежа нажатием кнопки «согласен» в Веб-интерфейсе клиента;
                <br/>
                - выставлением Счета на Услуги, оказываемые с Отсрочкой платежа.
                <br/>
                Если по истечении 15 (пятнадцати) календарных дней с момента выставления Счета с Отсрочкой платежа, Заказчик не произвел оплату Счета и в указанный период отсутствует факт оказания Услуг по такому Счету (в частности, Заказчик не начал размещение Материалов), Champs вправе аннулировать Счет и соответствующий Договор прекращает свое действие.
                <br/>
                6.5. Стороны соглашаются с тем, что:
                <br/>
                6.5.1. в случае, если Акцепт Оферты был осуществлен Заказчиком 24.05.2016 г. или позднее, лицом, оказывающим Заказчику Услуги «Champs.Маркет», является Champs, даже если оплата данных услуг была произведена Заказчиком по Счетам, выставленным ООО «Открытый Бизнес» после указанной даты. При этом оплата Счета, выставленного ООО «Открытый Бизнес» Заказчику после указанной даты, признается Сторонами надлежащим акцептом Заказчиком Оферты Champs.
            </div>
            <div class="bold">
                7. Срок действия и изменение условий Оферты
            </div>
            <div class="normal">
                7.1. Оферта вступает в силу с даты, указанной в разделе «Дата вступления в силу» и действует до момента отзыва Оферты Champs.
                <br/>
                7.2. Champs оставляет за собой право внести изменения в условия Оферты (включая документы, указанные в п. 3.1 Оферты) и/или отозвать Оферту в любой момент по своему усмотрению. В случае внесения Champs изменений в Оферту (документы, указанные в п. 3.1 Оферты), такие изменения вступают в силу с момента размещения измененного текста Оферты (документов, указанных в п. 3.1 Оферты) в сети Интернет по адресу
                <a href="https://champs.pro/offer">https://champs.pro/offer</a> (адресам, указанным в п. 3.1 Оферты для соответствующих документов), если иной срок вступления изменений в силу не определен дополнительно при таком размещении.
            </div>
            <div class="bold">
                8. Срок действия и изменение договора
            </div>
            <div class="normal">
                8.1. Акцепт Оферты Заказчиком, произведенный согласно ст. 6 Оферты, создает Договор (статья 438 Гражданского Кодекса РФ) на условиях Оферты.
                <br/>
                8.2. Договор вступает в силу с момента Акцепта Оферты Заказчиком и действует: а) до момента исполнения Сторонами обязательств по Договору, а именно оплаты Заказчиком стоимости Услуг и оказания Champs Услуг в объеме, соответствующем стоимости Услуг, либо б) до момента расторжения Договора.
                <br/>
                8.3. Заказчик соглашается и признает, что внесение изменений в Оферту (в том числе в документы, указанные в п. 3.1 Оферты) влечет за собой внесение этих изменений в заключенный и действующий между Заказчиком и Champs Договор, и эти изменения в Договор вступают в силу одновременно с такими изменениями в Оферту (в том числе в документы, указанные в п. 3.1 Оферты).
                <br/>
                8.4. В случае отзыва Оферты Champs в течение срока действия Договора, Договор считается прекращенным с момента отзыва, если иное не оговорено Champs при отзыве Оферты.
            </div>
            <div class="bold">
                9. Расторжение договора
            </div>
            <div class="normal">
                9.1. Договор может быть расторгнут:
                <br/>
                9.1.1. по соглашению Сторон в любое время;
                <br/>
                9.1.2. Champsом в случае нарушения Заказчиком условий Договора немедленно с письменным уведомлением Заказчика;
                <br/>
                9.1.3. по иным основаниям, предусмотренным настоящей Офертой и/или действующим законодательством РФ.
                <br/>
                9.2. Обязательства Сторон по Договору, которые в силу своей природы должны продолжать действовать (включая обязательства в отношении конфиденциальности, проведения взаиморасчетов, использованию информации, но, не ограничиваясь указанным), остаются в силе после окончания действия Договора.
                <br/>
                9.3. Прекращение срока действия Договора по любому основанию не освобождает Стороны от ответственности за нарушения условий Договора, возникшие в течение срока его действия.
            </div>
            <div class="bold">
                10. Гарантии
            </div>
            <div class="normal">
                10.1. В течение срока действия Договора Champs предпримет все усилия для устранения каких-либо сбоев и ошибок, в случае их возникновения. При этом Champs не гарантирует отсутствия ошибок и сбоев при размещении Материалов, в том числе в отношении работы программного обеспечения.
                <br/>
                10.2. За исключением гарантий, прямо указанных в тексте Оферты, Champs не предоставляет никаких иных прямых или подразумеваемых гарантий по Договору и прямо отказывается от каких-либо гарантий или условий в отношении не нарушения прав и соответствия Услуг конкретным целям Заказчика.
                <br/>
                10.3. Производя Акцепт Оферты, Заказчик (или представитель Заказчика, в т.ч. физическое лицо, должным образом уполномоченное заключить Договор от лица Заказчика) подтверждает и гарантирует Champsу, что:
                <br/>
                10.3.1. Заказчик (представитель Заказчика) указал достоверные данные, в том числе персональные данные Заказчика (представителя Заказчика) при регистрации в качестве пользователя на Champs и достоверные данные, в том числе персональные, Заказчика при оформлении платежных документов по оплате Услуг.
                <br/>
                10.3.2. Заказчик дает согласие на обработку Champsом персональных данных, указанных Заказчиком при регистрации на Champs и/или при заключении Договора, в том числе на совершение Champs действий, предусмотренных п. 3 ст. 3 Федерального закона от 27.07.2006 года № 152-ФЗ «О персональных данных», любыми способами, для целей заключения и исполнения Договора.
                <br/>
                10.3.3. Заказчик (представитель Заказчика): а) полностью ознакомился с условиями Оферты, б) полностью понимает предмет Оферты и Договора, в) полностью понимает значение и последствия своих действий в отношении заключения и исполнения Договора.
                <br/>
                10.3.4. Заказчик (представитель Заказчика) обладает всеми правами и полномочиями, необходимыми для заключения и исполнения Договора.
                <br/>
                10.3.5. Размещение (воспроизведение, показ), иное использование Champs Материалов по Договору, а также Материалы (их содержание), к которым осуществляется переадресация пользователей, не нарушает и не влечет за собой нарушение каких-либо прав третьих лиц и действующего законодательства, в связи с чем Заказчик несет ответственность в соответствии с п.п.11.5, 11.6 Оферты.
            </div>
            <div class="bold">
                11. Ответственность и ограничение ответственности
            </div>
            <div class="normal">
                11.1. За нарушение условий Договора Стороны несут ответственность, установленную Договором и/или действующим законодательством РФ.
                <br/>
                11.2. Champs ни при каких обстоятельствах не несет никакой ответственности по Договору за: а) какие-либо косвенные убытки и/или упущенную выгоду Заказчика и/или третьих сторон вне зависимости от того, мог Champs предвидеть возможность таких убытков или нет; б) использование/невозможность использования Заказчиком и/или третьими лицами любых средств и/или способов передачи/получения Материалов и/или информации.
                <br/>
                11.3. Совокупный размер ответственности Champs по Договору, включая размер штрафных санкций (пеней, неустоек) и/или возмещаемых убытков, по любому иску или претензии в отношении Договора или его исполнения, ограничивается 5% стоимости Услуг по Договору.
                <br/>
                11.4. Стороны освобождаются от ответственности за частичное или полное неисполнение обязательств по настоящему Договору, если это неисполнение явилось следствием обстоятельств непреодолимой силы, которые возникли после заключения Договора, либо если неисполнение обязательств Сторонами по Договору явилось следствием событий чрезвычайного характера, которые Стороны не могли ни предвидеть, ни предотвратить разумными мерами.
                <br/>
                11.5. Заказчик несет ответственность в полном объеме за а) соблюдение всех требований законодательства, в том числе законодательства о рекламе, об интеллектуальной собственности, о конкуренции, о персональных данных, но не ограничиваясь перечисленным, в отношении содержания и формы Материалов и материалов, на которые Заказчик устанавливает Ссылку с Материалов, использование сайта (доменного имени сайта), на который установлена Ссылка, иные действия, осуществляемые им в качестве рекламодателя и/или рекламопроизводителя; б) достоверность сведений, указанных им при регистрации в качестве пользователя на Champs, достоверность сведений, указанных в Материалах.
                <br/>
                11.6. Принимая во внимание условия п.11.5 Оферты, Заказчик обязуется своими силами и за свой счет разрешать споры и урегулировать претензии третьих лиц в отношении Материалов, в связи с их размещением по Договору, либо возместить убытки (включая судебные расходы), причиненные Champs в связи с претензиями и исками, основанием предъявления которых явилось размещение Материалов Заказчика по Договору. В случае если содержание, форма и/или размещение Материалов Заказчика по Договору явилось основанием для предъявления к Champs предписаний по уплате штрафных санкций со стороны государственных органов, Заказчик обязуется незамедлительно по требованию Champs предоставить ему всю запрашиваемую информацию, касающуюся размещения и содержания Материалов, содействовать Champs в урегулировании предписаний, а также возместить все убытки (включая расходы по уплате штрафов), причиненные Champs вследствие предъявления ему предписаний в результате размещения Материалов Заказчика.
                <br/>
                11.7. В случае нарушения Заказчиком условий Договора Champs вправе приостановить оказание Услуг до момента устранения Заказчиком допущенных нарушений и возмещения (компенсации) причиненных Champsу таким нарушением убытков в полном объеме и/или расторгнуть Договор. При расторжении Договора по указанному основанию Champs вправе путем удержания взыскать с Заказчика предъявленные в соответствии с Договором суммы неустоек и убытков
            </div>
            <div class="bold">
                12. Прочие условия
            </div>
            <div class="normal">
                12.1. Договор, его заключение и исполнение регулируется действующим законодательством Российской Федерации. Все вопросы, не урегулированные Офертой или урегулированные не полностью, регулируются в соответствии с материальным правом Российской Федерации. Если споры между Заказчиком и Champs в отношении Договора не разрешены путем переговоров Сторон, они подлежат рассмотрению в порядке, предусмотренном действующим законодательством в Арбитражном суде г. Новосибирска.
                <br/>
                12.2. Стороны согласились, что условие сохранения конфиденциальности регистрационных данных (включая персональные данные), указанных Заказчиком при регистрации на Champs и/или при заключении Договора, не распространяется на случаи использования Champsом таких данных в целях выставления Заказчику счетов на оказание Услуг, счетов-фактур и оформления с Заказчиком актов сдачи-приемки Услуг, а также в случае передачи регистрационных данных третьим лицам в целях, связанных с оказанием Услуг. В указанных документах подлежат указанию данные (в том числе персональные данные) и реквизиты, предоставленные Заказчиком.
                <br/>
                12.3. Любые уведомления по Договору могут направляться одной Стороной другой Стороне: 1) по электронной почте а) на адрес электронной почты Заказчика, указанный им при регистрации на Champs, с адреса электронной почты Champs, указанного в п.13 Оферты в случае, если получателем является Заказчик, и б) на адрес электронной почты Champsа, указанный в п.13 Оферты, с адреса электронной почты Заказчика, указанного им при регистрации на Champs; 2) по факсу; 3) почтой с уведомлением о вручении или курьерской службой с подтверждением доставки.
                <br/>
                12.3.1. Стороны согласовали, что Акты об оказанных услугах, счета и счета-фактуры могут направляться Champs Заказчику в виде электронного документа, подписанного усиленной квалифицированной электронной подписью в соответствии с требованиями Федерального закона «Об электронной подписи» № 63-ФЗ от 06.04.2011. Иные виды документов могут направляться Champs Заказчику в виде электронного документа в указанном выше порядке при условии предварительного уведомления об этом Champs Заказчика любым из следующих способов: по электронной почте; факсом; курьером; почтой; посредством отправки Champs Заказчику электронного документа, подписанного усиленной квалифицированной электронной подписью в соответствии с требованиями Федерального закона «Об электронной подписи» № 63-ФЗ от 06.04.2011.
                <br/>
                Настоящим Стороны подтверждают и гарантируют, что для целей обмена электронными документами в указанных выше случаях может применяться исключительно квалифицированная электронная подпись и гарантируют соблюдение ими при участии в электронном документообороте всех требований Федерального закона «Об электронной подписи» № 63-ФЗ от 06.04.2011 и иного применимого законодательства.
                <br/>
                Отправка Champs Актов об оказанных услугах, счетов и счетов-фактур указанным выше способом осуществляется только при выполнении Заказчиком следующих условий:
                <br/>
                - Заказчик является абонентом оператора электронного документооборота;
                <br/>
                - Заказчик подписал с Champs соглашение об электронном документообороте, воспользовавшись для указанных целей своим личным кабинетом в системе оператора электронного документооборота.
                <br/>
                Champs и Заказчик признают, что в электронном документе наименование стороны «Продавец» равнозначно наименованию «Champs» или «Исполнитель», а наименование «Покупатель» равнозначно наименованию «Рекламодатель» или «Заказчик».
                <br/>
                12.4. В случае если одно или более положений Оферты являются по какой-либо причине недействительными, не имеющими юридической силы, такая недействительность не оказывает влияния на действительность любого другого положения Оферты (Договора), которые остаются в силе.
                <br/>
                12.5. Не вступая в противоречие с условиями Оферты, Заказчик и Champs вправе в любое время оформить Договор на оказание Услуг в форме письменного двухстороннего документа.
                <br/>
                12.6. В случаях, предусмотренных действующим законодательством, при осуществлении расчетов за Услуги, при возврате денежных средств, полученных в результате указанных расчетов, кассовый чек направляется на адрес электронной почты, указанный при выставлении счета, либо созданный при регистрации в учетной записи, под которой Заказчик был авторизирован при оплате.
                <br/>
                При осуществлении расчетов за Услуги, предусмотренных п. 5.3 ст. 1.2 Федерального закона от 22.05.2003 г. № 54-ФЗ, Заказчик обязан указывать в назначении платежа информацию о номере счета, выставленного Champsом Заказчику, а также наименование/ФИО Заказчика. В случае неполучения Champs, отсутствия, неполноты и/или недостоверности какой-либо из указанной информации расчет считается совершенным только после получения Champs от Заказчика полной и достоверной информации о назначении платежа в соответствии с требованиями, указанными в настоящем пункте выше.
            </div>
            <div class="bold">
                13. Реквизиты Champsа
            </div>
            <div class="normal">
                Наименование: ООО «Открытый Бизнес»
                <br/>
                Адрес места нахождения: 630049, г.Новосибирск, ул. Галущака 4, подъезд 6, офис 2
                <br/>
                Адрес для уведомлений: 630049, г.Новосибирск, ул. Галущака 4, подъезд 6, офис 2
            </div>
        </div>
    </div>
{% endblock %}
