{% extends 'base.html.twig' %}
{% block title %}Оферта на оказание услуг «Champs.Маркет»{% endblock %}
{% block router %}offer{% endblock %}
{% block body %}
    <h1 style="opacity: 0; position: absolute; left: 0; top: 0">
        Оферта на оказание услуг «Champs.Маркет»
    </h1>
    <div class="politica">
        <div class="container">
            {{setting.get('offerPolicy') is not null ? setting.get('offerPolicy').value|raw  : ''}}
        </div>
    </div>
{% endblock %}
