{% extends 'base.html.twig' %}
{% block title %}Политика в отношении обработки персональных данных{% endblock %}
{% block router %}politica{% endblock %}
{% block body %}
    <h1 style="opacity: 0; position: absolute; left: 0; top: 0">
        Политика в отношении обработки персональных данных
    </h1>
    <div class="politica" style="">
        <div class="container">
            {{setting.get('privacyPolicy') is not null ? setting.get('privacyPolicy').value|raw  : ''}}
        </div>
    </div>
{% endblock %}
