{% extends 'base.html.twig' %}
{% block title %}Правила использования сервиса «Сhamps.Маркет»{% endblock %}
{% block router %}rules{% endblock %}
{% block body %}
    <h1 style="opacity: 0; position: absolute; left: 0; top: 0">
        Правила использования сервиса «Сhamps.Маркет»
    </h1>
    <div class="politica">
       <div class="container">
           {{setting.get('termsOfUse') is not null ? setting.get('termsOfUse').value|raw  : ''}}
       </div>
    </div>
{% endblock %}
