{% extends 'base.html.twig' %}
{% block title %}Правила использования сервиса «Сhamps.Маркет»{% endblock %}
{% block router %}rules{% endblock %}
{% block body %}
    <h1 style="opacity: 0; position: absolute; left: 0; top: 0">
        Правила использования сервиса «Сhamps.Маркет»
    </h1>
    <div class="politica">
        <div class="container">
            <div class="title">
                Правила использования сервиса «Сhamps.Маркет»
            </div>
            <div class="normal">
                Пользуясь сервисом «Сhamps.Маркет» (далее — «Сервис»), предлагаемым ООО «Открытый Бизнес» (далее – «Сhamps.Маркет»), пользователь сети Интернет (далее – «Пользователь») соглашается с настоящими Правилами, а также принимает условия следующих документов ООО «Открытый Бизнес» (ОГРН: 1155476103815), регулирующих использование Сервиса:
            </div>
            <div class="normal">
                Пользовательское соглашение сервисов Champ(<a href="https://champs.pro/terms-of-use">https://champs.pro/terms-of-use</a>);
                Политика конфиденциальности (<a href="https://champs.pro/politica">https://champs.pro/politica</a>).
            <br/>
                Сервис предоставляет Пользователю бесплатную возможность поиска информации о тренировках, тренерах, ознакомления с предложениями тренеров, возможность получения (в т.ч. по результатам поиска) релевантных интересам Пользователя товарных предложений и информации, а также иные функциональные возможности, явно доступные Пользователю.
            </div>
            <div class="normal">
                При использовании Пользователем Сервиса персональная информация Пользователя передается в ООО «Открытый Бизнес» для обработки на условиях и для целей, определенных в Политике конфиденциальности (<a href="https://champs.pro/politica">https://champs.pro/politica</a>).
            </div>
            <div class="normal">
                Правила выставления оценок, написания отзывов, вопросов и ответов Пользователей о тренировках и тренерах, приложения графических изображений, составления подборок и/или обзоров тренировок:
            </div>
            <div class="normal">
                оставлять отзывы о тренировках и тренерах, размещенных на сайте Сервиса (<a href="https://champs.pro/marketplace">https://champs.pro/marketplace</a>), в том числе с приложением графических изображений процесса тренировки, а также комментарии к опубликованным отзывам, вопросам и ответам Пользователей о тренерах может только зарегистрированный Пользователь;
            </div>
            <div class="normal">
                публиковать вопросы и ответы Пользователя о тренерах в карточке тренера может только зарегистрированный Пользователь;
            </div>
            <div class="normal">
                составлять подборки и/или обзоры тренировок может только Пользователь, который согласился с условиями Оферты (<a
                        href="https://champs.pro/offer">https://champs.pro/offer</a>);
            </div>
            <div class="normal">
                ставить оценки тренировкам и тренерам при использовании Сервиса может Пользователь — зарегистрированный на Сhamps.Маркет;
            </div>
            <div class="normal">
                при оставлении отзыва, вопроса и ответа Пользователя о тренировке, комментария и/или отзыву о тренере, то вместе с отзывом, вопросом/ответом, комментарием Пользователя будет опубликованы его фамилия и имя, указанные им в учетной записи на Сhamps.Маркет. При этом в случае если профиль Пользователя в социальной сети привязан к его учетной записи на Сhamps.Маркет, вместе с отзывом, вопросом/ответом, комментарием Пользователя будет опубликовано изображение со страницы его профиля (аватар) и ссылки на профили Пользователя в социальных сетях. В случае если у Пользователя отсутствует учетная запись на Сhamps.Маркет, и при этом он авторизован на сервисах ООО «Открытый Бизнес», в том числе с использованием своей учетной записи в социальной сети, то вместе с отзывом, вопросом/ответом, комментарием Пользователя будет опубликовано его изображение со страницы его профиля (аватар), а также фамилия и имя, указанная в таком профиле или в социальной сети, с использованием учетной записи которой он авторизован на сервисах ООО «Открытый Бизнес», и ссылка на его профиль в социальной сети, если применимо;
            </div>
            <div class="normal">
                пользователи могут изменять (редактировать) и удалять свои оценки и отзывы в любой момент после публикации;
            </div>
            <div class="normal">
                редактирование, а также удаление вопросов и ответов Пользователей о тренировках и тренерах невозможно по истечении двадцати четырех часов с момента публикации указанных вопросов и ответов Пользователя о тренировках и тренерах либо в случае, если на опубликованный вопрос оставлен ответ;
            </div>
            <div class="normal">
                опубликованные подборки и/или обзоры тренировок и тренеров не могут быть изменены или удалены Пользователем без предварительного согласования с Сhamps.Маркет.
            </div>
            <div class="normal">
                Пользователь соглашается с тем, что размещенные им на Сервисе сообщения и материалы могут быть использованы Сhamps.Маркет и ООО «Открытый Бизнес» (каждым в отдельности) в том числе в иных сервисах и приложениях Сhamps.Маркет и ООО «Открытый Бизнес», в рекламных или маркетинговых материалах, размещаемых на ресурсах Champs и ООО «Открытый Бизнес» в сети Интернет, а также на иных ресурсах и сайтах в сети Интернет, для привлечения внимания других пользователей к Сервису в целом или к иным приложениям и сервисам Сhamps.Маркет и ООО «Открытый Бизнес», товарам, работам и услугам третьих лиц, как с указанием автора сообщения или материала (в качестве имени автора при этом будет указываться имя (логин, псевдоним) Пользователя, которое он указал при регистрации или в настройках своих данных в соответствующем разделе Сервиса), так и без этого, без обязанности предоставлять отчеты об использовании таких сообщений и материалов, без необходимости получения специального разрешения Пользователя и без выплаты авторского вознаграждения, на территории всего мира без ограничения срока, с правом Сhamps.Маркет и ООО «Открытый Бизнес» предоставить указанные права использования таких сообщений и материалов третьим лицам. При этом Пользователь признает и соглашается, что Сhamps.Маркет и ООО «Открытый Бизнес» не обязаны просматривать такие сообщения и материалы, а их использование указанными способами в указанных целях может осуществляться автоматически посредством программных средств. В случае если Пользователь не вправе предоставить Champs.Обучению и ООО «Открытый Бизнес» право использования какого-либо сообщения или материала подобным способом, он обязан воздержаться от размещения такого сообщения или материала.
            </div>
            <div class="normal">
                Пользователь соглашается, что оставленные им отзывы, вопросы и ответы Пользователя о тренерах, комментарии, графические изображения, и поставленные оценки могут быть опубликованы и использованы Сhamps.Маркет и ООО «Открытый Бизнес» в рамках Сервиса и других служб Champs.Обучения и ООО «Открытый Бизнес», на сайтах третьих лиц, а также предоставлены Сhamps.Маркет для опубликования и использования третьими лицами — пользователями сервиса «Контентное API Champs», без дополнительного согласия Пользователя. При этом отзывы, вопросы и ответы Пользователя о тренерах, комментарии, графические изображения публикуются и используются «как есть» с сохранением авторской грамматики и пунктуации, под логином Пользователя, использованным им при авторизации. Пользователь несет ответственность за достоверность сведений, содержащихся в опубликованных им материалах.
            </div>
            <div class="normal">
                Сhamps.Маркет вправе самостоятельно и без уведомления Пользователей отбирать отзывы, вопросы/ответы Пользователя о тренерах и тренировках, комментарии и иные материалы для публикации, в том числе:
            </div>
            <div class="normal">
                не публиковать отзывы, вопросы и ответы Пользователя о тренировках, комментарии, графические изображения, содержание которых не относится к тематике площадки, осуществлению покупок на ней;
            <br/>
                не публиковать отзывы, ответы Пользователя о тренерах, комментарии, графические изображения, содержание которых не относится к реальному опыту тренировки с тренером;
            <br/>
                не публиковать отзывы, вопросы и ответы Пользователя о тренерах и тренировках, комментарии, графические изображения, которые не содержат полезной информации для других пользователей;
            <br/>
                не публиковать отзывы, вопросы и ответы Пользователя о тренерах и тренировках, комментарии, которые содержат ненормативную лексику, высказывания оскорбительного характера;
            <br/>
                не публиковать подборки и/или обзоры товаров, графические изображения, комментарии, в которых содержатся: (а) ссылки на другие веб-сайты в тексте подборки и/или обзора, а также упоминания конкретных тренеров, и/или их тренировок; (б) утверждения, порочащие честь, достоинство и/или деловую репутацию третьих лиц (в том числе тренеров, тренировок и/или предоставляемых ими услуг); (в) материалы (в том числе в виде текста, видео, графических изображений, кода), нарушающие права третьих лиц, в том числе права на результаты интеллектуальной деятельности и средства индивидуализации;
            <br/>
                не публиковать отзывы, комментарии, содержащие ссылки на другие веб-сайты;
            <br/>
                удалить опубликованный отзыв, вопрос/ответ Пользователя о тренерах и тренировках, комментарий, графические изображения, подборку и/или обзор тренировок в любое время;
            <br/>
                самостоятельно определять срок, в течение которого отзывы, вопросы и ответы Пользователей о тренерах и тренировках, комментарии считаются актуальными и на который они публикуются в рамках Сервиса;
            </div>
            <div class="normal">
                Сhamps.Маркет не принимает на себя обязательств сообщать пользователю(-ям) о причинах отклонения публикации и/или удаления ранее опубликованных отзывов, вопросов и ответов Пользователей о тренерах и тренировках, графических изображений, комментариев, оценок, подборок и/или обзоров тренировок.
                Сhamps.Маркет вправе самостоятельно и без уведомления Пользователей сортировать отзывы, размещать их в любых разделах Сервиса по собственному усмотрению, разделять отзывы по различным категориям, в том числе производить разделение отзывов на «рекомендованные» и «не рекомендованные».
            </div>
            <div class="normal">
                Пользователь соглашается получать рассылку Сервиса о получении ответов от тренеров на свои вопросы и отзывы Пользователей на заданный Пользователем вопрос о тренерах.
            </div>
            <div class="normal">
                Если товарное предложение на Сервисе показано со скидкой, то размер такой скидки определяется автоматически на основе предоставленной продавцом (тренером) информации о новой и старой цене путем вычитания новой цены из старой, определения размера скидки в процентах от старой цены и округления итогового значения скидки до целого числа по общематематическим правилам.
            </div>
            <div class="normal">
                В случае возникновения претензий, связанных с использованием/невозможностью использования чата Discord, а также некорректным поведением или возможным нарушением тренером законодательства и/или прав третьих лиц, Пользователь может направить обращение в Сервис через форму обратной связи по адресу <a href="mailto:support@champs.pro">support@champs.pro</a>.
            </div>
            <div class="normal">
                Пользователь дает Champs.Обучению согласие на обработку персональной информации Пользователя, как этот термин определен в Политике конфиденциальности (<a
                        href="https://champs.pro/politica">https://champs.pro/politica</a>), Сhamps.Маркет для целей предоставления функциональных возможностей Сервиса, на передачу Champs.Обучению персональной информации Пользователя партнёрам Сhamps.Маркет, размещающим предложения своих услуг на Сервисе, и их уполномоченным представителям для дальнейшей обработки такой информации в целях предоставления Пользователю функциональной возможности Сервиса по поиску и ознакомлению с предложениями услуг, направления таким партнёрам запросов о приобретении соответствующих услуг, а также на получение Сhamps.Маркет персональной информации Пользователя от третьих лиц, в том числе указанных партнёров Сhamps.Маркет, аффилированных с Сhamps.Маркет лиц и и другим партнерам (в части обезличенной информации), в целях предоставления Пользователю функциональной возможности Сервиса по получению (в т.ч. по приобретению тренировок) релевантных интересам Пользователя предложений услуг и информации. Пользователь также дает Champs.Обучению согласие на передачу Сhamps.Маркет персональной информации Пользователя аффилированным с Сhamps.Маркет лицам и другим партнерам для целей предоставления Пользователю персонализированных сервисов указанных лиц и таргетирования рекламных материалов.
            </div>
            <div class="normal">
                Сhamps.Маркет передаёт указанным лицам и/или получает от указанных лиц лишь ту персональную информацию Пользователя, которая необходима для указанных целей.
            </div>
            <div class="normal">
                Обработка Сhamps.Маркет персональной информации Пользователя, а также иной информации, загружаемой и предоставляемой Пользователем посредством Сервиса, осуществляется на условиях настоящих Правил и Политики конфиденциальности, размещенной в сети Интернет по адресу
                <a href="https://champs.pro/politica">https://champs.pro/politica</a>. Указанные выше положения в отношении обработки персональной и иной информации Пользователя Champs.Обучения распространяются на материалы и информацию, полученные Пользователем в процессе использования Сервиса и его функций.
            </div>
            <div class="normal">
                Пользователь настоящим уведомлен, понимает и соглашается с тем, что при использовании Сервиса для целей предоставления Пользователю функциональных возможностей Сервиса Сhamps.Маркет в автоматическом режиме передается следующая информация: тип операционной системы устройства Пользователя, версия и идентификатор браузера, статистика использования функций Сервиса, данные местонахождения устройства (если применимо), а также иная техническая информация.
            </div>
            <div class="normal">
                При использовании Пользователем Сервиса персональная информация Пользователя, а также информация, которая была предоставлена Пользователем партнерам Сhamps.Маркет, в том числе в рамках телефонных переговоров и/или обмена сообщениями посредством мессенджера Пользователя с партнерами Champs.Обучения, включая но не ограничиваясь персональными данными Пользователя и иной конфиденциальной информацией о Пользователе, может передаваться партнерам и использоваться Сhamps.Маркет на условиях и для целей, определенных в Политике конфиденциальности, доступной для ознакомления по адресу:
                <a href="https://champs.pro/politica">https://champs.pro/politica</a>.
            </div>
            <div class="normal">
                Пользуясь Сервисом, Пользователь в соответствии с ч. 1 ст. 18 «О рекламе» дает свое согласие на получение сообщений рекламного характера. Пользователь вправе отказаться от получения сообщений рекламного характера путем отключения соответствующего функционала в настройках браузера.
            <br/>
                На Сервисе Пользователям доступна база данных, которая представляет собой информационно-справочную систему, содержащую информацию о тренерах/услугах, предназначенную для потенциальных покупателей/потребителей услуг. Информация о тренерах/услугах, представленная на Сервисе, основана на информации, предоставленной тренерами.
            </div>
            <div class="normal">
                Для определенных предложений услуг на Сервисе Пользователям предоставляется возможность оформления заказа товара (услуги) продавца на Сервисе. Оформляя заказ товаров/услуг на Сервисе, Пользователь соглашается с условиями, изложенными в документе «Условия оформления заказа товаров на Сервисе Сhamps.Маркет», опубликованном в свободном доступе в сети Интернет по ссылке
                <a href="https://champs.pro/terms/">https://champs.pro/terms/</a>, являющимся неотъемлемой частью настоящих Правил.
            </div>
            <div class="normal">
                Некоторый функционал Сервиса может отличаться или быть недоступен для Пользователя на страницах Сервиса, оптимизированных для мобильных устройств, или в мобильном приложении «Сhamps.Маркет». Сhamps.Маркет в любое время без уведомления Пользователя может изменять текст настоящих Правил, а ООО «Открытый Бизнес» вправе в любое время без уведомления Пользователя изменить условия документов, регулирующих использование Сервиса и указанных в настоящих Правилах. Такие изменения вступают в силу с момента публикации. Актуальный (действующий на текущий момент) текст настоящих Правил размещается по адресу:
                <a href="https://champs.pro/terms-of-use">https://champs.pro/terms-of-use</a>.
            </div>
            <div class="normal">
                ООО «Открытый Бизнес», ОГРН 1155476103815
            </div>
            <div class="normal">
                Адрес: 630049, г.Новосибирск, ул. Галущака 4, подъезд 6, офис 2
            </div>
            <div class="normal">
                Дата публикации 21.07.2020 г.
            </div>
        </div>
    </div>
{% endblock %}
