{% extends 'base.html.twig' %}
{% block title %}Политика в отношении обработки персональных данных{% endblock %}
{% block router %}politica{% endblock %}
{% block body %}
    <h1 style="opacity: 0; position: absolute; left: 0; top: 0">
        Оферта на оказание Заказчику (Тренеру) услуг «Champs.Маркет»
    </h1>
    <div class="politica">
        <div class="container">
            {{ setting.get('offerPolicyTrainer') is not null ? setting.get('offerPolicyTrainer').value|raw  : '' }}
        </div>
    </div>
{% endblock %}
