{% extends 'base.html.twig' %}
{% block title %}Статистика{% endblock %}
{% block router %}statistics{% endblock %}
{% block description %}
  <meta name="description" content="Статистика комманд и игроков по League of Legends, Dota и Cs:Go">
{% endblock %}
{% block keywords %}
  <meta name="Keywords" content="Рейтинги игроков, Рейтинг комманд, Top оружия, Рейтинг оружия, League of Legends, Dota, Cs:Go">
{% endblock %}
{% block body %}
<h1 style="opacity: 0; position: absolute; left: 0; top: 0">
  Статистика
</h1>
<div class="staistics__view">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 banner-bl">
        <img src="/images/Banner.png" class="banner p" alt="banner" />
        <img src="/images/BannerMobile.jpg" class="banner m" alt="banner" />
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="row">
          <div class="col-xl-6 col-lg-7 col-md-7 col-sm-12">
            {% include 'templates/home/ratings.player.html.twig' %}
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            {% include 'templates/home/ratings.teams.html.twig' %}
          </div>
        </div>
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            {% include 'templates/statistics/doughnut.html.twig' %}
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            {% include 'templates/home/player.week.html.twig' %}
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12" style="display: none">
        {% include 'templates/statistics/filter.html.twig' %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
