{% extends 'base.html.twig' %}
{% block title %}Условия оформления заказа тренировок на Сервисе Champs.Маркет{% endblock %}
{% block router %}terms{% endblock %}
{% block body %}
    <h1 style="opacity: 0; position: absolute; left: 0; top: 0">
        Условия оформления заказа тренировок на Сервисе Champs.Маркет
    </h1>
    <div class="politica">
        <div class="container">
            {{setting.get('conditionsForOrderingWorkouts') is not null ? setting.get('conditionsForOrderingWorkouts').value|raw  : ''}}
        </div>
    </div>
{% endblock %}
