{% extends 'base.html.twig' %}
{% block title %}Условия оформления заказа тренировок на Сервисе Champs.Маркет{% endblock %}
{% block router %}terms{% endblock %}
{% block body %}
    <h1 style="opacity: 0; position: absolute; left: 0; top: 0">
        Условия оформления заказа тренировок на Сервисе Champs.Маркет
    </h1>
    <div class="politica">
        <div class="container">
            <div class="title">
                Условия оформления заказа тренировок на Сервисе Champs.Маркет
            </div>
            <div class="normal">
                Дата размещения: 21.07.2020 г.
            </div>
            <div class="normal">
                Дата вступления в силу: 21.07.2020 г.
            </div>
            <div class="normal">
                Данный документ является действующим, если расположен по адресу <a href="https://champs.pro/terms/">https://champs.pro/terms/</a>.
            </div>
            <div class="normal">
                Настоящий документ является неотъемлемой частью документа «Правила использования сервиса «Champs.Маркет», опубликованного по ссылке
                <a href="https://champs.pro/terms-of-use">https://champs.pro/terms-of-use</a> (Правила).
            </div>
            <div class="normal">
                Настоящий документ регулирует условия осуществления Заказов Услуг
            <br/>
                Пользователями у Тренеров на сервисе Champs.Маркет.
            </div>
            <div class="normal">
                Осуществляя Заказ Услуг у Тренера на сервисе Champs.Маркет Пользователь соглашается с требованиями и положениями, изложенными в настоящем документе «Условия оформления заказа тренировок на Сервисе Champs.Маркет».
            </div>
            <div class="bold">
                1. Термины и определения
            </div>
            <div class="normal">
                1.1. В целях настоящих Условий нижеприведенные термины используются в следующем значении:
            </div>
            <div class="normal">
                Условия — настоящий документ «оформления заказа тренировок на Сервисе Champs.Маркет», размещенный в сети Интернет по адресу
                <a href="https://champs.pro/terms/">https://champs.pro/terms/</a>.
            </div>
            <div class="normal">
                Champs.Маркет (Сервис) — означает версию для ПК и/или для мобильных устройств веб-сайтов (включая, но не ограничиваясь, размещенным в сети Интернет по адресу: https://champs.pro/marketplace), Champs.Маркет или его аффилированных лиц, предоставляющие доступ к Базе тренеров и их услуг на Champs.Маркет.
            </div>
            <div class="normal">
                Услуга (Услуги) — услуги, являющиеся предметом договора предоставления услуг, заключаемого между Пользователем и Тренером. Тренер предоставляет Услугу (Услуги). Все взаимоотношения, связанные с предоставлением и/или приобретением услуг возникают непосредственно между Тренером и Пользователем. Champs.Маркет не является продавцом Товара или Услуг, уполномоченным Продавцом на принятие и удовлетворение любых требований Пользователей в отношении Товаров или Услуг, приобретенных у Тренера, условий и сроков их предоставления.
            </div>
            <div class="normal">
                Пользователь (Покупатель) — обладающее право- и дееспособностью физическое лицо, являющееся посетителем Сервиса Champs.Маркет, осуществляющее Заказ для личных, семейных, домашних и иных нужд, не связанных с осуществлением предпринимательской деятельности.
            </div>
            <div class="normal">
                Авторизованный пользователь (Авторизованный покупатель) — Пользователь (Покупатель), авторизовавшийся на Сервисе. Авторизация доступна для Пользователя (Покупателя) посредством регистрации, либо через социальную сеть.
            </div>
            <div class="normal">
                Тренер (Продавец) — лицо, осуществляющее деятельность по продаже товаров и/или предоставлению услуг потребителям с использованием дистанционного способа и предлагающее Пользователю заключить договор предоставления Услуги (Услуг) непосредственно на Сервисе Champs.Маркет, и
                заключившее с Champs.Маркет Договор на оказание услуг (<a href="https://champs.pro/service_agreement">https://champs.pro/service_agreement</a>), размещающее предложения Услуг на сервисе Champs.Маркет; и
                чьи Материалы размещаются на Сервисе Champs.Маркет их представителем — заказчиком услуг Champs.Маркет (в соответствии с условиями Оферты на оказание услуг Champs.Маркет (<a
                        href="https://champs.pro/offer">https://champs.pro/offer</a>).
                Данные о Тренере доступны Пользователю, осуществляющему Заказ, в форме оформления Заказа.
            </div>
            <div class="normal">
                Договор — договор предоставления услуг, заключаемый между Пользователем и Тренером в отношении Услуг Тренера непосредственно на Сервисе Champs.Маркет.
                Товарное предложение — подготовленное и размещенное Тренером (в т.ч. представителем Тренера — заказчиком услуг Champs.Маркет (в соответствии с условиями Оферты на оказание услуг Champs.Маркет (<a
                        href="https://champs.pro/offer">https://champs.pro/offer</a>))) на Сервисе предложение о предоставление Услуг, в отношении которого Пользователю предоставляется возможность заключить Договор с Тренером путем осуществления Заказа на Сервисе.
            </div>
            <div class="normal">
                Материалы — предоставляемые Тренером (в т.ч. представителем Тренера — заказчиком услуг Champs.Маркет (в соответствии с условиями Оферты на оказание услуг Champs.Маркет (<a
                        href="https://champs.pro/offer">https://champs.pro/offer</a>))) рекламно-информационные материалы, содержащие сведения о перечне услуг, ценах, описание, предлагаемых Тренером потенциальным покупателям в текущий период, информацию о дате и времени проведения тренировки Тренером, изображения, описания и иные согласованные Сторонами сведения о предоставляемых тренером услугах и/или карточке Тренера.
            </div>
            <div class="normal">
                Заказ — осуществление Пользователем действий, направленных на заключение им Договора с Тренером, посредством осуществления заказа Услуг непосредственно на Сервисе.
            </div>
            <div class="normal">
                Сhamps.Маркет — Общество с ограниченной ответственностью «Открытый Бизнес» (ОГРН 1155476103815, Местонахождение: 630049, г.Новосибирск, ул. Галущака 4, подъезд 6, офис 2).
            </div>
            <div class="normal">
                1.2. В Условиях могут быть использованы термины, не определенные в п.1.1. Условий. В этом случае толкование такого термина производится в соответствии с текстом Условий. В случае отсутствия однозначного толкования термина в тексте Условий следует руководствоваться толкованием термина, определенным: в первую очередь — законодательством РФ, во вторую очередь — на Сервисе Champs.Маркет, затем — сложившимся (общеупотребимым) в сети Интернет.
            </div>
            <div class="bold">
                2. Основные условия заказа и оплаты услуг на Сервисе Сhamps.Маркет
            </div>
            <div class="normal">
                2.1. До момента совершения Заказа на Сервисе Пользователь обязуется ознакомиться со всеми условиями приобретения товара/услуги, представленными (подготовленными и размещенными) Тренером (в т.ч. представителем Тренера — заказчиком услуг Сhamps.Маркет (в соответствии с условиями Оферты на оказание услуг Сhamps.Маркет (<a
                        href="https://champs.pro/offer">https://champs.pro/offer</a>))) на Сервисе, а также с Условиями использования сервиса (<a
                        href="https://champs.pro/terms">https://champs.pro/terms</a>). При этом очевидные ошибки, включая опечатки, допущенные Тренером в описании Услуги, юридически обязывающими не являются.
            </div>
            <div class="normal">
                2.2. Пользователь при осуществлении Заказа заключает Договор с Тренером и вступает в прямые договорные отношения с Тренером, у которого приобретает Услугу. Оформление Заказа на Сервисе означает согласие Пользователя со всеми существенными условиями предоставления услуги Тренером.
            </div>
            <div class="normal">
                2.3. Существенные условия заключаемого Пользователем с Тренером Договора указываются в опубликованном на Сервисе описании Услуги, предоставленного Тренером (в т.ч. представителем Тренера — заказчиком услуг Сhamps.Маркет (в соответствии с условиями Оферты на оказание услуг Сhamps.Маркет (<a
                        href="https://champs.pro/offer">https://champs.pro/offer</a>))), в форме оформления Заказа на Сервисе.
            </div>
            <div class="normal">
                2.4. Осуществляя Заказ, Пользователь соглашается с тем, что Тренер может поручить исполнение Договора третьему лицу, при этом оставаясь ответственным за его исполнение.
            </div>
            <div class="normal">
                2.5. В рамках Заказа при нарушении Тренером Договора Сhamps.Маркет предоставляет Пользователю информационное сопровождение рассмотрения претензий Пользователей и гарантию возврата уплаченных за Услугу денежных средств в случаях и на условиях, изложенных в документе, опубликованном в сети Интернет по ссылке
                <a href="https://champs.pro/market_guarantee">https://champs.pro/market_guarantee</a>.
            </div>
            <div class="normal">
                2.5.1. Все права и обязательства по заключенному с Пользователем Договору возникают непосредственно у Тренера.
            </div>
            <div class="normal">
                2.6. На Сервисе Сhamps.Маркет не оказывает платных услуг Пользователю, в том числе в случае осуществления Пользователем Заказа.
            </div>
            <div class="normal">
                2.7. Пользователь подтверждает свое согласие с тем, что персональная информация, которую Пользователь предоставляет Сhamps.Маркет при использовании Сервиса, в том числе при оформлении Заказа, может быть передана Сhamps.Маркет:
            </div>
            <div class="normal">
                Тренеру, с которым Пользователь заключает Договор, для целей исполнения Тренером указанного Договора с Пользователем.
            <br/>
                представителю Тренера, с которым Пользователь заключает Договор, — заказчику услуг Сhamps.Маркет (в соответствии с условиями Оферты на оказание услуг Сhamps.Маркет (<a
                        href="https://champs.pro/offer">https://champs.pro/offer</a>)) в отношении товарных предложений магазина Продавца на сервисе Сhamps.Маркет, для целей исполнения Тренером указанного Договора с Пользователем.
            <br/>
                ООО «Открытый Бизнес» для целей улучшения качества предоставляемых Пользователю сервисов Сhamps.Маркет и ООО «Открытый Бизнес» (в том числе при оформлении Пользователем Заказа Услуг, маркированных товарными знаками, правообладателем которых является ООО «Открытый Бизнес»), и предоставления Пользователю персонализированных сервисов Сhamps.Маркет и ООО «Открытый Бизнес».
            <br/>
                Пользователь подтверждает свое согласие с тем, что персональная информация, которую Пользователь предоставляет Сhamps.Маркет при использовании Сервиса, в том числе при оформлении Заказа, может быть передана Тренером и/или Сhamps.Маркет привлеченному им для целей исполнения перед Пользователем договора на оказание услуг третьему лицу.
            </div>
            <div class="normal">
                Пользователь подтверждает свое согласие также на получение Сhamps.Маркет персональной информации Пользователя от третьих лиц, в том числе указанных выше лиц, партнёров Сhamps.Маркет, аффилированных с Сhamps.Маркет лиц (в части обезличенной информации), в целях предоставления Пользователю функциональной возможности Сервиса по получению (в т.ч. по результатам тренировок) релевантных интересам Пользователя предложений услуг и информации.
            </div>
            <div class="normal">
                Сhamps.Маркет передаёт указанным лицам и/или получает от указанных лиц лишь ту персональную информацию Пользователя, которая необходима для указанных целей. Обработка Сhamps.Маркет персональной информации Пользователя, а также иной информации, загружаемой и предоставляемой Пользователем посредством Сервиса, осуществляется в соответствии с настоящими Условиями и Политикой конфиденциальности, размещенной в сети Интернет по адресу
                <a href="https://champs.pro/politica">https://champs.pro/politica</a>. Указанные выше положения в отношении обработки персональной и иной информации Пользователя Сhamps.Маркет распространяются на материалы и информацию, полученные Пользователем в процессе использования Сервиса и его функций.
            </div>
            <div class="normal">
                Пользователь настоящим уведомлен, понимает и соглашается с тем, что при использовании Сервиса для целей предоставления Пользователю функциональных возможностей Сервиса Сhamps.Маркет в автоматическом режиме передается следующая обезличенная информация: тип операционной системы устройства Пользователя, версия и идентификатор браузера, статистика использования функций Сервиса, данные местонахождения устройства (если применимо), а также иная техническая информация.
            </div>
            <div class="normal">
                Пользователь соглашается с тем, что Сhamps.Маркет вправе хранить указанную выше персональную информацию Пользователя, а также персональную информацию указанного Пользователем получателя Заказа в течении срока использования Пользователем Сервиса и не менее трех лет с даты последнего использования Пользователем Сервиса.
            </div>
            <div class="normal">
                Пользователь гарантирует, что обладает правом предоставлять указанное в настоящем пункте согласие в отношении (за) третьих лиц (получателей заказа) и несет ответственность за нарушение данной гарантии, которое повлекло убытки Сhamps.Маркет, в размере таких убытков и судебных расходов Сhamps.Маркет, либо расходов Сhamps.Маркет на урегулирование претензий третьих лиц, когда такие претензии связаны с нарушением Пользователем указанной в настоящем абзаце гарантии.
            </div>
            <div class="normal">
                2.8. Для отмены или изменения совершенного Заказа Пользователю необходимо обратиться непосредственно в службу поддержки сервиса, сообщив номер Заказа.
            </div>
            <div class="normal">
                2.9. Оформляя заказ на Сервисе, Пользователь соглашается на получение от Сhamps.Маркет и/или Тренера (i) электронных писем, которые могут быть направлены Пользователю: после оформления Заказа; в случае его изменения; перед датой доставки товара, в случае отмены Заказа Сервисом, ином случае, влияющем на исполнение Заказа или своевременное информирование о его статусе, (ii) сообщений (SMS) на телефонный номер, указанный Пользователем, а также (iii) звонка с предложением оценить качество работы Сервиса и Тренера на телефонный номер, указанный Пользователем.
            </div>
            <div class="normal">
                2.10. Осуществляя Заказ, Пользователь подтверждает, что а) полностью ознакомился с положениями настоящих Условий, б) полностью понимает настоящие Условия, а также предмет и условия заключенного с Тренером Договора, в) полностью понимает значение и последствия своих действий в отношении заключения и исполнения Договора с Тренером.
            </div>
            <div class="normal">
                2.11. Сhamps.Маркет вправе заблокировать Пользователю возможность осуществления Заказа в случае неоднократной отмены осуществленных Пользователем Заказов, а также в случае нарушения настоящих Условий и требований документа «Правила использования сервиса «Сhamps.Маркет», опубликованного по ссылке
                <a href="https://champs.pro/terms">https://champs.pro/terms</a>.
            </div>
            <div class="normal">
                2.12. Пользователь обязан указать достоверные данные о себе и получателе Заказа при оформлении Заказа на Сервисе. Невыполнение Пользователем указанного обязательства приравнивается к уклонению Пользователя от получения Заказа, является основанием для отмены Заказа в соответствии с п. 4.2 Условий и для отказа Сhamps.Маркет в оказании содействия Пользователю в урегулировании возможных претензий к Тренеру посредством привлечения арбитра Службы контроля качества сервиса Сhamps.Маркет (Арбитр) в соответствии с условиями, опубликованными по ссылке
                <a href="https://champs.pro/market_guarantee">https://champs.pro/market_guarantee</a>.
            </div>
            <div class="normal">
                2.13. Информация о наличии Услуги, доступная на Сервисе, уточняется при оформлении Заказа Пользователем и в силу технических особенностей работы Сервиса может измениться на момент оформления Заказа.
            </div>
            <div class="normal">
                2.14. При оформлении Заказа Пользователем на Сервисе Пользователю не предоставляются бонусы.
            </div>
            <div class="bold">
                3. Оформление Заказа. Заключение договора с Тренером.
            </div>
            <div class="normal">
                3.1. Оформление Заказа:
            <br/>
                Возможность оформления Заказа предоставляется только в отношении размещенных Тренером информации об услуге. Пользователь, ознакомившись с предложениями на Сервисе, а также с необходимой информацией об Услуге на сервисе, как на сайте владельца агрегатора информации о товарах (услугах), как этот термин определен в Законе «О защите прав потребителей», оформляет Заказ Услуг, заполнив все поля в форме оформления Заказа на Сервисе и указав все необходимые для исполнения Договора/Договоров Тренером данные, включая, но не ограничиваясь: персональная информация Пользователя, ФИО получателя заказа, контактные данные, способ оплаты
            <br/>
                Осуществляя Заказ, Пользователь подтверждает факт ознакомления и согласия с настоящими Условиями, Правилами, условиями заключаемого Пользователем с Тренером Договора/Договоров, а также факт ознакомления с описанием Услуг, представленным на сервисе как на сайте владельца агрегатора информации о товарах (услугах), как этот термин определен в Законе «О защите прав потребителей», нажав кнопку «Оплатить», «Оформить заказ» или иную аналогичную кнопку.
            </div>
            <div class="normal">
                3.2. Заключение Договора:
            </div>
            <div class="normal">
                3.2.1. Заключение Пользователем Договора/Договоров с Тренером/Тренерами на существенных условиях, определяемых в соответствии с п. 2.3 настоящих Условий, осуществляется в момент нажатия Пользователем кнопки «Оформить заказ» (иной аналогичной кнопки) в форме оформления Заказа (при условии отправки Пользователю подтверждения оформления Заказа).
            </div>
            <div class="normal">
                3.2.2. Заключение Пользователем Договора/Договоров с Тренером/Тренерами на существенных условиях, определяемых в соответствии с п. 2.3 настоящих Условий, в случае выбора Пользователем безналичной оплаты в качестве способа оплаты заказа осуществляется в момент нажатия Пользователем кнопки «Оплатить» (иной аналогичной кнопки) в форме оформления Заказа (при условии отправки Пользователю подтверждения оформления Заказа).
            <br/>
                После нажатия кнопки «Оплатить» Пользователю предоставляется два часа на осуществление оплаты, при этом время сессии на оплату составляет 20 минут, по истечении которых будет выдаваться сообщение «Не удалось провести платеж. Попробовать еще раз» (иное аналогичное сообщение). В случае если в указанный период времени по любой причине оплаты не произошло, договоры с Тренером/Тренерами не считаются заключенными.
            </div>
            <div class="normal">
                3.2.3. Тренер/Тренера вправе устанавливать в качестве порядка оплаты Товаров — предоплату.
            </div>
            <div class="normal">
                3.2.4. Выполнение Пользователем действий, указанных в п. 3.2.1 или п. 3.2.2 настоящих Условий, означает: полное и безоговорочное согласие Пользователя с Правилами, настоящими Условиями, а также условиями заключенных им с Тренером/Тренерами Договора/Договоров.
            </div>
            <div class="normal">
                3.2.5. В момент выполнения Пользователем действий, указанных в п. 3.2.1 или п. 3.2.2 Условий (если иное не указано в п. 3.3.1 или п.3.6 Условий), возникают взаимные обязательства Тренера и Пользователя (Покупателя), связанные с передачей, оплатой товара, оказанием услуги, передачи прав, иные обязательства сторон по Договору.
            </div>
            <div class="normal">
                3.2.6. В момент выполнения Пользователем действий, указанных в п. 3.2.1 или п. 3.2.2 Условий, Пользователь подтверждает, что:
            <br/>
                предоставленные Пользователем данные о себе и получателе Заказа являются достоверными;
            <br/>
                информация о товарах/услугах доведена до сведения Пользователя в полном объеме;
            <br/>
                до заключения Договора с Тренером Пользователь ознакомился со всей информацией о Товарах и Услугах, обязательное доведение которой до потребителя предусмотрено законодательством о защите прав потребителей (в т.ч., при необходимости, связавшись со службой поддержки или посетив сервис).
            </div>
            <div class="normal">
                3.3. Оплата заказа
            </div>
            <div class="normal">
                3.3.1. Пользователю, оформляющему Заказ на сервисе Champs.Маркет, предоставляется возможность выбрать вариант оплаты одним из предусмотренных Сервисом способов:
            </div>
            <div class="normal">
                3.4. Champs.Маркет не является платежным агентом при проведении расчетов, согласно с пп. 1, 4 ч. 2 ст. 1 Федерального закона от 03.06.2009 N 103-ФЗ «О деятельности по приему платежей физических лиц, осуществляемой платежными агентами».
            </div>
            <div class="normal">
                3.5. Выбор соответствующей формы оплаты производится Пользователем в интерфейсе Сервиса.
            </div>
            <div class="normal">
                3.6. В случаях, предусмотренных действующим законодательством, при расчетах за Заказ в сети «Интернет» кассовый чек направляется на абонентский номер или адрес электронной почты, указанные Пользователем при оформлении Заказа.
            </div>
            <div class="bold">
                4. Изменение заказа. Отмена заказа Тренером. Отказ Пользователя от тренировки.
            </div>
            <div class="normal">
                4.1. Не умаляя положения п.2.9. настоящих Условий, изменение заказа Пользователем может быть осуществлено в порядке и на условиях, определенных Продавцом и/или сервисом как владельцем агрегатора информации о товарах (услугах), как этот термин определен в Законе «О защите прав потребителей». Champs.Маркет не обеспечивает возможность изменения Заказа непосредственно на Сервисе.
            </div>
            <div class="normal">
                4.2. Отмена заказа Продавцом
            </div>
            <div class="normal">
                Продавец и/или сервис как владелец агрегатора информации о товарах (услугах), как этот термин определен в Законе «О защите прав потребителей», может отменить Заказ в соответствии с правилами, определенными продавцом и/или опубликованными на сервисе  как на сайте владельца агрегатора информации о товарах (услугах), как этот термин определен в Законе «О защите прав потребителей», с которыми Пользователь должен ознакомиться до заключения Договора, в т.ч. в следующих случаях:
            <br/>
                Если Пользователь не оплатил Заказ (в случае выбора Пользователем способа оплаты Заказа, указанного в п. 3.3.1.2 Условий);
            <br/>
                если Тренеру не удалось связаться с Пользователем/получателем Заказа по указанным Пользователем в Заказе контактным данным;
            <br/>
                если Пользователя не устраивает время тренировки (временной промежуток);
            <br/>
                в иных случаях, когда Тренер не может исполнить Заказ;
            <br/>
                отказ Пользователя от Товара в предусмотренных законодательством случаях;
            <br/>
                уклонение Пользователя от получения Заказа (Товара).
            </div>
            <div class="normal">
                4.3. Отказ Пользователя от товара
            </div>
            <div class="normal">
                4.3.1. Не умаляя положения п.2.9. настоящих Условий, отмена заказа Пользователем может быть осуществлена в порядке и на условиях, определенных Продавцом и/или сервисом Champs как владельцем агрегатора информации о товарах (услугах), как этот термин определен в Законе «О защите прав потребителей». Сhamps.Маркет не обеспечивает возможность отмены Заказа непосредственно на Сервисе.
            </div>
            <div class="normal">
                4.3.2. Для уточнения возможности отмены и отмены заказа Пользователю необходимо обратиться в службу поддержки.
            </div>
            <div class="bold">
                5. Возврат/обмен товара ненадлежащего качества
            </div>
            <div class="normal">
                5.1. Возврат Пользователю уплаченных за услугу денежных средств в случаях, предусмотренных действующим законодательством, осуществляется посредством обращения Пользователя непосредственно в службу поддержки Champs в порядке и на условиях, определенных сервисом как владельцем агрегатора информации о товарах (услугах), как этот термин определен в Законе «О защите прав потребителей». Champs.Маркет не обеспечивает возможность подачи заявления о возврате денежных средств за услугу ненадлежащего качества из Заказа непосредственно на Сервисе.
            </div>
            <div class="normal">
                5.2. Замена услуг ненадлежащего качества в случаях, предусмотренных законодательством, может быть осуществлен в порядке и на условиях, определенных Продавцом и/или сервисом как владельцем агрегатора информации о товарах (услугах), как этот термин определен в Законе «О защите прав потребителей». Champs.Маркет не обеспечивает возможность подачи заявления о возврате денежных средств за услугу ненадлежащего качества из Заказа непосредственно на Сервисе.
            </div>
            <div class="bold">
                6. Прочие условия.
            </div>
            <div class="normal">
                6.1. Пользователь подтверждает, что он является дееспособным и достиг возраста, необходимого в соответствии с законодательством Российской Федерации для совершения сделок, предусмотренных настоящими Условиями.
            </div>
            <div class="normal">
                6.2. Champs.Маркет не несет ответственность за:
            </div>
            <div class="normal">
                6.2.1. Временные сбои и перерывы в работе Сервиса и функционала, позволяющего Пользователям осуществлять Заказ Услуг в Магазине непосредственно на Сервисе (Функционал), и вызванные ими потери информации, а также сохранность информации, правильность и своевременность ее передачи и доставки.
            </div>
            <div class="normal">
                6.2.2. Надежность, качество и скорость работы Сервиса и Функционала и за сохранность создаваемой, используемой и получаемой Пользователем информации.
            </div>
            <div class="normal">
                6.2.3. перед Пользователями за действия Продавцов, совершаемые последними в рамках Заказов и Договоров, оформляемых на Сервисе. Champs.Маркет не является лицом, уполномоченным Продавцом на принятие и удовлетворение любых требований Пользователей в отношении Услуг, сроков и условий их предоставления.
            </div>
            <div class="normal">
                6.3. Champs.Маркет в любое время без уведомления Пользователя может изменять текст настоящих Условий, такие изменения вступают в силу с момента публикации. Актуальный (действующий на текущий момент) текст настоящих Условий размещается по адресу:
                <a href="https://champs.pro/terms/">https://champs.pro/terms/</a>.
            </div>
            <div class="normal">
                ООО «Открытый Бизнес», ОГРН 1155476103815
            </div>
            <div class="normal">
                Адрес: 630049, г.Новосибирск, ул. Галущака 4, подъезд 6, офис 2
            </div>
        </div>
    </div>
{% endblock %}
