{% extends 'base.html.twig' %}
{% block title %}Marketplace{% endblock %}
{% block router %}marketplace{% endblock %}
{% block body %}
<div class="timetable" id="timetable">
  <div class="container">
    <div class="header">
      <div class="lft">
        <div class="title">Расписание</div>
        <div class="dates">
          <span v-text="getDate(items[weekSelect].datein)"></span> - <span v-text="getDate(items[weekSelect].dateout)"></span>
          <div class="arrow" @click="prevWeek"><img src="/images/arrowL.svg" /></div>
          <div class="arrow" @click="nextWeek"><img src="/images/arrowR.svg" /></div>
        </div>
      </div>
      <div class="rgt">
        <div class="button">
          Настройка расписания
          <span>+</span>
        </div>
      </div>
    </div>
    <div class="calendarblock">
      <div class="days">
        <div class="null"></div>
        <div class="day" v-for="(item, i) in items[weekSelect].week">
          <div class="title" v-text="week[i]"></div>
          <div class="date" v-text="item.date"></div>
        </div>
      </div>
      <div class="times">
        <div class="time" v-for="t in getTimes">
          <div class="text">
            <span v-text="`${t}:00`"></span>
          </div>
          <div class="rows">
            <div class="rows-row" v-for="i in items[weekSelect].week">
              <div class="open" v-if="checkTime(t, i, 0)" @click="setCheck(t, i, 1)">
                Открыть
              </div>
              <div class="openclose" v-if="checkTime(t, i, 1)" @click="setCheck(t, i, 0)">
                Запись открыта
              </div>
              <div class="user" v-if="checkTime(t, i, 10)">
                <img src="/images/temp/Rectangle506.png" /> Damenik
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const timetable = new Vue({
    el: '#timetable',
    computed: {
      getTimes() {
        let times = [];
        this.items[this.weekSelect].week.forEach((item) => {
          item.times.forEach((time) => {
            const hourin = time.timein.split(':');
            if (times.indexOf(hourin[0]) === -1) {
              times.push(hourin[0]);
            }
          });
        });
        return times;
      }
    },
    methods: {
      getDate(val) {
        let date = val.split('.');
        date = new Date(2020, date[1], date[0]);
        return date.toLocaleString("ru", {day: 'numeric', month: 'long'});
      },
      checkTime(t, i, status) {
        let bool = false;
        this.items[this.weekSelect].week.forEach((item) => {
          if (item.date === i.date) {
            item.times.forEach((item2) => {
              const hourin = item2.timein.split(':');
              if (hourin[0] === t) {
                if (item2.status === status) {
                  bool = true;
                }
              }
            });
          }
        });
        return bool;
      },
      setCheck(t, i, status) {
        this.items[this.weekSelect].week = this.items[this.weekSelect].week.map((item) => {
          item.times = item.times.map((item2) => {
            const hourin = item2.timein.split(':');
            if (hourin[0] === t && item.date === i.date) {
              item2.status = status;
            }
            return item2;
          });
          return item;
        });
      },
      prevWeek() {
        if (this.weekSelect > 0) {
          this.weekSelect = this.weekSelect - 1;
        }
      },
      nextWeek() {
        if (this.weekSelect < (this.items.length - 1)) {
          this.weekSelect = this.weekSelect + 1;
        }
      },
    },
    data: function () {
      return {
        weekSelect: 0,
        week: ['Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота', 'Воскресенье'],
        items: [
          {
            datein: '10.9',
            dateout: '17.9',
            week: [
              {
                date: '11.09',
                times: [
                  { timein: '10:00', timeout: '12:30', status: null },
                  { timein: '12:30', timeout: '14:00', status: null },
                  { timein: '14:30', timeout: '16:00', status: 10 },
                ]
              },
              {
                date: '12.09',
                times: [
                  { timein: '10:00', timeout: '12:30', status: null },
                  { timein: '12:30', timeout: '14:00', status: 1 },
                  { timein: '14:30', timeout: '16:00', status: 10 },
                ]
              },
              {
                date: '13.09',
                times: [
                  { timein: '10:00', timeout: '12:30', status: null },
                  { timein: '12:30', timeout: '14:00', status: 1 },
                  { timein: '14:30', timeout: '16:00', status: 1 },
                ]
              },
              {
                date: '14.09',
                times: [
                  { timein: '10:00', timeout: '12:30', status: null },
                  { timein: '12:30', timeout: '14:00', status: null },
                  { timein: '14:30', timeout: '16:00', status: null },
                ]
              },
              {
                date: '15.09',
                times: [
                  { timein: '10:00', timeout: '12:30', status: null },
                  { timein: '12:30', timeout: '14:00', status: 0 },
                  { timein: '14:30', timeout: '16:00', status: null },
                ]
              },
              {
                date: '16.09',
                times: [
                  { timein: '10:00', timeout: '12:30', status: null },
                  { timein: '12:30', timeout: '14:00', status: null },
                  { timein: '14:30', timeout: '16:00', status: null },
                ]
              },
              {
                date: '17.09',
                times: [
                  { timein: '10:00', timeout: '12:30', status: null },
                  { timein: '12:30', timeout: '14:00', status: null },
                  { timein: '14:30', timeout: '16:00', status: null },
                ]
              }
            ],
          },
          {
            datein: '18.9',
            dateout: '23.9',
            week: [
              {
                date: '18.09',
                times: [
                  { timein: '10:00', timeout: '12:30', status: null },
                  { timein: '12:30', timeout: '14:00', status: null },
                  { timein: '14:30', timeout: '16:00', status: 1 },
                ]
              },
              {
                date: '19.09',
                times: [
                  { timein: '10:00', timeout: '12:30', status: null },
                  { timein: '12:30', timeout: '14:00', status: 1 },
                  { timein: '14:30', timeout: '16:00', status: 1 },
                ]
              },
              {
                date: '20.09',
                times: [
                  { timein: '10:00', timeout: '12:30', status: null },
                  { timein: '12:30', timeout: '14:00', status: 1 },
                  { timein: '14:30', timeout: '16:00', status: 10 },
                ]
              },
              {
                date: '21.09',
                times: [
                  { timein: '10:00', timeout: '12:30', status: null },
                  { timein: '12:30', timeout: '14:00', status: null },
                  { timein: '14:30', timeout: '16:00', status: null },
                ]
              },
              {
                date: '22.09',
                times: [
                  { timein: '10:00', timeout: '12:30', status: null },
                  { timein: '12:30', timeout: '14:00', status: 0 },
                  { timein: '14:30', timeout: '16:00', status: null },
                ]
              },
              {
                date: '23.09',
                times: [
                  { timein: '10:00', timeout: '12:30', status: null },
                  { timein: '12:30', timeout: '14:00', status: null },
                  { timein: '14:30', timeout: '16:00', status: null },
                ]
              },
              {
                date: '24.09',
                times: [
                  { timein: '10:00', timeout: '12:30', status: null },
                  { timein: '12:30', timeout: '14:00', status: null },
                  { timein: '14:30', timeout: '16:00', status: null },
                ]
              }
            ],
          },
        ],
      }
    },
    mounted() {

    }
  });
</script>

{% endblock %}
