<div class="component comments">
  <!--div class="header">
    <div class="round">
      <div><img src="/images/lamp.svg" alt="lamp" /></div>
    </div>
    <div class="title">
      Комментарии
    </div>
  </div>
  <div class="grid">
    <div class="grid-row">
      <div class="ava">ES</div>
      <div class="data">
        <div class="name">Escape CUB</div>
        <div class="text">Почему Virtus выбраться не может в топы?? Жду-жду, пятый год. Вроде хорошие игроки</div>
      </div>
      <div class="date">
        14:17
        <div class="arrow">
          <img src="/images/arrowComment.svg" alt="arrowComment" />
        </div>
      </div>
    </div>
    <div class="grid-row">
      <div class="ava olive">ZZ</div>
      <div class="data">
        <div class="name">ZZ</div>
        <div class="text">Сколько тренировались – такой и результат. Что еще можно сказать. В некст турнире повезет может?</div>
      </div>
      <div class="date">
        15:33
      </div>
    </div>
    <div class="grid-row">
      <div class="ava">KE</div>
      <div class="data">
        <div class="name">Kenny</div>
        <div class="text">Anub1s жутко играл...</div>
      </div>
      <div class="date">
        15:41
      </div>
    </div>
    <div class="grid-row">
      <div class="ava olive">ВО</div>
      <div class="data">
        <div class="name">Boomj4ka</div>
        <div class="text">Все жутко играли!!!</div>
      </div>
      <div class="date">
        15:56
      </div>
    </div>
  </div-->
</div>
