<div class="component last">
  <div class="header">
    <div class="round">
      <div><img src="/images/lamp.svg" /></div>
    </div>
    <div class="title">
      ПОСЛЕДНИЕ МАТЧИ
    </div>
  </div>
  <div class="grid">
    {% for i in 0..1 %}
      <div class="grid-block">
        <div class="title">
          <img src="/images/temp/Rectangle7.svg" alt="Rectangle7" />Natus Vincere
        </div>
        <div class="matches">
          {% for i in 0..4 %}
            <div class="match">
              <div class="lft">
                <img src="/images/temp/Rectangle7.svg" alt="Rectangle7" />Natus Vincere
              </div>
              <div class="rgt green">
                2 - 1
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
