<div class="component live">
    <div class="header">
        <div class="round">
            <div><img src="/images/lamp.svg"/></div>
        </div>
        <div class="title">
            Матчи
        </div>
    </div>
    <div class="table" id="tables">
        <div class="row-table" v-for="item in items">
            <div class="date" v-text="item.date"></div>
            <div class="row-items">
                <row-item v-for="subitem in item.items" :subitem="subitem"/>
            </div>
        </div>
    </div>
</div>

<script type="text/x-template" id="row-item-template">
    <a class="row-item" href="matches/1">
        <div class="time" v-text="subitem.time"></div>
        <div class="teamA">
            <span v-text="subitem.teamA.title"></span>
            <img :src="`/images/temp/${subitem.teamA.logo}`"/>
        </div>
        <div class="vs">vs</div>
        <div class="teamB">
            <img :src="`/images/temp/${subitem.teamB.logo}`"/>
            <span v-text="subitem.teamB.title"></span>
        </div>
        <div class="title">
            <img :src="`/images/temp/${subitem.logo}`"/>
            <span v-text="subitem.title"></span>
        </div>
    </a>
</script>

<script>
    Vue.component('row-item', {
        props: {
            subitem: Object,
        },
        template: '#row-item-template',
    })
    var app = new Vue({
        el: '#tables',
        data: function () {
            return {
                items: [
                    {
                        date: 'Сегодня, 12 июня',
                        items: [
                            {
                                time: '11:30',
                                title: 'Home Sweet Home Cup',
                                logo: 'Rectangle3.png',
                                teamA: {title: 'Natus Vincere', logo: 'Rectangle5.png'},
                                teamB: {title: 'Virtus.pro', logo: 'Rectangle4.png'},
                            },
                            {
                                time: '11:30',
                                title: 'Home Sweet Home Cup',
                                logo: 'Rectangle3.png',
                                teamA: {title: 'Natus Vincere', logo: 'Rectangle5.png'},
                                teamB: {title: 'Virtus.pro', logo: 'Rectangle4.png'},
                            }
                        ]
                    },
                    {
                        date: 'Завтра, 13 июня',
                        items: [
                            {
                                time: '11:30',
                                title: 'Home Sweet Home Cup',
                                logo: 'Rectangle3.png',
                                teamA: {title: 'Natus Vincere', logo: 'Rectangle5.png'},
                                teamB: {title: 'Virtus.pro', logo: 'Rectangle4.png'},
                            },
                        ]
                    }
                ],
            };
        }
    });
</script>
