<div class="component mathes-com">
  <div class="header">
    <div class="round">
      <div><img src="/images/lamp.svg" alt="lamp.svg"  /></div>
    </div>
    <div class="title">
      Матчи
    </div>
  </div>
  <div class="table">
      <div class="table-row">
        <div>ESL Masters CS:GO Seassion</div>
        <div>
          <img src="/images/temp/flag-russia.png" alt="flag-russia.png" />
          fnatic
          <span class="victory">2</span>
        </div>
        <div>
          <img src="/images/temp/flag-russia.png" alt="flag-russia" />
          Virtus.pro
          <span class="losing">1</span>
        </div>
      </div>
      <div class="table-row">
        <div>ESL Masters CS:GO Seassion</div>
        <div>
          <img src="/images/temp/flag-russia.png" alt="flag-russia" />
          fnatic
          <span class="victory">2</span>
        </div>
        <div>
          <img src="/images/temp/flag-russia.png" alt="flag-russia" />
          Virtus.pro
          <span class="losing">1</span>
        </div>
      </div>
      <div class="table-row">
        <div>ESL Masters CS:GO Seassion</div>
        <div>
          <img src="/images/temp/flag-russia.png" alt="flag-russia" />
          fnatic
          <span class="victory">2</span>
        </div>
        <div>
          <img src="/images/temp/flag-russia.png" alt="flag-russia" />
          Virtus.pro
          <span class="losing">1</span>
        </div>
      </div>
      <div class="table-row">
        <div>ESL Masters CS:GO Seassion</div>
        <div>
          <img src="/images/temp/flag-russia.png" alt="flag-russia" />
          fnatic
          <span class="victory">2</span>
        </div>
        <div>
          <img src="/images/temp/flag-russia.png" alt="flag-russia" />
          Virtus.pro
          <span class="losing">1</span>
        </div>
      </div>
      <div class="table-row">
        <div>ESL Masters CS:GO Seassion</div>
        <div>
          <img src="/images/temp/flag-russia.png" alt="flag-russia" />
          fnatic
          <span class="victory">2</span>
        </div>
        <div>
          <img src="/images/temp/flag-russia.png" alt="flag-russia" />
          Virtus.pro
          <span class="losing">1</span>
        </div>
      </div>
      <div class="table-row">
        <div>ESL Masters CS:GO Seassion</div>
        <div>
          <img src="/images/temp/flag-russia.png" alt="flag-russia" />
          fnatic
          <span class="victory">2</span>
        </div>
        <div>
          <img src="/images/temp/flag-russia.png" alt="flag-russia" />
          Virtus.pro
          <span class="losing">1</span>
        </div>
      </div>
  </div>
</div>
