<div class="component moments">
  <div class="header">
    <div class="round">
      <div><img src="/images/lamp.svg" alt="lamp.svg" /></div>
    </div>
    <div class="title">
      Моменты
    </div>
  </div>
  <div class="grid">
    {% for i in 0..9 %}
      <div class="grid-row">
        <img src="/images/temp/Video1.svg" class="logo" alt="Video1.svg" />
        <div class="title-block">
          <div class="title">
            NAVI vs mausesports
          </div>
          <div class="bottom">
            Champs
            <span>
              <img src="/images/Eye.svg" alt="Eye.svg" />
              2459
            </span>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
