<div class="component maps">
    <div class="header">
        <div class="round">
            <div><img src="/images/lamp.svg" /></div>
        </div>
        <div class="title">
            Прошедшие матчи
        </div>
    </div>
    {% for team, data in pastMatches %}
        <div class="component statistics">
            <div class="grid-block statistics-maps">
                <div class="grid-header">
                    <div class="r">
                        <img style="height: 1.2vw;" src="{{ data.logo }}">
                        <strong> {{ team }}</strong>
                    </div>
                </div>
                <div class="grid-row">
                    <div class="r w-100">
                        <span>
                             <strong>Опонент</strong>
                        </span>
                    </div>
                    <div class="r w-100">
                        <span>
                             <strong>Счет</strong>
                        </span>
                    </div>
                </div>
                {% for match in data.matches %}
                    <div class="grid-row">
                        <div class="r w-100">
                            <span>{{ match.opponent }}</span>
                        </div>
                        <div class="r w-100">
                            <span>{{ match.score }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
