
<div class="component maps" id="streams">
    <div class="header">
        <div class="round">
            <div><img src="/images/lamp.svg" /></div>
        </div>
        <div class="title">
            Стримы
        </div>
    </div>
    <div class="component statistics">
        <div class="statistics-maps stream-languages">
            {% for stream in match.streams %}
                <button
                    :class="{active: '{{ stream.url }}' === streams.active}"
                    @click="choseStream('{{ stream.url }}')"
                    class="w-100 outline-none"
                    style="outline: none">
                    {{ stream.language }}
                </button>
            {% endfor %}
        </div>
    </div>
    <div class="news__view">
        <transition name="fade">
            <div class="wrapper news-wrap" v-if="streams.show" @click="closePlayer">
                <div class="player">
                    <iframe
                            :src="streams.active"
                            frameborder="0"
                            class=""
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>
                </div>
                <div class="title_wrap">Нажмите по области чтобы закрыть стрим</div>
            </div>
        </transition>
    </div>
</div>