<div class="component albums">
    <div class="grid">
        {% for item in albums %}
            <a href="{{ path('gallery_view', {'id':item.id}) }}" class="grid-row">
                <img src="{{item.image}}" class="logo"  />
                <div class="title-block">
                    <div class="title">
                        {{item.name}}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
