<script>
    function loadImage(e) {
        let w_t = 0;
        let h_t = 0;
        let l = 0;
        let t = 0;
        let ratio = 0;
        if (e.clientWidth > e.clientHeight) {
            w_t = e.parentNode.clientWidth / e.clientWidth;
            h_t = e.parentNode.clientWidth / e.clientHeight;
            ratio = Math.min(w_t, h_t);
            w_t = Math.ceil(e.clientWidth * ratio);
            h_t = Math.ceil(e.clientHeight * ratio);
            if (e.parentNode.clientHeight > h_t) {
                h_t = e.parentNode.clientHeight / e.clientHeight;
                ratio = Math.min(w_t, h_t);
                w_t = Math.ceil(e.clientWidth * ratio);
                h_t = e.parentNode.clientHeight;
                l = '-' + (w_t - e.parentNode.clientWidth) / 2;
            }
        } else {
            w_t = e.parentNode.clientHeight / e.clientWidth;
            h_t = e.parentNode.clientHeight / e.clientHeight;
            ratio = Math.min(w_t, h_t);
            w_t = Math.ceil(e.clientWidth * ratio);
            h_t = e.parentNode.clientHeight;
            l = 0;
            if (e.parentNode.clientWidth > w_t) {
                w_t = e.parentNode.clientWidth / e.clientWidth;
                h_t = e.parentNode.clientWidth / e.clientHeight;
                ratio = Math.min(w_t, h_t);
                w_t = e.parentNode.clientWidth;
                h_t = Math.ceil(e.clientHeight * ratio);
            }
        }
        if (e.parentNode.clientWidth < w_t) {
            l = '-' + (w_t - e.parentNode.clientWidth) / 2;
        }
        if (e.parentNode.clientHeight < h_t) {
            t = '-' + (h_t - e.parentNode.clientHeight) / 2;
        }
        e.style.left = t + 'px';
        e.style.left = l + 'px';
        e.style.width = w_t + 'px';
        e.style.height = h_t + 'px';
        e.style.opacity = '1';
    }
</script>

<div class="component photos text_article">
    <div class="grid">
        {% for item in photos %}
            <div class="grid-row">
                <img src="/images/album/{{item.path}}" class="logo" />
            </div>
        {% endfor %}
    </div>
</div>
