<div class="component order w-100" v-if="trainer !== null">
  <div class="header">
    <div class="round">
      <div><img src="/images/lamp.svg" alt="lamp" /></div>
    </div>
    <div class="title">
      Оформления заказа
    </div>
  </div>
  <div class="table">
    <div class="row__name">
      Рекомендуемый уровень игроков
    </div>
    <div class="row__text" v-text="trainer.trainer.shorttitle"></div>
    <div class="row__name">
      Информация о себе
    </div>
    <div class="row__text" v-text="trainer.trainer.method"></div>
    <div class="row__name" style="display: none">
      Способ оплаты
    </div>
    <div class="select" style="display: none">
      <div class="box" v-if="paymentView">
        <div class="name" v-for="(p, i) in trainers[slide + 1].payments" v-if="p.id !== payment" :key="i" @click="payment = p.id, paymentView = false">
          <img :src="`/images/temp/trainers/${p.icon}`" class="icon" :alt="p.icon" />
          <div v-text="p.name"></div>
          <span v-text="trainer.trainer.cost + ' ₽'"></span>
        </div>
      </div>
      <div class="name" v-for="(p, i) in payments" v-if="p.id === payment" :key="i" @click="paymentView = paymentView ? false : true">
        <img :src="`/images/temp/trainers/${p.icon}`" class="icon" :alt="p.icon" />
        <div v-text="p.name"></div>
        <span v-text="trainer.trainer.cost + ' ₽'"></span>
        <img src="/images/arrowPayment.svg" class="arrow" alt="arrowPayment" />
      </div>
    </div>
    <a href="/ru/user/timelist" class="paymentSend" style="display: none">
      Купить
    </a>
  </div>
</div>
