<div class="component ratings">
  <div class="header">
    <div class="round">
      <div><img src="/images/lamp.svg" alt="lamp" /></div>
    </div>
    <div class="title">
      РЕЙТИНГ ТРЕНЕРА
    </div>
  </div>
  <div class="table">
    <div class="info">
      <div class="rate">
        <div class="rate__num">
          <span v-text="trainer.ratingTotal"></span> из 10
        </div>
        <div class="rate__reviews">
          отзывов <span v-text="trainer.reviewCount"></span> за все время
        </div>
      </div>
      <div class="rates">
        <div class="line" v-for="i in [10,9,8,7,6,5,4,3,2,1]">
          <div class="stars">
            <img src="/images/StarOrange.svg" v-for="k in i" :key="k" alt="star" />
          </div>
          <div class="bar"><div :style="{width: getBarReview(i)}"></div></div>
          <div class="result" v-text="getRateReview(i)" :class="[getRateReview(i) === 0 ? 'null' : '']"></div>
        </div>
      </div>
    </div>
    <div class="reviews" v-if="trainer.id">
      <div class="review" v-for="(r, i) in trainer.reviews" :key="i">
        <div class="img">
          <img :src="r.photo ? '/images/temp/' + r.photo : '/uploads/images/830f223afcf85dd280790e27079814b4.jpg'" />
        </div>
        <div class="data">
          <div class="title__block">
            <div class="title">
              <div v-text="getDateReview(r.datetime)"></div>
              <div v-text="r.name"></div>
            </div>
            <div class="rates">
              <div>
                <img :src="`/images/${s <= Math.floor(r.rate) ? 'StarOrange.svg' : 'StarGray.svg'}`" v-for="s in 5" :key="s" alt="star" />
              </div>
              <div>
                <img :src="`/images/${s + 5 <= Math.floor(r.rate) ? 'StarOrange.svg' : 'StarGray.svg'}`" v-for="s in 5" :key="s + 5" alt="star" />
              </div>
            </div>
          </div>
          <div v-text="r.comment"></div>
        </div>
      </div>
    </div>
  </div>
</div>
