/* TIMELIST */
.cabinet{
  width: 100%;
  padding: 2vw 0;
}
.cabinet .header{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.cabinet .header .lft{
  width: 50%;
  display: flex;
  flex-direction: row;
  border-left: 0.06vw solid #CFDCF3;
}
.cabinet .header .lft a{
  display: flex;
  width: 10vw;
  height: 2.5vw;
  justify-content: center;
  align-items: center;
  padding: 0.5vw 0;
  color: #000000;
  border: 0.04vw solid #CFDCF3;
  border-left: 0;
  background-color: #FFFFFF;
  font-size: 0.7vw;
  letter-spacing: 0.05vw;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
.cabinet .header .lft a:hover,
.cabinet .header .lft span:hover{
  opacity: 0.6;
}
.cabinet .header .lft a.active{
  background-color: #FF6D1D;
  color: #FFFFFF;
  cursor: default;
}
.cabinet .header .rgt{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.cabinet .header .rgt .button{
  padding: 1vw;
  height: 2.5vw;
  background-color: #FF6D1D;
  color: #FFFFFF;
  font-size: 0.9vw;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.cabinet .header .rgt .button span{
  margin-left: 0.5vw;
}
.cabinet .header .rgt .button.set{
  margin-left: 2vw;
}
.cabinet .header .rgt a{
  display: flex;
  width: 10vw;
  height: 2.5vw;
  justify-content: center;
  align-items: center;
  padding: 0.5vw 0;
  color: #000000;
  border: 0.04vw solid #CFDCF3;
  background-color: #FFFFFF;
  font-size: 0.7vw;
  letter-spacing: 0.05vw;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  text-transform: uppercase;
}
.cabinet .header .rgt a:hover{
  opacity: 0.6;
}
@media screen and (max-width: 1000px) {
  .cabinet{
    padding: 2vw 0;
  }
  .cabinet .header .lft{
    width: 100%;
    flex-wrap: wrap;
    border-left: 0;
  }
  .cabinet .header .lft a{
    width: 25%;
    height: auto;
    padding: 2vw 0;
    font-size: 1.5vw;
    margin-bottom: 2vw;
  }
  .cabinet .header .rgt{
    width: auto;
    padding-left: 2vw;
    flex-shrink: 0;
  }
  .cabinet .header .rgt a{
    height: auto;
    padding: 2vw 1vw;
    font-size: 1.5vw;
    margin-bottom: 2vw;
  }
  .cabinet .header .rgt .button.set{
    height: auto;
    padding: 2vw 1vw;
    font-size: 1.5vw;
    margin-bottom: 2vw;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 600px) {
  .cabinet{
    padding: 4vw 0;
  }
  .cabinet .header{
    flex-wrap: wrap;
  }
  .cabinet .header .lft{
    width: 100%;
    flex-wrap: wrap;
    border-left: 0;
  }
  .cabinet .header .lft a{
    width: calc(50% - 2vw);
    height: auto;
    padding: 3vw 0;
    font-size: 3vw;
    margin-bottom: 4vw;
  }
  .cabinet .header .lft a:nth-child(odd) {
    margin-right: 2vw;
  }
  .cabinet .header .lft a:nth-child(even) {
    margin-left: 2vw;
  }
  .cabinet .header .rgt{
    padding-left: 0;
    flex-shrink: 1;
  }
  .cabinet .header .rgt a{
    width: calc(50% - 2vw);
    height: auto;
    padding: 3vw 0;
    font-size: 3vw;
    margin-bottom: 4vw;
  }
  .cabinet .header .rgt a.set {
    margin-right: 2vw;
  }
  .cabinet .header .rgt{
    width: 100%;
  }
  .cabinet .header .rgt .button.set{
    width: calc(50% - 2vw);
    padding: 3vw 0;
    height: auto;
    background-color: #FF6D1D;
    color: #FFFFFF;
    font-size: 3vw;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    justify-content: center;
    margin-bottom: 4vw;
  }
  .cabinet .header .rgt .button.set {
    margin-left: 2vw;
  }
  .cabinet .header .rgt .button span{
    margin-left: 0.5vw;
  }
}
