<style>
    .highcharts-exporting-group, .highcharts-credits{
        display: none;
    }
</style>
<div class="component doughnut">
    <div class="header">
        <div class="round">
            <div><img src="/images/lamp.svg" alt="lamp"/></div>
        </div>
        <div class="title">
            Топ оружия
        </div>
    </div>
    <div class="content" style="height: 450px">
        <div id="doughnut_main" style="width: 80%;">
            <figure class="highcharts-figure">
                <div id="container"></div>
            </figure>
        </div>
    </div>
</div>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script>
    Highcharts.chart('container', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Топ оружия'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        accessibility: {
            point: {
                valueSuffix: '%'
            }
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>'
                }
            }
        },
        series: [{
            name: 'Оружие',
            colorByPoint: true,
            data: {{ weapons|json_encode|raw }}
        }]
    });
</script>