<div class="types">
  <div class="type">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="logo">
    <g clip-path="url(#clip0)">
    <path d="M20.5358 12.8119H18.6797C18.8689 13.3299 18.9722 13.8888 18.9722 14.4715V21.4863C18.9722 21.7292 18.93 21.9624 18.853 22.1792H21.9215C23.0678 22.1792 24.0002 21.2467 24.0002 20.1005V16.2764C24.0003 14.3661 22.4461 12.8119 20.5358 12.8119Z" fill="#718088"/>
    <path d="M5.02806 14.4715C5.02806 13.8889 5.13142 13.3299 5.3206 12.812H3.46454C1.55419 12.812 0 14.3661 0 16.2765V20.1006C0 21.2468 0.932486 22.1793 2.07872 22.1793H5.14726C5.07034 21.9624 5.02806 21.7293 5.02806 21.4864V14.4715Z" fill="#718088"/>
    <path d="M14.1218 11.007H9.8786C7.96825 11.007 6.41406 12.5611 6.41406 14.4715V21.4864C6.41406 21.869 6.72428 22.1793 7.10697 22.1793H16.8935C17.2761 22.1793 17.5864 21.869 17.5864 21.4864V14.4715C17.5864 12.5611 16.0322 11.007 14.1218 11.007Z" fill="#718088"/>
    <path d="M11.9986 1.82062C9.70113 1.82062 7.83203 3.68972 7.83203 5.9872C7.83203 7.54557 8.69214 8.90659 9.96236 9.62115C10.5648 9.96006 11.2594 10.1537 11.9986 10.1537C12.7377 10.1537 13.4323 9.96006 14.0348 9.62115C15.305 8.90659 16.1651 7.54552 16.1651 5.9872C16.1651 3.68976 14.296 1.82062 11.9986 1.82062Z" fill="#718088"/>
    <path d="M4.68243 5.70416C2.96422 5.70416 1.56641 7.10198 1.56641 8.82019C1.56641 10.5384 2.96422 11.9362 4.68243 11.9362C5.11827 11.9362 5.5333 11.8459 5.91032 11.6836C6.56217 11.403 7.09964 10.9062 7.43221 10.284C7.66565 9.84722 7.79845 9.34898 7.79845 8.82019C7.79845 7.10203 6.40063 5.70416 4.68243 5.70416Z" fill="#718088"/>
    <path d="M19.3152 5.70416C17.597 5.70416 16.1992 7.10198 16.1992 8.82019C16.1992 9.34903 16.332 9.84727 16.5655 10.284C16.898 10.9063 17.4355 11.4031 18.0873 11.6836C18.4644 11.8459 18.8794 11.9362 19.3152 11.9362C21.0334 11.9362 22.4313 10.5384 22.4313 8.82019C22.4313 7.10198 21.0334 5.70416 19.3152 5.70416Z" fill="#718088"/>
    </g>
    <defs>
    <clipPath id="clip0">
    <rect width="24" height="24" fill="white"/>
    </clipPath>
    </defs>
    </svg>
    <div>Лучшие игроки</div>
    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg" class="arrow">
    <path d="M6.79423 4.5L20.2942 12.2942L6.79423 20.0885L6.79423 4.5Z" fill="#718088"/>
    </svg>
  </div>
  <div class="type">
    <svg width="22" height="19" viewBox="0 0 22 19" fill="none" xmlns="http://www.w3.org/2000/svg" class="logo">
    <path d="M17.6346 1.17479C17.6488 0.458123 17.6232 0.00529182 17.6232 0.00529182L11.0334 0H11H10.9666L4.3761 0.00529182C4.3761 0.00529182 4.3512 0.458123 4.36543 1.17479H0V1.93984C0 2.11447 0.0277419 6.2338 2.41994 8.49039C3.41794 9.43158 4.66277 9.90483 6.13024 9.90558C6.35217 9.90558 6.58051 9.88971 6.81169 9.86854C7.64537 11.0819 8.60851 11.9316 9.69187 12.355V15.7153H6.51151V17.8199H5.46088V19H10.9666H11.0334H16.5391V17.8207H15.4878V15.716H12.3074V12.3557C13.3901 11.9324 14.3539 11.0826 15.1876 9.86929C15.4202 9.89046 15.6485 9.90558 15.8705 9.90558C17.3372 9.90407 18.5821 9.43158 19.5801 8.48963C21.9723 6.23304 22 2.11371 22 1.93908V1.17479H17.6346ZM3.38024 7.34962C2.01377 6.06446 1.60974 3.86456 1.49024 2.70489H4.44794C4.57314 4.14956 4.86763 5.94955 5.54695 7.53181C5.67143 7.82211 5.80232 8.09728 5.93605 8.36641C4.91671 8.32483 4.05885 7.98691 3.38024 7.34962ZM18.6198 7.34962C17.9419 7.98767 17.0833 8.32483 16.0647 8.36641C16.1984 8.09804 16.3293 7.82211 16.4538 7.53181C17.1331 5.94955 17.4276 4.14956 17.5521 2.70489H20.5098C20.3903 3.8638 19.9869 6.0637 18.6198 7.34962Z" fill="#F24F13"/>
    </svg>
    <div>Лучшие события</div>
    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg" class="arrow">
    <path d="M6.79423 4.5L20.2942 12.2942L6.79423 20.0885L6.79423 4.5Z" fill="#718088"/>
    </svg>
  </div>
  <div class="type">
    <svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg" class="logo">
    <path d="M11.5 0L14.0819 7.9463H22.4371L15.6776 12.8574L18.2595 20.8037L11.5 15.8926L4.74047 20.8037L7.32238 12.8574L0.56285 7.9463H8.91809L11.5 0Z" fill="#718088"/>
    </svg>
    <div>Полезность</div>
    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg" class="arrow">
    <path d="M6.79423 4.5L20.2942 12.2942L6.79423 20.0885L6.79423 4.5Z" fill="#718088"/>
    </svg>
  </div>
  <div class="type">
    <svg width="24" height="16" viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="logo">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M23.9946 1.19519C23.9946 1.06435 23.792 1.00487 23.792 1.00487C23.792 1.00487 23.8244 0.426006 23.5247 0.426006H23.0507C23.0507 0.426006 22.917 0.196049 22.7347 0.196049C22.6537 0.196049 22.5726 0.426006 22.5726 0.426006H14.292C14.2151 0.426006 14.1989 0.505308 14.1989 0.505308H10.9012C10.9012 0.505308 10.8648 0.426006 10.7999 0.426006H3.695C3.695 0.426006 3.59858 0.00176216 3.55361 0.00176216C3.42924 -0.0022027 3.28785 0.00176216 3.19184 0.00176216C3.14647 0.00176216 2.99779 0.426006 2.99779 0.426006H2.30342C1.99958 0.426006 1.99958 0.747159 1.99958 0.747159V2.80096C1.99958 2.80096 1.8983 2.91991 1.86954 3.04679C1.85414 3.11419 1.86711 3.41155 1.94692 3.51464C2.03888 3.62962 2.52421 3.60187 2.77255 3.62566C3.02129 3.64548 3.67717 4.06575 3.77926 4.4781C3.88094 4.88648 3.75617 5.86184 3.60952 6.40503C3.46246 6.94822 3.04519 8.53416 2.5238 9.28748C1.827 10.2946 1.1537 11.1906 0.757897 11.9638C0.362097 12.7409 0.0922907 13.4783 0.024231 13.855C-0.0434235 14.2317 0.0367894 14.4458 0.187898 14.6559C0.328068 14.8502 0.853912 15.1674 0.944253 15.211C1.035 15.2546 1.35828 15.3617 1.35828 15.3617C1.35828 15.3617 1.34856 15.4528 1.39353 15.5163C1.4389 15.5837 1.68156 16 1.79783 16H6.07992C6.37444 16 6.5215 15.8414 6.5693 15.7106C6.61184 15.5956 6.52919 15.2308 6.52919 15.2308C6.52919 15.2308 6.69448 15.1832 6.84195 14.9057C6.95011 14.7035 6.84883 14.2317 6.87273 13.966C6.90231 13.6409 7.28028 12.8717 7.40465 12.6378C7.52902 12.4039 7.83165 12.388 7.91794 12.2255C7.99329 12.0827 7.78546 11.6505 7.828 11.5395C7.90254 11.3492 8.16425 10.7703 8.26674 10.584C8.37005 10.3976 8.66416 10.4532 8.76585 10.2946C8.90075 10.0884 8.6277 9.7038 8.6751 9.58485C8.71521 9.48969 9.14463 8.65311 9.34152 8.27645C9.4428 8.08613 9.85197 8.09406 10.0829 8.09802C10.3422 8.09802 10.8364 8.46675 11.12 8.47865C11.4036 8.49054 15.1874 8.41918 15.3899 8.40728C15.5925 8.39539 15.7545 8.32402 15.8436 8.26059C15.9935 8.14957 16.034 7.97908 16.0016 7.89186C15.9652 7.80066 15.8112 7.44382 15.7545 7.30505C15.7221 7.22179 15.7059 5.70721 15.7343 5.64377C15.7626 5.5843 16.111 5.25917 16.2204 5.25521C17.6586 5.17195 19.9515 5.09266 20.7172 5.03715C20.7213 5.03715 20.7334 4.96578 20.7334 4.96578H21.1709L21.1912 5.03715H21.7665C22.3215 5.03715 23.2694 4.84683 23.5085 4.7596C23.707 4.68427 23.8082 4.15694 23.8082 3.79217V2.68202C23.8082 2.68202 23.9824 2.60668 23.9946 2.48377C24.0068 2.36086 23.9946 1.38154 23.9946 1.19519ZM15.0253 6.92838C14.9362 7.20592 14.6364 7.59449 14.1746 7.6262C13.7087 7.65792 11.3671 7.66982 11.2334 7.65396C11.039 7.63017 10.4272 7.39228 10.2935 7.09491C10.1639 6.80548 10.1396 6.46846 10.2085 6.25832C10.2773 6.04818 10.4191 5.91338 10.4191 5.91338C10.4191 5.91338 10.5569 5.93717 10.5771 6.06405C10.5933 6.17506 10.5123 6.27022 10.5488 6.31383C10.5609 6.32573 10.7756 6.31383 10.9336 6.31383C11.0349 6.31383 11.1645 6.40106 11.1767 6.51208C11.1889 6.62309 11.1605 6.76583 11.1848 6.79358C11.2051 6.82133 11.4279 6.79358 11.4279 6.79358C11.4279 6.79358 11.5859 7.01562 11.833 7.18214C12.0801 7.34867 12.4123 7.53502 12.5784 7.55484C12.8863 7.59449 12.7729 7.38831 12.7729 7.38831C12.7729 7.38831 12.9106 7.38038 12.9754 7.29316C13.0119 7.24558 12.9957 7.13852 12.708 6.95217C12.4164 6.75789 12.149 6.52001 12.072 6.26229C11.991 6.00854 11.9424 5.7191 11.9869 5.54465C12.0315 5.36623 12.0882 5.19574 12.0882 5.19574C12.0882 5.19574 13.2347 5.03715 13.8343 5.03715C14.3609 5.03715 14.7458 5.39002 14.8997 5.56447C15.163 5.86976 15.0901 6.73807 15.0253 6.92838Z" fill="#718088"/>
    </svg>
    <div>Пистолетные раунды</div>
    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg" class="arrow">
    <path d="M6.79423 4.5L20.2942 12.2942L6.79423 20.0885L6.79423 4.5Z" fill="#718088"/>
    </svg>
  </div>
  <div class="type">
    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg" class="logo">
    <path d="M21.8658 20.5695L1.43054 0.134225C1.25148 -0.0447415 0.961357 -0.0447415 0.782305 0.134225L0.134289 0.782284C-0.044763 0.96125 -0.044763 1.25146 0.134289 1.43047L3.92446 5.22069C2.11478 6.65276 0.746727 8.60501 0.021882 10.8599C-0.00720806 10.9508 -0.00720806 11.0493 0.021882 11.1401C1.58084 15.9912 5.99277 19.2501 11 19.2501C12.9586 19.2501 14.8419 18.7539 16.5235 17.8198L20.5696 21.8658C20.7486 22.0447 21.0387 22.0447 21.2178 21.8658L21.8658 21.2177C22.0448 21.0387 22.0448 20.7485 21.8658 20.5695ZM11 17.4168C7.4618 17.4168 4.58335 14.5383 4.58335 11.0001C4.58335 9.60727 5.04135 8.26375 5.86636 7.16254L7.85905 9.15528C7.52922 9.70902 7.33337 10.3346 7.33337 11C7.33337 13.0218 8.97826 14.6667 11 14.6667C11.6655 14.6667 12.2911 14.4708 12.8448 14.141L14.8375 16.1337C13.7363 16.9588 12.3928 17.4168 11 17.4168Z" fill="#718088"/>
    <path d="M10.6139 7.61755C10.5418 7.78899 10.5807 7.98772 10.7124 8.11929L13.8813 11.2883C13.9691 11.376 14.0863 11.4225 14.2054 11.4225C14.2654 11.4225 14.3258 11.4109 14.3831 11.3867C14.5549 11.3142 14.6659 11.1455 14.6637 10.9589C14.6409 8.95049 13.0501 7.35977 11.0418 7.33691C10.8591 7.35659 10.6864 7.44567 10.6139 7.61755Z" fill="#718088"/>
    <path d="M7.71711 5.12535C7.85453 5.2632 8.06443 5.29813 8.23901 5.21486C9.11451 4.79591 10.0433 4.5833 10.9993 4.5833C14.5376 4.5833 17.416 7.4618 17.416 11C17.416 11.9561 17.2034 12.8848 16.7845 13.7603C16.7008 13.9358 16.7366 14.1448 16.874 14.2822L18.4625 15.8708C18.5484 15.9567 18.6648 16.005 18.7866 16.005C18.787 16.005 18.7875 16.005 18.7875 16.005C18.9097 16.0046 19.0265 15.9558 19.1125 15.8694C20.415 14.5539 21.4059 12.9184 21.9775 11.1401C22.0066 11.0492 22.0066 10.9508 21.9775 10.8599C20.4185 6.00888 16.0066 2.74994 10.9993 2.74994C9.62524 2.74994 8.27485 2.9943 6.9853 3.47685C6.83938 3.53146 6.73106 3.65633 6.69793 3.80895C6.6648 3.96115 6.71181 4.12005 6.82189 4.23014L7.71711 5.12535Z" fill="#718088"/>
    </svg>
    <div>Флешки</div>
    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg" class="arrow">
    <path d="M6.79423 4.5L20.2942 12.2942L6.79423 20.0885L6.79423 4.5Z" fill="#718088"/>
    </svg>
  </div>
</div>

<div class="search">
  <img src="/images/search.svg" alt="search" />
  <input type="text" placeholder="Поиск..." />
</div>

<div class="filter">
  <div class="tab">
    <div class="title">
      <div>Типы матчей</div>
      <img src="/images/arrowBtnGray.svg" alt="arrowBtnGray" />
    </div>
  </div>
  <div class="tab">
    <div class="title">
      <div>Рейтинг матча</div>
      <img src="/images/arrowBtnGray.svg" alt="arrowBtnGray" />
    </div>
  </div>
  <div class="tab">
    <div class="title">
      <div>Карты</div>
      <img src="/images/arrowBtnGray.svg" alt="arrowBtnGray" />
    </div>
  </div>
  <div class="tab">
    <div class="title">
      <div>Даты</div>
      <img src="/images/arrowBtnGray.svg" alt="arrowBtnGray" />
    </div>
  </div>
</div>
