<div class="component event">
  <div class="grid_header">
    <div class="grid_title">
      <span class="title_grey">Дата</span>
      <span class="title_black">19 мая - 14 июня 2020</span>
    </div>
    <div class="grid_title">
      <span class="title_grey">Призовой фонд</span>
      <span class="title_black">160 000$</span>
    </div>
    <div class="grid_title">
      <span class="title_grey">Локация</span>
      <span class="title_black">Европа(Онлайн)</span>
    </div>
  </div>
  <div class="grid-block event-maps">
    <div class="grid-header">
      <div class="r">ГРУППА А</div>
      <div class="r">М</div>
      <div class="r"><img src="/images/Ellipse 221.png" /></div>
      <div class="r"><img src="/images/Ellipse 222.png" /></div>
      <div class="r"><img src="/images/Ellipse 223.png" /></div>
      <div class="r">RD</div>
      <div class="r">ОЧКИ</div>
    </div>
    {% for i in 0..3 %}
      <div class="grid-row">
        <div class="r"><span>NAVI</span></div>
        <div class="r">3</div>
        <div class="r">2</div>
        <div class="r">1</div>
        <div class="r">0</div>
        <div class="r">14</div>
        <div class="r">6</div>
      </div>
    {% endfor %}
  </div>
  <div class="grid-block event-maps">
    <div class="grid-header">
      <div class="r">ГРУППА Б</div>
      <div class="r">М</div>
      <div class="r"><img src="/images/Ellipse 221.png" /></div>
      <div class="r"><img src="/images/Ellipse 222.png" /></div>
      <div class="r"><img src="/images/Ellipse 223.png" /></div>
      <div class="r">RD</div>
      <div class="r">ОЧКИ</div>
    </div>
    {% for i in 0..3 %}
      <div class="grid-row">
        <div class="r"><span>Spirit</span></div>
        <div class="r">3</div>
        <div class="r">2</div>
        <div class="r">1</div>
        <div class="r">0</div>
        <div class="r">14</div>
        <div class="r">6</div>
      </div>
    {% endfor %}
  </div>
  <div class="grid-block">
    <div class="grid-header">
      <div class="r">ГРУППА В</div>
      <div class="r">М</div>
      <div class="r"><img src="/images/Ellipse 221.png" /></div>
      <div class="r"><img src="/images/Ellipse 222.png" /></div>
      <div class="r"><img src="/images/Ellipse 223.png" /></div>
      <div class="r">RD</div>
      <div class="r">ОЧКИ</div>
    </div>
    {% for i in 0..3 %}
      <div class="grid-row">
        <div class="r"><span>Virtus.pro</span></div>
        <div class="r">3</div>
        <div class="r">2</div>
        <div class="r">1</div>
        <div class="r">0</div>
        <div class="r">14</div>
        <div class="r">6</div>
      </div>
    {% endfor %}
  </div>
</div>
