<div class="component events" id="eventss">
  <div class="header">
    <div class="round">
      <div><img src="/images/lamp.svg" /></div>
    </div>
    <div class="title">
      Текущие события
    </div>
    <div class="controll">
      <span :class="[type === 'general' ? 'active' : '']" @click="type = 'general'">Главные</span>
      <span :class="[type === 'today' ? 'active' : '']" @click="type = 'today'">Сегодня</span>
      <span :class="[type === '' ? 'active' : '']" @click="type = ''">Все</span>
    </div>
  </div>
  <div class="grid">

    <div class="grid-row" v-for="item in getItems">
        <div class="logo">
          <img :src="`/images/temp/${item.logo}`" />
        </div>
        <div class="data">
          <div class="title">
            <span v-text="`${item.title.slice(0, 29)}${item.title.length > 29 ? '...' : ''}`"></span>
          </div>
          <div class="bottom">
            <div class="date">
              <span v-text="item.datefrom"></span> - <span v-text="item.dateto"></span>
            </div>
            <div class="logos">
                <img :src="`${t}`" v-for="t in item.teams" />
            </div>
          </div>
        </div>
    </div>

  </div>
</div>

<script>
  const eventss = new Vue({
    el: '#eventss',
    computed: {
      getItems() {
        return this.data.filter((item) => item.type === this.type || (this.type === '' && item.type !== '') );
      }
    },
    data: function () {
      return {
        type: 'general',
        data: [
          {type:'today',title:'BLAST Premier Spring 2020 Europe Show',logo:'Rectangle1.png',datefrom:'11 июня',dateto:'11 июня',teams:['Rectangle4.png','Rectangle3.png','Rectangle5.png']},
          {type:'today',title:'BLAST Premier Spring 2020 Europe Show',logo:'Rectangle2.png',datefrom:'11 июня',dateto:'11 июня',teams:['Rectangle1.png','Rectangle2.png','Rectangle4.png']},
          {type:'today',title:'BLAST Premier Spring 2020 Europe Show',logo:'Rectangle3.png',datefrom:'11 июня',dateto:'11 июня',teams:['Rectangle5.png','Rectangle2.png','Rectangle3.png']},
          {type:'general',title:'BLAST Premier Spring 2020 Europe Show',logo:'Rectangle4.png',datefrom:'11 июня',dateto:'11 июня',teams:['Rectangle1.png','Rectangle3.png','Rectangle4.png']},
          {type:'general',title:'BLAST Premier Spring 2020 Europe Show',logo:'Rectangle5.png',datefrom:'11 июня',dateto:'11 июня',teams:['Rectangle3.png','Rectangle2.png','Rectangle5.png']},
          {type:'general',title:'BLAST Premier Spring 2020 Europe Show',logo:'Rectangle1.png',datefrom:'11 июня',dateto:'11 июня',teams:['Rectangle2.png','Rectangle1.png','Rectangle3.png']},
          {type:'general',title:'BLAST Premier Spring 2020 Europe Show',logo:'Rectangle2.png',datefrom:'11 июня',dateto:'11 июня',teams:['Rectangle1.png','Rectangle4.png','Rectangle3.png']}
        ]
      };
    },
  });
</script>
