{% if mapsPool is not empty %}
    <div class="component col-6">
        <div class="header">
            <div class="round">
                <div><img src="/images/lamp.svg"></div>
            </div>
            <div class="title">
                Карты
            </div>
        </div>
        <div class="component statistics">
            <div class="grid-block statistics-maps">
                {% for map in mapsPool %}
                    <div class="grid-header">
                        <div class="r w-100 map-bg pl-0" style="background-image: url('{{ map.image }}')">
                            <span class="map-title">{{ map.name }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}