{% if relatedEvents is not empty %}
    <div class="component maps col-6">
        <div class="header">
            <div class="round">
                <div><img src="/images/lamp.svg"></div>
            </div>
            <div class="title">
                Связанные События
            </div>
        </div>
        <div class="component statistics">
            <div class="grid-block statistics-maps">
                {% for event in relatedEvents %}
                    <div class="grid-header">
                        <div class="r w-100">
                            {% if event.image is not null %}
                                <img style="height: 1.2vw;" src="/uploads/images/{{ event.image }}" alt="">
                            {% else %}
                                <img style="height: 1.2vw;" src="/uploads/images/{{ event.imageHeader }}" alt="">
                            {% endif %}
                            <span class="title">{{ event.name }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}