<div class="component live-video">
  <div class="cont">
    <img src="/images/temp/Video1.svg" class="image" alt="Video1" />
    <div class="background"></div>
    <div class="live">live</div>
    <div class="title">
      <div class="name">
        <a href="/news/1">NAVI vs mausesports</a>
      </div>
      <div class="sub">
        <div class="sub-name">
          Champs
        </div>
        <div class="sub-view">
          <img src="/images/Eye.svg" alt="Eye">2459
        </div>
      </div>
    </div>
  </div>
</div>
