<script type="text/x-template" id="payments-template">
  <div class="payments">
    <div class="block">ОКНО ОПЛАТЫ</div>
    <div class="buttons">
      <div class="button" @click="setView">Далее</div>
    </div>
  </div>
</script>

<script>
  Vue.component('payments', {
    template: '#payments-template',
    methods: {
      setView() {
        this.$emit('setview', 3);
      }
    },
  })
</script>
