.home{
  padding: 2vw 0;
}
.videoBox {
width: 260px;
}
.component{
  width: 100%;
  margin-top: 1.5vw;
}
.component .header{
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #35393E;
  height: 2.5vw;
  align-items: center;
  z-index: 2;
}
.component .header .round{
  width: 3.3vw;
  height: 3.3vw;
  border-radius: 50%;
  background-color: #35393E;
  left: -.6vw;
  padding: 0.3vw;
  display: flex;
  flex-shrink: 0;
}
.component .header .round div{
  width: 100%;
  width: 100%;
  border: 0.04vw solid #2F3338;
  border-radius: 50%;
  padding: 0.3vw;
}
.component .header .round div img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.component .header .title{
  width: 100%;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.05vw;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 1.23vw;
  line-height: 2.5vw;
}
.component .header .controll{
  height: 100%;
  flex-shrink: 0;
  font-size: 0.85vw;
  color: #FFFFFF;
  padding-right: 1.8vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.component .content{
  width: 100%;
  border: 0.04vw solid #CFDCF3;
  background: #FFFFFF;
}
.component .table{
  width: 100%;
  font-size: .85vw;
  font-style: normal;
  font-weight: normal;
  border-left: 0.04vw solid #CFDCF3;
  border-right: 0.04vw solid #CFDCF3;
  border-bottom: 0.04vw solid #CFDCF3;
  color: #121212;
  background: #FFFFFF;
}
.component .table .table-row{
  width: 100%;
  height: 3vw;
  border-bottom: 0.04vw solid #CFDCF3;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1.3vw;
}
.component .table.matches .table-row div{
  display: flex;
}
.component .grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.home .banner{
  width: 100%;
  height: auto;
}
.home .banner img{
  width: 100%;
  height: auto;
}
.home .banner.bottom{
  margin-top: 1.5vw;
}
@media screen and (max-width: 1000px) {
  .component .header{
    height: 6vw;
  }
  .component .header .title{
    font-size: 2.2vw;
    line-height: 6vw;
  }
  .component .header .round{
    width: 7vw;
    height: 7vw;
    left: -2vw;
    padding: 1vw;
  }
  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12,
  .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
    width: 100%!important;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .home .banner{
   /* height: 20vw;*/
  }
}
@media screen and (max-width: 600px) {
  .home .banner{
    width: 100%;
    height: auto;
  }
  .component{
    margin-top: 4vw;
  }
  .component .header{
    height: 10vw;
  }
  .component .header .round{
    width: 13.8vw;
    height: 13.8vw;
    left: -3vw;
    padding: 1vw;
  }
  .component .header .round div{
    padding: 1vw;
  }
  .component .header .title{
    font-size: 4vw;
    margin-top: 1vw;
  }
  .component .table{
    margin-bottom: 0;
  }
}

/* MATCHES COMP */
.component .header .controll{
  padding-right: 1vw;
}
.component .header .controll span{
  padding-right: 1vw;
}
.home .component.matches .header .controll label{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1vw;
  cursor: pointer;
}
.home .component.matches .header .controll label img{
  height: 0.5vw;
}
.home .component.matches .header .controll label:hover{
  background-color: #45484B;
}
.home .component.matches .header .controll label:hover img{
  opacity: 0.6;
}
.component .table{
  border-left: 0.02vw solid #CFDCF3;
  border-right: 0.02vw solid #CFDCF3;
  border-bottom: 0.02vw solid #CFDCF3;
}
.home .component.matches .table .table-row{
  flex-wrap: wrap;
  height: auto;
  padding: 0;
  transition: 0.2s;
  border: 0.02vw solid #CFDCF3;
  cursor: pointer;
}
.home .component.matches .table .table-row:hover{
  background-color: #FFF8F4;
  border: 0.02vw solid #FF5A00;
}
.home .component.matches .table .table-row.matches-row{
  cursor: pointer;
}
.home .component.matches .table .table-row .rows{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3vw;
  padding: 0 1vw;
}
.home .component.matches .table .table-row .rows div{
  display: flex;
}
.home .component.matches .table .table-row .rows div:nth-child(1) {
  width: 10%;
  font-weight: 500;
}
.home .component.matches .table .table-row .rows div:nth-child(1) span{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.4vw;
  height: 1vw;
  border-radius: 1vw;
  background-color: #FF5A00;
  text-transform: uppercase;
  font-size: 0.6vw;
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  letter-spacing: .03vw;
}
.home .component.matches .table .table-row .rows div:nth-child(2) {
  width: 25%;
  justify-content: flex-end;
  transition: 0.2s;
  align-items: center;
  display: flex;
}
.home .component.matches .table .table-row .rows div:nth-child(2) img{
  height: 1.6vw;
  margin-left: 1vw;
}
.home .component.matches .table .table-row .rows div:nth-child(2).bold {
  font-weight: 500;
}
.home .component.matches .table .table-row .rows div:nth-child(3) {
  width: 10%;
  display: flex;
  justify-content: center;
  transition: 0.2s;
  align-items: center;
  display: flex;
}
.home .component.matches .table .table-row .rows div:nth-child(3).bold {
  font-weight: bold;
}
.home .component.matches .table .table-row .rows div:nth-child(3) span.victory{
  color: #219653;
}
.home .component.matches .table .table-row .rows div:nth-child(3) span.losing{
  color: #E73333;
}
.home .component.matches .table .table-row .rows div:nth-child(4) {
  width: 25%;
  justify-content: flex-start;
  transition: 0.2s;
  align-items: center;
  display: flex;
}
.home .component.matches .table .table-row .rows div:nth-child(4) img{
  height: 1.6vw;
  margin-right: 1vw;
}
.home .component.matches .table .table-row:hover div.r-scores{
  width: 8%;
}
.home .component.matches .table .table-row:hover div.r-teamA,
.home .component.matches .table .table-row:hover div.r-teamB{
  width: 26%;
}
.home .component.matches .table .table-row .rows div:nth-child(5) {
  width: 30%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.home .component.matches .table .table-row .rows div:nth-child(5) .img{
  width: 2vw;
  height: 100%;
  position: absolute;
  right: 0.5vw;
  top: 0;
  display: flex;
  align-items: center;
}
.home .component.matches .table .table-row .rows div:nth-child(5) .img img{
  height: 1.6vw;
}
.home .component.matches .table .table-row div.video{
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: 0.3s;
}
.home .component.matches .table .table-row div.video .rows-d{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.home .component.matches .table .table-row div.video .rows-d .row-d{
  width: 30%;
  height: 7vw;
  overflow: hidden;
  border-top: 0.04vw solid #CFDCF3;
}
.home .component.matches .table .table-row div.video .rows-d .row-d:nth-child(1) img{
  width: 100%;
  height: auto;
}
.home .component.matches .table .table-row div.video .rows-d .row-d:nth-child(2){
  width: 40%;
  border-right: 0.04vw solid #CFDCF3;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.9vw;
}
.home .component.matches .table .table-row div.video .rows-d .row-d:nth-child(2) div div{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  padding: 0 2vw;
  align-items: center;
}
.home .component.matches .table .table-row div.video .rows-d .row-d:nth-child(2) div div:nth-child(1) {
  font-weight: 500;
  padding-bottom: 0.3vw;
}
.home .component.matches .table .table-row div.video .rows-d .row-d:nth-child(2) div div img{
  height: 0.6vw;
  margin-right: 0.5vw;
}
.home .component.matches .table .table-row div.video .rows-d .row-d:nth-child(3){
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 0.9vw;
  font-weight: 500;
}
.home .component.matches .table .table-row div.video .rows-d .row-d:nth-child(3) label,
.home .component.matches .table .table-row div.video .rows-d .row-d:nth-child(3) label a{
  color: #FF6D1D;
  transition: 0.3s;
}
.home .component.matches .table .table-row div.video .rows-d .row-d:nth-child(3) label a:hover{
  opacity: 0.5;
}
.home .component.matches .table .table-row div.video .rows-d .row-d:nth-child(3) img{
  margin-left: 0.5vw;
  height: 0.5vw;
}
@media screen and (max-width: 1000px) {
  .component .header .controll span{
    padding-right: 2vw;
    font-size: 2vw;
  }
  .home .component.matches .header .controll label{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2.5vw;
    cursor: pointer;
  }
  .home .component.matches .header .controll label img{
    height: 1.3vw;
  }
  .home .component.matches .table .table-row .rows{
    font-size: 1.9vw;
    height: 5.5vw;
    padding: 2vw;
  }
  .home .component.matches .table .table-row .rows div:nth-child(2) img,
  .home .component.matches .table .table-row .rows div:nth-child(4) img,
  .home .component.matches .table .table-row .rows div:nth-child(5) .img img{
    height: 2.3vw;
  }
  .home .component.matches .table .table-row .rows div:nth-child(1) span{
    font-size: 1.3vw;
    width: auto;
    height: auto;
    border-radius: 7vw;
    padding: 0.4vw 0.7vw;
  }
  .home .component.matches .table .table-row div.video .rows-d .row-d{
    height: 14vw;
  }
  .home .component.matches .table .table-row div.video .rows-d .row-d:nth-child(2) div div:nth-child(1){
    font-size: 1.8vw;
  }
  .home .component.matches .table .table-row div.video .rows-d .row-d:nth-child(2) div div{
    font-size: 1.8vw;
  }
  .home .component.matches .table .table-row div.video .rows-d .row-d:nth-child(2) div div img{
    height: 1.6vw;
  }
  .home .component.matches .table .table-row div.video .rows-d .row-d:nth-child(3){
    font-size: 1.8vw;
  }
  .home .component.matches .table .table-row div.video .rows-d .row-d:nth-child(3) img{
    height:  1.5vw;
  }
}
@media screen and (max-width: 600px) {
  .component .header .controll span{
    padding-right: 4vw;
    font-size: 3vw;
  }
  .home .component.matches .header .controll label{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4.5vw;
    cursor: pointer;
  }
  .home .component.matches .header .controll label img{
    height: 2vw;
  }
  .home .component.matches .table .table-row .rows{
    height: 15vw;
    padding: 3vw;
    font-size: 3.5vw;
  }
  .home .component.matches .table .table-row .rows div:nth-child(5){
    display: none;
  }
  .home .component.matches .table .table-row .rows div:nth-child(1){
    width: 20%;
  }
  .home .component.matches .table .table-row .rows div:nth-child(2){
    width: 30%;
  }
  .home .component.matches .table .table-row .rows div:nth-child(3){
    width: 20%;
  }
  .home .component.matches .table .table-row .rows div:nth-child(4){
    width: 30%;
  }
  .home .component.matches .table .table-row .rows div:nth-child(1) span{
    font-size: 3vw;
    width: auto;
    height: auto;
    border-radius: 7vw;
    padding: 0.8vw 1.5vw;
  }
  .home .component.matches .table .table-row div.video .rows-d{
    flex-direction: column;
  }
  .home .component.matches .table .table-row div.video .rows-d .row-d{
    width: 100%!important;
    height: 50vw;
  }
  .home .component.matches .table .table-row div.video .rows-d .row-d:nth-child(2){
    font-size: 4vw;
    height: 20vw;
    padding: 0 4vw;
  }
  .home .component.matches .table .table-row div.video .rows-d .row-d:nth-child(2) div div:nth-child(1){
    font-size: 4vw;
  }
  .home .component.matches .table .table-row div.video .rows-d .row-d:nth-child(2) div div{
    padding: 2vw;
    font-size: 3vw;
  }
  .home .component.matches .table .table-row div.video .rows-d .row-d:nth-child(2) div div img{
    height: 4vw;
    margin-right: 2vw;
  }
  .home .component.matches .table .table-row div.video .rows-d .row-d:nth-child(3){
    font-size: 4vw;
    height: 15vw;
  }
  .home .component.matches .table .table-row div.video .rows-d .row-d:nth-child(3) img{
    height: 2vw;
    margin-left: 2vw;
  }
}
/* VIDEOS COMP */
.home .component.videos{
  margin-top: 0;
}
.home .component.videos .grid .grid-row{
  width: calc(50% - 0.5vw);
  height: 16.08vw;
  margin-top: 1vw;
  display: flex;
  overflow: hidden;
  align-items: center;
}
.home .component.videos .grid .grid-row:nth-child(odd) {
  margin-right: 0.5vw;
}
.home .component.videos .grid .grid-row:nth-child(even) {
  margin-left: 0.5vw;
}
.home .component.videos .grid .grid-row:after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, rgba(53, 57, 62, 0) 33.33%, #35393E 100%);
}
.home .component.videos .grid .grid-row .live{
  position: absolute;
  right: 1vw;
  top: 1vw;
  padding: 0.1vw 0.7vw;
  padding-top: 0.15vw;
  background: #F24F13;
  color: #FFFFFF;
  text-transform: uppercase;
  z-index: 3;
  font-size: 0.8vw;
  font-weight: bold;
  letter-spacing: 0.06vw;
  border-radius: 0.8vw;
}
.home .component.videos .grid .grid-row img.logo{
  min-width: 100%;
  min-height: 100%;
  transition: 0.3s;
}
.home .component.videos .grid .grid-row:hover img.logo{
  transform: scale(1.3);
}
.home .component.videos .grid .grid-row .title-block{
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 1.2vw 1.5vw;
  z-index: 2;
}
.home .component.videos .grid .grid-row .title-block .title{
  font-size: 1.1vw;
  color: #FFFFFF;
  font-weight: 500;
  border-bottom: 0.04vw solid rgba(242, 242, 242, 0.6);
  padding-bottom: 0.3vw;
}
.home .component.videos .grid .grid-row .title-block .title a{
  color: #FFFFFF;
}
.home .component.videos .grid .grid-row .title-block .bottom{
  font-size: 0.8vw;
  color: #FFFFFF;
  padding-top: 0.3vw;
  align-items: center;
}
.home .component.videos .grid .grid-row .title-block .bottom span{
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 0.3vw;
}
.home .component.videos .grid .grid-row .title-block .bottom span img{
  height: 1vw;
  margin-right: 0.5vw;
}
@media screen and (max-width: 1000px) {
  .home .component.videos .grid .grid-row{
    height: 30vw;
    margin-top: 1vw!important;
  }
  .home .component.videos .grid .grid-row .title-block{
    padding: 2vw;
  }
  .home .component.videos .grid .grid-row .title-block .title{
    font-size: 1.8vw;
  }
  .home .component.videos .grid .grid-row .title-block .bottom{
    font-size: 1.8vw;
  }
  .home .component.videos .grid .grid-row .title-block .bottom span img{
    height: 1.6vw;
  }
  .home .component.videos .grid .grid-row .live{
    top: 2vw;
    right: 2vw;
    font-size: 1.4vw;
    border-radius: 5vw;
  }
}
@media screen and (max-width: 600px) {
  .home .component.videos{
    margin-top: 4vw;
  }
  .home .component.videos .grid .grid-row{
    width: 100%;
    height: 55vw;
    margin: 0!important;
    margin-top: 4vw!important;
  }
  .home .component.videos .grid .grid-row .live{
    position: absolute;
    right: 4vw;
    top: 4vw;
    padding: 1vw 2vw;
    font-size: 3vw;
    border-radius: 5vw;
  }
  .home .component.videos .grid .grid-row .title-block{
    padding: 4vw;
  }
  .home .component.videos .grid .grid-row .title-block .title{
    font-size: 5vw;
    padding-bottom: 2vw;
  }
  .home .component.videos .grid .grid-row .title-block .bottom{
    font-size: 4vw;
    padding-top: 2vw;
  }
  .home .component.videos .grid .grid-row .title-block .bottom span{
    padding-top: 2vw;
  }
  .home .component.videos .grid .grid-row .title-block .bottom span img{
    height: 3vw;
    margin-right: 2vw;
  }
}

/* EVENTS COMP */
.home .component.events .header .controll span{
  height: 100%;
  text-transform: uppercase;
  font-size: 0.65vw;
  font-weight: 500;
  margin-left: 0.5vw;
  letter-spacing: 0.06vw;
  padding: 0 0.7vw;
  align-items: center;
  display: flex;
  cursor: pointer;
}
.home .component.events .header .controll span.active{
  color: #FF6D1D;
  cursor: default;
}
.home .component.events .header .controll span.active:after{
  content: '';
  width: 100%;
  height: 0.2vw;
  background-color: #FF6D1D;
  border-radius: 0.3vw 0.3vw 0 0;
  position: absolute;
  left: 0;
  bottom: 0;
}
.home .component.events .grid .grid-row{
  width: calc(50% - 0.5vw);
  background: #FFFFFF;
  border: 0.04vw solid #CFDCF3;
  margin-top: 1vw;
  padding: 1vw;
  display: flex;
  transition: 0.2s;
  color: #111111;
}
.home .component.events .grid .grid-row:nth-child(odd) {
  margin-right: 0.5vw;
}
.home .component.events .grid .grid-row:nth-child(even) {
  margin-left: 0.5vw;
}
.home .component.events .grid .grid-row:hover{
  background-color: #FFF8F4;
  border: 0.04vw solid #FF5A00;
}
.home .component.events .grid .grid-row .logo{
  width: 4vw;
  height: 3vw;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .component.events .grid .grid-row .logo img{
  height: 90%;
}
.home .component.events .grid .grid-row .data{
  width: 100%;
  flex-direction: column;
  padding-left: 0.5vw;
}
.home .component.events .grid .grid-row .data .title{
  width: 100%;
  height: 50%;
  font-size: 0.8vw;
  font-weight: 500;
  align-items: center;
}
.home .component.events .grid .grid-row .data .title a{
  color: #111111;
}
.home .component.events .grid .grid-row .data .bottom{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.home .component.events .grid .grid-row .data .bottom .date{
  width: 100%;
  font-size: 0.85vw;
  color: #718088;
}
.home .component.events .grid .grid-row .data .bottom .logos{
  flex-shrink: 0;
  padding-right: 0.5vw;
}
.home .component.events .grid .grid-row .data .bottom .logos img{
  height: 1.4vw;
  margin-left: 1vw;
}
@media screen and (max-width: 1000px) {
  .home .component.events .header .controll span{
    font-size: 1.3vw;
    padding: 0 1.3vw;
  }
  .home .component.events .grid .grid-row{
    width: 100%;
    margin: 0!important;
    margin-top: 2vw!important;
    padding: 2vw;
  }
  .home .component.events .grid .grid-row .data .title{
    font-size: 2.3vw;
  }
  .home .component.events .grid .grid-row .data .bottom .date{
    font-size: 2.3vw;
  }
  .home .component.events .grid .grid-row .logo{
    width: 10vw;
    height: 9vw;
  }
  .home .component.events .grid .grid-row .data{
    padding-left: 2vw;
  }
  .home .component.events .grid .grid-row .data .bottom .logos img{
    height: 4vw;
    margin-left: 2vw;
  }
}
@media screen and (max-width: 600px) {
  .home .component.events .header .controll span{
    font-size: 3vw;
  }
  .home .component.events .grid .grid-row{
    width: 100%;
    margin: 0!important;
    margin-top: 4vw!important;
    padding: 3vw;
  }
  .home .component.events .grid .grid-row .logo{
    width: 13vw;
    height: 12vw;
  }
  .home .component.events .grid .grid-row .data{
    padding-left: 2vw;
  }
  .home .component.events .grid .grid-row .data .title{
    font-size: 3.5vw;
    padding-top: 1vw;
  }
  .home .component.events .grid .grid-row .data .bottom{
    padding-top: 1vw;
  }
  .home .component.events .grid .grid-row .data .bottom .date{
    font-size: 3vw;
  }
  .home .component.events .grid .grid-row .data .bottom .logos img{
    height: 3vw;
    margin-left: 1vw;
  }
}

/* TOURNAMENTS COMP */
.home .component.tournaments .header .controll{
  width: 65%;
  padding-right: 0;
}
.home .component.tournaments .header .controll div{
  width: 20%;
  text-transform: uppercase;
  font-size: 0.7vw;
  color: #FFFFFF;
  letter-spacing: .06vw;
  justify-content: center;
  display: flex;
}
.home .component.tournaments .table .table-row{
  padding: 0;
}
.home .component.tournaments .table .table-row div{
  width: 13%;
  display: flex;
  justify-content: center;
  font-size: 0.73vw;
  border-left: 0.04vw solid #CFDCF3;
  height: 100%;
  align-items: center;
}
.home .component.tournaments .table .table-row div:nth-child(1){
  width: 35%;
  justify-content: flex-start;
  font-size: 0.8vw;
  border-left: 0;
  padding: 0 1vw;
}
.home .component.tournaments .table .table-row div:nth-child(1) a{
  color: #111111;
}
.home .component.tournaments .table .table-row div:nth-child(1) img{
  height: 45%;
  margin-right: 1vw;
}
@media screen and (max-width: 1000px) {
  .home .component.tournaments .header .controll div{
    font-size: 1.8vw;
  }
  .component .table .table-row{
    height: 7vw;
  }
  .home .component.tournaments .table .table-row div{
    font-size: 1.8vw;
  }
  .home .component.tournaments .table .table-row div:nth-child(1){
    font-size: 2vw;
  }
}
@media screen and (max-width: 600px) {
  .home .component.tournaments{
    margin-bottom: 4vw;
  }
  .home .component.tournaments .header .controll div{
    display: none;
  }
  .home .component.tournaments .header .controll{
    width: 50%;
  }
  .home .component.tournaments .header .controll div:nth-child(1),
  .home .component.tournaments .header .controll div:nth-child(2){
    display: flex;
    font-size: 3.5vw;
    width: 50%;
  }
  .home .component.tournaments .table .table-row{
    height: 15vw;
  }
  .home .component.tournaments .table .table-row div{
    display: none;
  }
  .home .component.tournaments .table .table-row div:nth-child(1){
    width: 50%;
    font-size: 3.5vw;
    display: flex;
  }
  .home .component.tournaments .table .table-row div:nth-child(1) img{
    margin: 0 3vw;
  }
  .home .component.tournaments .table .table-row div:nth-child(2),
  .home .component.tournaments .table .table-row div:nth-child(3){
    width: 25%;
    display: flex;
    font-size: 3vw;
  }
}

/* UPDATES COMP */
.home .component.updates .table{
  border-left: 0.02vw solid #CFDCF3;
  border-right: 0.02vw solid #CFDCF3;
  border-bottom: 0.02vw solid #CFDCF3;
}
.home .component.updates .table-row{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  padding-bottom: 0.7vw;
  border: 0.02vw solid #CFDCF3;
  transition: 0.2s;
  color: #111111;
}
.home .component.updates .table-row:hover{
  background-color: #FFF8F4;
  border: 0.02vw solid #FF5A00;
}
.home .component.updates .table-row .title{
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: .8vw 0;
  letter-spacing: .05vw;
  align-items: center;
}
.home .component.updates .table-row .title .time{
  color: #718088;
  width: 4vw;
  flex-shrink: 0;
  font-size: 0.77vw;
}
.home .component.updates .table-row .title .name{
  color: #1F2C36;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.73vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.home .component.updates .table-row .title .name div{
  width: .5vw;
  height: .5vw;
  background-color: #FF6D1D;
  border-radius: 50%;
  margin-right: 0.5vw;
}
.home .component.updates .table-row .text{
  width: 100%;
  font-size: 0.85vw;
  letter-spacing: 0.01vw;
}
.home .component.updates .table-row .text a{
  color: #111111;
}
.home .component.updates .table-row .event,
.home .component.updates .table-row .transfer{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.5vw;
  margin-bottom: 1vw;
}
.home .component.updates .table-row .transfer .data .title a,
.home .component.updates .table-row .transfer .data .name a,
.home .component.updates .table-row .transfer .data .tab a{
  color: #111111;
}
.home .component.updates .table-row .event .logo,
.home .component.updates .table-row .transfer .logo{
  width: 4vw;
  height: auto;
  flex-shrink: 0;
}
.home .component.updates .table-row .event .logo img,
.home .component.updates .table-row .transfer .logo img{
  height: 2.1vw;
}
.home .component.updates .table-row .event .data{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home .component.updates .table-row .event .title{
  width: 100%;
  font-size: 0.8vw;
  padding: 0;
  font-weight: 500;
}
.home .component.updates .table-row .event .title a{
  color: #111111;
}
.home .component.updates .table-row .event .date{
  width: 100%;
  font-size: 0.8vw;
  color: #718088;
}
.home .component.updates .table-row .transfer .data{
  width: 50%;
}
.home .component.updates .table-row .transfer .data .title,
.home .component.updates .table-row .transfer .data .name,
.home .component.updates .table-row .transfer .data .tab{
  font-size: 0.8vw;
  padding: 0;
}
.home .component.updates .table-row .transfer .data .name a{
  color: #111111;
}
.home .component.updates .table-row .transfer .data .title,
.home .component.updates .table-row .transfer .data .tab:nth-child(1){
  margin-bottom: 0.3vw;
}
.home .component.updates .table-row .transfer .data .title img,
.home .component.updates .table-row .transfer .data .tab img{
  height: 1vw;
  margin-right: 0.5vw;
}
@media screen and (max-width: 1000px) {
  .home .component.updates .table-row{
    padding: 2vw 3vw;
  }
  .home .component.updates .table-row .title{
    padding: 1vw 0;
  }
  .home .component.updates .table-row .title .time{
    font-size: 2vw;
    width: 13vw;
  }
  .home .component.updates .table-row .title .name{
    font-size: 1.8vw;
  }
  .home .component.updates .table-row .title .name div{
    width: 1.5vw;
    height: 1.5vw;
    margin-right: 1vw;
  }
  .home .component.updates .table-row .text{
    font-size: 2.3vw;
    padding-top: 1vw;
  }
  .home .component.updates .table-row .event .title{
    font-size: 2vw;
  }
  .home .component.updates .table-row .event .date{
    font-size: 2vw;
  }
  .home .component.updates .table-row .event .logo,
  .home .component.updates .table-row .transfer .logo{
    width: 13vw;
    height: 8vw;
  }
  .home .component.updates .table-row .event .logo img,
  .home .component.updates .table-row .transfer .logo img{
    height: 8vw;
  }
  .home .component.updates .table-row .transfer .data .title,
  .home .component.updates .table-row .transfer .data .name,
  .home .component.updates .table-row .transfer .data .tab{
    font-size: 2.2vw;
  }
  .home .component.updates .table-row .transfer .data .title img,
  .home .component.updates .table-row .transfer .data .tab img{
    height: 2vw;
    margin-right: 1vw;
  }
}
@media screen and (max-width: 600px) {
  .home .component.updates .table-row{
    padding: 4vw;
  }
  .home .component.updates .table-row .title{
    padding: 2vw 0;
  }
  .home .component.updates .table-row .title .time{
    font-size: 3vw;
    width: 15vw;
  }
  .home .component.updates .table-row .title .name{
    font-size: 3vw;
  }
  .home .component.updates .table-row .title .name div{
    width: 2vw;
    height: 2vw;
    margin-right: 2vw;
  }
  .home .component.updates .table-row .text{
    font-size: 3.7vw;
    padding-top: 2vw;
  }
  .home .component.updates .table-row .event .title{
    font-size: 3vw;
  }
  .home .component.updates .table-row .event .date{
    font-size: 3vw;
  }
  .home .component.updates .table-row .event .logo,
  .home .component.updates .table-row .transfer .logo{
    width: 15vw;
    height: 10vw;
  }
  .home .component.updates .table-row .event .logo img,
  .home .component.updates .table-row .transfer .logo img{
    height: 10vw;
  }
  .home .component.updates .table-row .transfer .data .title,
  .home .component.updates .table-row .transfer .data .name,
  .home .component.updates .table-row .transfer .data .tab{
    font-size: 3.5vw;
  }
  .home .component.updates .table-row .transfer .data .title img,
  .home .component.updates .table-row .transfer .data .tab img{
    height: 3.5vw;
    margin-right: 2vw;
  }
  .home .component.updates .table-row .transfer .data .tab img{
    display: none;
  }
  .home .component.updates .table-row .transfer .data .tab{
    padding-left: 3vw;
  }
}

/* RESULTS COMP */
.home .component.results .table{
  border: 0;
}
.home .component.results .table-row{
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  padding-bottom: 0.7vw;
  border: 0.02vw solid #CFDCF3;
  transition: 0.2s;
  color: #111111;
}
.home .component.results .table-row:hover{
  background-color: #FFF8F4;
  border: 0.02vw solid #FF5A00;
}
.home .component.results .table-row div{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.8vw;
}
.home .component.results .table-row div:nth-child(1){
  font-size: 0.8vw;
  padding: 0.5vw 0;
  padding-bottom: 0.3vw;
}
.home .component.results .table-row div:nth-child(1) a{
  color: #111111;
}
.home .component.results .table-row div:nth-child(2){
  margin-bottom: 0.2vw;
}
.home .component.results .table-row div img{
  height: 1vw;
  margin-right: 0.5vw;
}
.home .component.results .table-row div span{
  top: 0;
  position: absolute;
  right: 0;
  font-weight: 500;
  font-size: 0.8vw;
}
.home .component.results .table-row div span.victory{
  color: #219653;
}
.home .component.results .table-row div span.losing{
  color: #E73333;
}
@media screen and (max-width: 1000px) {
  .home .component.results .table-row{
    padding: 2vw;
  }
  .home .component.results .table-row div{
    font-size: 2vw;
  }
  .home .component.results .table-row div:nth-child(1){
    font-size: 2vw;
    padding-bottom: 1vw;
  }
  .home .component.results .table-row div:nth-child(2){
    margin-bottom: 1vw;
  }
  .home .component.results .table-row div img{
    height: 2vw;
    margin-right: 1vw;
  }
  .home .component.results .table-row div span{
    font-size: 2vw;
  }
}
@media screen and (max-width: 600px) {
  .home .component.results .table-row{
    padding: 4vw;
  }
  .home .component.results .table-row div{
    font-size: 4vw;
  }
  .home .component.results .table-row div:nth-child(1){
    font-size: 4vw;
    padding-bottom: 2vw;
  }
  .home .component.results .table-row div:nth-child(2){
    margin-bottom: 2vw;
  }
  .home .component.results .table-row div img{
    height: 4.5vw;
    margin-right: 2vw;
  }
  .home .component.results .table-row div span{
    font-size: 4vw;
  }
}

/* RATINGS PLAYERS COMP */
.home .component.ratings .table{
  padding: 0 1vw;
  border: 0.04vw solid #CFDCF3;
}
.home .component.ratings .table .table-row{
  height: 5vw;
  padding: 0;
}
.home .component.ratings .table .table-row:last-child{
  border-bottom: 0;
}
.home .component.ratings .table .table-row div span,
.home .component.ratings .table .table-row div label{
  display: block;
}
.home .component.ratings .table .table-row div:nth-child(1){
  width: 40%;
  justify-content: flex-start;
  font-size: 0.8vw;
  border-left: 0;
  padding: 0 1vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.home .component.ratings .table .table-row div:nth-child(1) .num{
  flex-shrink: 0;
  width: 1vw;
  font-weight: 500;
  font-size: 1vw;
  flex-shrink: 0;
}
.home .component.ratings .table .table-row div:nth-child(1) img{
  height: 2.5vw;
  margin: 0 .8vw;
  flex-shrink: 0;
}
.home .component.ratings .table .table-row div:nth-child(1) label{
  width: 100%;
  font-size: 0.8vw;
}
.home .component.ratings .table .table-row div:nth-child(1) label img{
  height: 1vw;
  margin: 0;
  margin-right: 0.5vw;
}
.home .component.ratings .table .table-row div span a, .home .component.ratings .table .table-row div label a{
  color: #111111;
}
.home .component.ratings .table .table-row div:nth-child(2){
  width: 30%;
  font-size: 0.8vw;
}
.home .component.ratings .table .table-row div:nth-child(2) img{
  height: 1.3vw;
  margin-right: 1vw;
}
.home .component.ratings .table .table-row div:nth-child(2) a{
  color: #111111;
}
.home .component.ratings .table .table-row div:nth-child(3){
  width: 30%;
  display: flex;
  flex-direction: column;
  font-size: 0.8vw;
}
.home .component.ratings .table .table-row div:nth-child(3) .date{
  color: #718088;
}
.home .component.ratings .table .table-row div span a,
.home .component.ratings .table .table-row div label a{
  color: #111111;
}
@media screen and (max-width: 1000px) {
  .home .component.ratings .table .table-row{
    height: 15vw;
  }
  .home .component.ratings .table .table-row div:nth-child(1){
    padding: 0 2vw;
    width: 40%;
  }
  .home .component.ratings .table .table-row div:nth-child(1) .num{
    font-size: 2vw;
    width: 2vw;
  }
  .home .component.ratings .table .table-row div:nth-child(1) img{
    height: 7vw;
  }
  .home .component.ratings .table .table-row div:nth-child(1) label{
    font-size: 2vw;
  }
  .home .component.ratings .table .table-row div:nth-child(1) label img{
    height: 2vw;
    display: inline-block;
  }
  .home .component.ratings .table .table-row div:nth-child(2){
    font-size: 2vw;
    padding: 0 2vw;
  }
  .home .component.ratings .table .table-row div:nth-child(2) img{
    height: 3vw;
  }
  .home .component.ratings .table .table-row div:nth-child(3){
    font-size: 2vw;
  }
}
@media screen and (max-width: 600px) {
  .home .component.ratings .table .table-row{
    height: 25vw;
  }
  .home .component.ratings .table .table-row div:nth-child(1){
    padding: 0 4vw;
    width: 40%;
  }
  .home .component.ratings .table .table-row div:nth-child(1) .num{
    font-size: 4vw;
    width: 8vw;
  }
  .home .component.ratings .table .table-row div:nth-child(1) img{
    display: none;
  }
  .home .component.ratings .table .table-row div:nth-child(1) label{
    font-size: 3.5vw;
  }
  .home .component.ratings .table .table-row div:nth-child(1) label img{
    height: 3vw;
    display: inline-block;
  }
  .home .component.ratings .table .table-row div:nth-child(2){
    font-size: 3.5vw;
    width: 30%;
    padding: 0 4vw;
  }
  .home .component.ratings .table .table-row div:nth-child(2) img{
    display: none;
  }
  .home .component.ratings .table .table-row div:nth-child(3){
    font-size: 3.5vw;
  }
}

/* RATINGS TEAMS COMP */
.home .component.ratings-teams .table{
  padding: 0 1vw;
  border: 0.04vw solid #CFDCF3;
}
.home .component.ratings-teams .table .table-row{
  height: 5vw;
  padding: 0;
}
.home .component.ratings-teams .table .table-row:last-child{
  border-bottom: 0;
}
.home .component.ratings-teams .table .table-row div span,
.home .component.ratings-teams .table .table-row div label{
  display: block;
}
.home .component.ratings-teams .table .table-row div label a{
  color: #111111;
}
.home .component.ratings-teams .table .table-row div:nth-child(1){
  width: 50%;
  justify-content: flex-start;
  font-size: 0.8vw;
  border-left: 0;
  padding: 0 1vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.home .component.ratings-teams .table .table-row div:nth-child(1) .num{
  flex-shrink: 0;
  width: 1vw;
  font-weight: 500;
  font-size: 1vw;
  flex-shrink: 0;
}
.home .component.ratings-teams .table .table-row div:nth-child(1) img{
  height: 2.2vw;
  margin: 0 .8vw;
  flex-shrink: 0;
}
.home .component.ratings-teams .table .table-row div:nth-child(1) label{
  width: 100%;
  font-size: 0.8vw;
}
.home .component.ratings-teams .table .table-row div:nth-child(2){
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 1vw;
}
.home .component.ratings-teams .table .table-row div:nth-child(2) img{
  height: 2.2vw;
  margin-left: 1vw;
}
@media screen and (max-width: 1000px) {
  .home .component.ratings-teams .table .table-row{
    height: 10vw;
  }
  .home .component.ratings-teams .table .table-row div:nth-child(1){
    padding: 0 2vw;
  }
  .home .component.ratings-teams .table .table-row div:nth-child(1) .num{
    font-size: 2vw;
    width: 2vw;
  }
  .home .component.ratings-teams .table .table-row div:nth-child(1) img{
    height: 4vw;
    margin-right: 2vw;
  }
  .home .component.ratings-teams .table .table-row div:nth-child(1) label{
    font-size: 2vw;
  }
  .home .component.ratings-teams .table .table-row div:nth-child(2){
    padding-right: 2vw;
    font-size: 2vw;
  }
  .home .component.ratings-teams .table .table-row div:nth-child(2) img{
    height: 4vw;
    margin-left: 2vw;
  }
}
@media screen and (max-width: 600px) {
  .home .component.ratings-teams .table .table-row{
    height: 20vw;
  }
  .home .component.ratings-teams .table .table-row div:nth-child(1){
    padding: 0 4vw;
  }
  .home .component.ratings-teams .table .table-row div:nth-child(1) .num{
    font-size: 4vw;
    width: 8vw;
  }
  .home .component.ratings-teams .table .table-row div:nth-child(1) img{
    height: 8vw;
    margin-right: 4vw;
  }
  .home .component.ratings-teams .table .table-row div:nth-child(1) label{
    font-size: 4vw;
  }
  .home .component.ratings-teams .table .table-row div:nth-child(2){
    padding-right: 4vw;
    font-size: 3.5vw;
  }
  .home .component.ratings-teams .table .table-row div:nth-child(2) img{
    height: 6vw;
    margin-left: 3vw;
  }
}

/* PLAYER WEEK COMP */
.home .component.player-week{
  min-height: 100%;
  flex-direction: column;
  display: flex;
}
.home .component.player-week .header .title{
  font-size: 1vw;
}
.home .component.player-week .content{
  display: flex;
  flex-direction: column;
  min-height: 25vw;
}
.home .component.player-week .content img.photo{
  width: 72%;
  margin: 1vw auto;
}
.home .component.player-week .nik,
.home .component.player-week .name,
.home .component.player-week .score,
.home .component.player-week .bonus{
  display: flex;
  flex-direction: row;
  font-size: .85vw;
  justify-content: center;
  align-items: center;
}
.home .component.player-week .nik{
  margin: 0.5vw 0;
}
.home .component.player-week .nik img{
  height: 1.1vw;
  margin-right: 0.5vw;
}
.home .component.player-week .name a{
  color: #111111;
}
.home .component.player-week .score{
  margin-top: 1.5vw;
  font-size: 1.1vw;
  font-weight: 500;
}
.home .component.player-week .bonus{
  margin-top: 0.3vw;
  font-size: .85vw;
}
@media screen and (max-width: 1000px) {
  .home .component.player-week .header .title{
    font-size: 2.2vw;
  }
  .home .component.player-week .nik,
  .home .component.player-week .name,
  .home .component.player-week .score,
  .home .component.player-week .bonus{
    font-size: 2vw;
  }
  .home .component.player-week .content img.photo{
    width: 40%;
  }
  .home .component.player-week .nik img{
    height: 4vw;
    margin-right: 2vw;
  }
  .home .component.player-week .score{
    margin-top: 2vw;
    font-size: 3vw;
  }
  .home .component.player-week .content{
    padding-bottom: 3vw;
  }
}
@media screen and (max-width: 600px) {
  .home .component.player-week .header .title{
    font-size: 4vw;
  }
  .home .component.player-week .nik,
  .home .component.player-week .name,
  .home .component.player-week .score,
  .home .component.player-week .bonus{
    font-size: 5vw;
  }
  .home .component.player-week .nik img{
    height: 6vw;
    margin-right: 2vw;
  }
  .home .component.player-week .score{
    margin-top: 4vw;
    font-size: 6vw;
  }
  .home .component.player-week .content{
    padding-bottom: 5vw;
  }
}
