.matches__view{
  padding-bottom: 1vw;
}
.matches__view .banner{
  width: 100%;
  height: 8vw;
  margin-top: 1.5vw;
}

/* LIVE */
.matches__view .live .table{
  background-color: transparent;
  border: 0;
}
.matches__view .live .table .table-row{
  width: 100%;
  height: auto;
  margin-top: 1vw;
  background-color: #FFFFFF;
  border: 0.04vw solid #CFDCF3;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.matches__view .live .table .table-row .title{
  width: 100%;
  padding: 0.7vw 1vw;
  border-bottom: 0.04vw solid #CFDCF3;
  font-size: 0.8vw;
  display: flex;
  align-items: center;
  font-weight: 500;
}
.matches__view .live .table .table-row .title img{
  width: 1vw;
  margin-right: 1vw;
}
.matches__view .live .table .table-row .cont{
  width: 100%;
  padding: 0 1vw;
  padding-bottom: 0.5vw;
}
.matches__view .live .table .table-row .cont .titles{
  width: 50%;
  margin-left: 50%;
  display: flex;
  padding: 0.5vw 0;
  flex-direction: row;
}
.matches__view .live .table .table-row .cont .titles div{
  width: 25%;
  display: flex;
  justify-content: center;
  font-size: 0.8vw;
}
.matches__view .live .table .table-row .cont .row-d{
  width: 100%;
  display: flex;
  padding: 0.5vw 0;
  flex-direction: row;
  align-items: center;
}
.matches__view .live .table .table-row .cont .row-d div{
  width: 12.5%;
  display: flex;
  justify-content: center;
  font-size: 0.8vw;
}
.matches__view .live .table .table-row .cont .row-d div:nth-child(1) {
  width: 50%;
  justify-content: flex-start;
}
.matches__view .live .table .table-row .cont .row-d div img{
  width: 1vw;
  height: 1vw;
  margin-right: 1vw;
}
@media screen and (max-width: 1000px) {
  .matches__view .live .table .table-row{
    margin-top: 2vw;
  }
  .matches__view .live .table .table-row .title{
    font-size: 2vw;
    padding: 2vw 3vw;
  }
  .matches__view .live .table .table-row .title img,
  .matches__view .live .table .table-row .cont .row-d div img{
    display: none;
  }
  .matches__view .live .table .table-row .cont .titles,
  .matches__view .live .table .table-row .cont .row-d{
    padding: 2vw 0;
  }
  .matches__view .live .table .table-row .cont .titles div,
  .matches__view .live .table .table-row .cont .row-d div{
    font-size: 2vw;
  }
  .matches__view .live .table .table-row .cont .row-d div:nth-child(1) {
    padding-left: 2vw;
  }
}
@media screen and (max-width: 600px) {
  .matches__view .live .table .table-row{
    margin-top: 4vw;
  }
  .matches__view .live .table .table-row .title{
    font-size: 3.5vw;
    padding: 3vw 4vw;
  }
  .matches__view .live .table .table-row .title img,
  .matches__view .live .table .table-row .cont .row-d div img{
    display: none;
  }
  .matches__view .live .table .table-row .cont .titles,
  .matches__view .live .table .table-row .cont .row-d{
    padding: 3vw 0;
  }
  .matches__view .live .table .table-row .cont .titles div,
  .matches__view .live .table .table-row .cont .row-d div{
    font-size: 3.5vw;
  }
  .matches__view .live .table .table-row .cont .row-d div:nth-child(1) {
    padding-left: 4vw;
  }
}

/* FILTER */
.matches__view .filter{
  margin-top: 1.5vw;
  width: 100%;
  background-color: #F0F7FF;
  border: 0.04vw solid #CFDCF3;
  user-select: none;
}
.matches__view .filter .tab{
  width: 100%;
  border-top: 0.04vw solid #CFDCF3;
}
.matches__view .filter .tab:nth-child(1){
  border-top: 0;
}
.matches__view .filter .tab .title_f{
  width: 100%;
  padding: 0.6vw 1vw;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.matches__view .filter .tab .title_f div{
  width: 100%;
  font-size: 0.8vw;
  color: #1F2C36;
  font-weight: 500;
}
.matches__view .filter .tab .title_f svg{
  flex-shrink: 0;
  height: 0.6vw;
  width: 0.6vw;
}
.matches__view .filter .tab .title_f svg.open{
  display: none;
}
.matches__view .filter .tab .title_f svg.close{
  display: flex;
}
.matches__view .filter .tab.active .title_f svg.open{
  display: flex;
}
.matches__view .filter .tab.active .title_f svg.close{
  display: none;
}
.matches__view .filter .tab .cont{
  width: 100%;
  height: 0;
  position: relative;
  background-color: #FFFFFF;
  overflow: hidden;
  transition: 0.3s;
}
.matches__view .filter .tab .cont input{
  width: 100%;
  height: 2.2vw;
  font-size: 0.8vw;
  padding: 0 1vw;
  background-color: transparent;
  border: 0;
  border-top: 0.04vw solid #CFDCF3;
  outline: none;
}
.matches__view .filter .tab .cont .tab{
  width: 100%;
  height: 2.2vw;
  font-size: 0.8vw;
  padding: 0 1vw;
  background-color: transparent;
  border-top: 0.04vw solid #CFDCF3;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
.matches__view .filter .tab .cont .tab:hover{
  opacity: 0.5;
}
.matches__view .filter .tab .cont .flex{
  width: 100%;
  display: flex;
}
.matches__view .filter .tab .cont .flex_row{
  width: 50%;
}
.matches__view .filter .tab .cont .flex_row:nth-child(1){
  border-right: 0.04vw solid #CFDCF3;
}
.matches__view .filter .tab .cont .flex_row .flex_cal{
  width: 100%;
  height: 2.2vw;
  font-size: 0.75vw;
  padding: 0 1vw;
  border-top: 0.04vw solid #CFDCF3;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.matches__view .filter .tab .cont .flex_row .flex_cal label{
  cursor: pointer;
}
.matches__view .filter .tab .cont .popup{
  width: 100%;
  position: absolute;
  right: 100%;
  top: 0;
  background-color: #FFFFFF;
  border: 0.04vw solid #CFDCF3;
  border-top: 0;
  z-index: 10;
}
.calendar{
  width: 15vw;
  position: absolute;
  top: 100%;
  right: -0.02vw;
  background-color: #FFFFFF;
  border: 0.02vw solid #FF6D1D;
  z-index: 10;
  padding: 1vw;
  border-radius: 0;
}
.calendar .title{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.calendar .title .lft,
.calendar .title .rgt{
  width: 50%;
  position: relative;
}
.calendar .title .month{
  height: 1.4vw;
  font-size: 0.7vw;
  font-weight: 500;
  padding-left: 0.4vw;
  display: flex;
  align-items: center;
}
.calendar .title .month img{
  width: 0.5vw;
  margin-left: 0.5vw;
}
.calendar .title .months{
  width: 80%;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #FFFFFF;
  box-shadow: 0 0 0.4vw #AAA;
  padding: 0.5vw;
  z-index: 10;
}
.calendar .title .months div{
  font-size: 0.7vw;
  margin-top: 0.3vw;
  cursor: pointer;
}
.calendar .title .months div:nth-child(1){
  margin-top: 0;
}
.calendar .title .year{
  height: 1.4vw;
  float: right;
  font-size: 0.7vw;
  padding-right: 0.6vw;
  display: flex;
  align-items: center;
}
.calendar .title .year span{
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  z-index: 10;
}
.calendar .title .year span:nth-child(1){
  margin-right: 0.5vw;
}
.calendar .title .year span:nth-child(3){
  margin-left: 0.5vw;
}
.calendar .title .year span img{
  width: 0.3vw;
}
.calendar .title .year label{
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: 500;
  padding: 0 0.5vw;
}
.calendar .weeks{
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 1vw;
  padding-bottom: 0.3vw;
  color: #7D8186;
}
.calendar .weeks .week{
  flex-shrink: 0;
  width: 14.2%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7vw;
}
.calendar .days{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #111111;
}
.calendar .days .day{
  flex-shrink: 0;
  width: 14.2%;
  padding: 0.3vw 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7vw;
}
.calendar .days .day.sel:hover,
.calendar .days .day.sel.active{
  background-color: #FF6D1D;
  color: #FFFFFF;
  border-radius: 0.2vw;
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  .matches__view .filter{
    margin-top: 3vw;
  }
  .matches__view .filter .tab .title_f{
    padding: 2vw 3vw;
  }
  .matches__view .filter .tab .title_f div{
    font-size: 2.2vw;
  }
  .matches__view .filter .tab .title_f svg{
    width: 1.5vw;
    height: 1.5vw;
  }
  .calendar{
    width: 40vw;
    padding: 2vw;
  }
  .calendar .title .month{
    height: 3vw;
    padding-left: 0.6vw;
  }
  .calendar .title .month span{
    font-size: 2vw;
  }
  .calendar .title .month img{
    width: 1.5vw;
    margin-left: 1vw;
  }
  .calendar .title .months{
    width: 100%;
    padding: 2vw;
  }
  .calendar .title .months div{
    font-size: 2vw;
    margin-top: 1vw;
  }
  .calendar .title .year{
    height: 3vw;
    font-size: 2vw;
    padding-right: 2vw;
  }
  .calendar .title .year span:nth-child(1){
    margin-right: 1vw;
  }
  .calendar .title .year span:nth-child(3){
    margin-left: 1vw;
  }
  .calendar .title .year span img{
    width: 1vw;
  }
  .calendar .title .year label{
    padding: 0 1vw;
  }
  .calendar .weeks{
    padding-top: 2vw;
    padding-bottom: 1vw;
  }
  .calendar .weeks .week{
    font-size: 2vw;
  }
  .calendar .days .day{
    padding: 1vw 0;
    font-size: 2vw;
  }
  .matches__view .filter .tab .cont input{
    height: 6vw;
    font-size: 2vw;
    padding: 0 3vw;
  }
  .matches__view .filter .tab .cont .popup{
    right: 0;
    top: 100%;
  }
  .matches__view .filter .tab .cont .tab{
    height: 6vw;
    font-size: 2vw;
    padding: 0 3vw;
  }
  .matches__view .filter .tab .cont .flex_row .flex_cal{
    height: 6vw;
    font-size: 2vw;
    padding: 0 3vw;
  }
  .matches__view .filter .tab .cont .flex_row:nth-child(1) .calendar{
    right: auto;
    left: 0;
  }
}
@media screen and (max-width: 600px) {
  .matches__view .filter{
    margin-top: 4vw;
  }
  .matches__view .filter .tab .title_f{
    padding: 3vw 4vw;
  }
  .matches__view .filter .tab .title_f div{
    font-size: 4vw;
  }
  .matches__view .filter .tab .title_f svg{
    height: 2vw;
    width: 2vw;
  }
  .calendar{
    width: 57vw;
    padding: 4vw;
  }
  .calendar .title .month{
    height: 5vw;
    padding-left: 0.6vw;
  }
  .calendar .title .month span{
    font-size: 3.5vw;
  }
  .calendar .title .month img{
    width: 2vw;
    margin-left: 3vw;
  }
  .calendar .title .months{
    width: 100%;
    padding: 2vw;
  }
  .calendar .title .months div{
    font-size: 3.3vw;
    margin-top: 1vw;
  }
  .calendar .title .year{
    height: 5vw;
    font-size: 3.3vw;
    padding-right: 2vw;
  }
  .calendar .title .year span:nth-child(1){
    margin-right: 2vw;
  }
  .calendar .title .year span:nth-child(3){
    margin-left: 2vw;
  }
  .calendar .title .year span img{
    width: 1.5vw;
  }
  .calendar .title .year label{
    padding: 0 2vw;
  }
  .calendar .weeks{
    padding-top: 3vw;
    padding-bottom: 2vw;
  }
  .calendar .weeks .week{
    font-size: 3.3vw;
  }
  .calendar .days .day{
    padding: 1vw 0;
    font-size: 3.3vw;
  }
  .matches__view .filter .tab .cont input{
    height: 10vw;
    font-size: 4vw;
    padding: 0 4vw;
  }
  .matches__view .filter .tab .cont .popup{
    right: 0;
    top: 100%;
  }
  .matches__view .filter .tab .cont .tab{
    height: 10vw;
    font-size: 4vw;
    padding: 0 4vw;
  }
  .matches__view .filter .tab .cont .flex_row .flex_cal{
    height: 10vw;
    font-size: 3.5vw;
    padding: 0 4vw;
  }
  .matches__view .filter .tab .cont .flex_row:nth-child(1) .calendar{
    right: auto;
    left: 0;
  }
}

/* MATCHES */
.matches__view .table .row-table{
  width: 100%;
}
.matches__view .table .row-table .date{
  width: 100%;
  padding: 1vw 0 0 0;
  font-size: 1vw;
  font-weight: 500;
}
.matches__view .table .row-table .row-items{
  width: 100%;
}
.matches__view .table .row-table .row-items .row-item{
  width: 100%;
  background-color: #FFFFFF;
  border: 0.04vw solid #CFDCF3;
  margin-top: 1vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0.7vw 1.3vw;
  color: #111111;
  transition: 0.2s;
}
.matches__view .table .row-table .row-items .row-item:hover{
  background-color: #FFF8F4;
  border: 0.04vw solid #FF5A00;
}
.matches__view .table .row-table .row-items .row-item:nth-child(1) {
  margin-top: 0!important;
}
.matches__view .table .row-table .row-items .row-item div{
  font-size: 0.9vw;
  display: flex;
  align-items: center;
}
.matches__view .table .row-table .row-items .row-item div.time{
  width: 10%;
}
.matches__view .table .row-table .row-items .row-item div.teamA,
.matches__view .table .row-table .row-items .row-item div.teamB{
  width: 25%;
}
.matches__view .table .row-table .row-items .row-item div.teamA{
  justify-content: flex-end;
}
.matches__view .table .row-table .row-items .row-item div.teamA img{
  margin-left: 1vw;
}
.matches__view .table .row-table .row-items .row-item div.teamB{
  justify-content: flex-start;
}
.matches__view .table .row-table .row-items .row-item div.teamB img{
  margin-right: 1vw;
}
.matches__view .table .row-table .row-items .row-item div.vs{
  width: 10%;
  justify-content: center;
}
.matches__view .table .row-table .row-items .row-item div.title{
  width: 30%;
}
.matches__view .table .row-table .row-items .row-item div.title img{
  margin-right: 1vw;
}
.matches__view .table .row-table .row-items .row-item div img{
  height: 1.2vw;
}
@media screen and (max-width: 1000px) {
  .matches__view .banner{
    width: 100%;
    height: 20vw;
    margin-top: 1vw;
  }
  .matches__view .table .row-table .date{
    padding: 2vw 0;
    font-size: 2vw;
  }
  .matches__view .table .row-table .row-items .row-item{
    margin-top: 2vw;
    padding: 2vw 2vw;
  }
  .matches__view .table .row-table .row-items .row-item div{
    font-size: 2vw;
  }
  .matches__view .table .row-table .row-items .row-item div.time{
    width: 10%;
  }
  .matches__view .table .row-table .row-items .row-item div.teamA,
  .matches__view .table .row-table .row-items .row-item div.teamB{
    width: 25%;
  }
  .matches__view .table .row-table .row-items .row-item div.teamA img{
    margin-left: 2vw;
  }
  .matches__view .table .row-table .row-items .row-item div.teamB img{
    margin-right: 2vw;
  }
  .matches__view .table .row-table .row-items .row-item div.vs{
    width: 10%;
    justify-content: center;
  }
  .matches__view .table .row-table .row-items .row-item div.title{
    width: 40%;
  }
  .matches__view .table .row-table .row-items .row-item div.title img{
    margin-left: 2vw;
  }
  .matches__view .table .row-table .row-items .row-item div img{
    height: 2.5vw;
  }
}
@media screen and (max-width: 600px) {
  .matches__view .banner{
    width: 100%;
    height: 25vw;
    margin-top: 4vw;
  }
  .matches__view .table .row-table .date{
    padding: 4vw 0;
    font-size: 4vw;
  }
  .matches__view .table .row-table .row-items .row-item{
    margin-top: 4vw;
    padding: 4vw;
  }
  .matches__view .table .row-table .row-items .row-item div{
    font-size: 3.5vw;
  }
  .matches__view .table .row-table .row-items .row-item div.time{
    width: 15%;
  }
  .matches__view .table .row-table .row-items .row-item div.teamA,
  .matches__view .table .row-table .row-items .row-item div.teamB{
    width: 35%;
  }
  .matches__view .table .row-table .row-items .row-item div.teamA img{
    margin-left: 3vw;
  }
  .matches__view .table .row-table .row-items .row-item div.teamB img{
    margin-right: 3vw;
  }
  .matches__view .table .row-table .row-items .row-item div.vs{
    width: 15%;
    justify-content: center;
  }
  .matches__view .table .row-table .row-items .row-item div.title{
    width: 40%;
    display: none;
  }
  .matches__view .table .row-table .row-items .row-item div.title img{
    margin-left: 3vw;
  }
  .matches__view .table .row-table .row-items .row-item div img{
    height: 4vw;
    display: none;
  }
}

/* MATCH VIEW PAGE */

/* RESULT COMP */
.component_result{
  width: 100%;
  height: 10.7vw;
  margin-top: 2vw;
  background: #FFFFFF;
  border: 0.04vw solid #CFDCF3;
  display: flex;
  flex-direction: row;
}
.component_result .l_logo,
.component_result .r_logo{
  position: absolute;
  left: 0;
  top: 0;
  width: 35%;
  height: 100%;
}
.component_result .r_logo{
  left: auto;
  right: 0;
}
.component_result .l_logo img,
.component_result .r_logo img{
  width: 100%;
  height: 100%;
}
.component_result .l_logo:after,
.component_result .r_logo:after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.component_result .l_logo:after{
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
}
.component_result .r_logo:after{
  background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}
.component_result .l_data,
.component_result .r_data{
  width: 35%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.component_result .c_data{
  width: 30%;
}
.component_result .c_data div{
  text-align: center;
  margin-top: 0.3vw;
}
.component_result .c_data .time{
  font-size: 1.5vw;
  font-weight: bold;
  margin-top: 1.2vw;
}
.component_result .c_data .date{
  font-size: 0.8vw;
}
.component_result .c_data .title{
  font-size: 0.8vw;
  color: #FF6D1D;
}
.component_result .c_data .result{
  font-size: 1.1vw;
  margin-top: 1.4vw;
  font-weight: 500;
}
.component_result .l_data img.logo,
.component_result .r_data img.logo{
  height: auto;
  width: 3vw;
  margin: 0 auto;
}
.component_result .l_data div,
.component_result .r_data div{
  text-align: center;
  font-weight: 500;
  margin-top: 1vw;
  font-size: 1vw;
}
.component_result .l_data .red,
.component_result .r_data .red{
  color: #E73333;
}
.component_result .l_data .green,
.component_result .r_data .green{
  color: #00ff6c;
}
@media screen and (max-width: 1000px) {
  .component_result{
    height: 22vw;
    margin-top: 3vw;
  }
  .component_result .l_data img.logo,
  .component_result .r_data img.logo{
    height: 8vw;
  }
  .component_result .l_data div,
  .component_result .r_data div{
    margin-top: 1vw;
    font-size: 2vw;
  }
  .component_result .c_data div{
    margin-top: 1vw;
  }
  .component_result .c_data .time{
    font-size: 3vw;
    margin-top: 2vw;
  }
  .component_result .c_data .date{
    font-size: 1.5vw;
  }
  .component_result .c_data .title{
    font-size: 1.5vw;
  }
  .component_result .c_data .result{
    font-size: 2.5vw;
    margin-top: 3vw;
  }
}
@media screen and (max-width: 600px) {
  .component_result{
    flex-direction: column;
    height: auto;
  }
  .component_result .l_logo,
  .component_result .r_logo{
    width: 100%;
    height: 61vw;
  }
  .component_result .r_logo{
    top: auto;
    bottom: 0;
  }
  .component_result .l_data,
  .component_result .r_data{
    width: 100%;
    height: 61vw;
  }
  .component_result .l_data img.logo,
  .component_result .r_data img.logo{
    height: 20vw;
  }
  .component_result .l_data div,
  .component_result .r_data div{
    font-size: 5vw;
  }
  .component_result .c_data{
    width: 100%;
    height: 50vw;
  }
  .component_result .c_data div{
    margin-top: 2vw;
  }
  .component_result .c_data .time{
    font-size: 7vw;
    margin-top: 7vw;
  }
  .component_result .c_data .date{
    font-size: 4vw;
  }
  .component_result .c_data .title{
    font-size: 4vw;
  }
  .component_result .c_data .result{
    font-size: 6vw;
    margin-top: 6vw;
  }
}

/* STATISTICS COMP */
.match__view .component.statistics{
  margin-top: 1.5vw;
}
.match__view .component.statistics .grid-select{
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
  align-items: center;
  padding: 0.7vw 1.5vw;
  border: 0.04vw solid #CFDCF3;
  font-size: 0.85vw;
}
.match__view .component.statistics .grid-select .lft,
.match__view .component.statistics .grid-select .rgt{
  width: 50%;
  display: flex;
}
.match__view .component.statistics .grid-select .rgt{
  justify-content: flex-end;
}
.match__view .component.statistics .grid-select span{
  color: #262626;
  cursor: pointer;
}
.match__view .component.statistics .grid-select span.active{
  color: #000000;
  font-weight: 500;
}
.match__view .component.statistics .grid-select .lft span{
  margin-right: 1vw;
}
.match__view .component.statistics .grid-select .rgt span{
  margin-left: 1vw;
}

.match__view .component.statistics .grid-block{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  align-items: center;
  border: 0.04vw solid #CFDCF3;
  border-bottom: 0;
  font-size: 0.85vw;
  margin-top: 1vw;
}
.match__view .component.statistics .grid-block .grid-header,
.match__view .component.statistics .grid-block .grid-row{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  border-bottom: 0.04vw solid #CFDCF3;
}
.match__view .component.statistics .grid-block .grid-row{
  font-weight: normal;
}
.match__view .component.statistics .grid-block .grid-header .r,
.match__view .component.statistics .grid-block .grid-row .r{
  display: flex;
  align-items: center;
  width: 12%;
  padding: 0.7vw 1vw;
  justify-content: center;
  border-left: 0.04vw solid #CFDCF3;
}
.match__view .component.statistics .grid-block .grid-row .r:nth-child(1){
  padding: 0;
}
.match__view .component.statistics .grid-block .grid-row .r:nth-child(1) span{
  padding: 0.7vw 1vw;
}
.match__view .component.statistics .grid-block .grid-header .r:nth-child(1),
.match__view .component.statistics .grid-block .grid-row .r:nth-child(1){
  width: 40%;
  justify-content: flex-start;
  padding-left: 1.5vw;
  border-left: 0;
}
.match__view .component.statistics .grid-block .grid-header .r:nth-child(1) img,
.match__view .component.statistics .grid-block .grid-row .r:nth-child(1) img{
  height: 1.2vw;
  margin-right: 1vw;
}
.match__view .component.statistics .grid-block  .grid-row .r .grid-subrow{
  display: none;
}
.match__view .component.statistics .grid-block .grid-row .r:nth-child(1) img{
  display: none;
}
@media screen and (max-width: 1000px) {
  .match__view .component.statistics{
    margin-top: 3vw;
  }
  .match__view .component.statistics .grid-select{
    width: 100%;
    padding: 1.5vw 3vw;
    font-size: 2vw;
  }
  .match__view .component.statistics .grid-select .lft span{
    margin-right: 2vw;
  }
  .match__view .component.statistics .grid-select .rgt span{
    margin-left: 2vw;
  }
  .match__view .component.statistics .grid-block{
    font-size: 2vw;
    margin-top: 2vw;
  }
  .match__view .component.statistics .grid-block .grid-header .r,
  .match__view .component.statistics .grid-block .grid-row .r{
    width: 12%;
    padding: 1.5vw 3vw;
  }
  .match__view .component.statistics .grid-block .grid-row .r:nth-child(1){
    padding: 0;
  }
  .match__view .component.statistics .grid-block .grid-row .r:nth-child(1) span{
    padding: 0.7vw 1vw;
  }
  .match__view .component.statistics .grid-block .grid-header .r:nth-child(1),
  .match__view .component.statistics .grid-block .grid-row .r:nth-child(1){
    padding-left: 3vw;
  }
  .match__view .component.statistics .grid-block .grid-header .r:nth-child(1) img,
  .match__view .component.statistics .grid-block .grid-row .r:nth-child(1) img{
    height: 2vw;
    margin-right: 2vw;
  }
}
@media screen and (max-width: 600px) {
  .match__view .component.statistics{
    margin-top: 4vw;
  }
  .match__view .component.statistics .grid-select{
    width: 100%;
    padding: 3vw 1vw;
    font-size: 4vw;
    flex-direction: column;
  }
  .match__view .component.statistics .grid-select .lft,
  .match__view .component.statistics .grid-select .rgt{
    width: 100%;
  }
  .match__view .component.statistics .grid-select .rgt{
    justify-content: flex-start;
    margin-top: 4vw;
  }
  .match__view .component.statistics .grid-select .rgt span,
  .match__view .component.statistics .grid-select .lft span{
    margin-left: 4vw;
    margin-right: 0;
  }
  .match__view .component.statistics .grid-block{
    font-size: 4vw;
    margin-top: 2vw;
  }
  .match__view .component.statistics .grid-block .grid-header .r,
  .match__view .component.statistics .grid-block .grid-row .r{
    display: none;
  }
  .match__view .component.statistics .grid-block .grid-header .r:nth-child(1),
  .match__view .component.statistics .grid-block .grid-row .r:nth-child(1){
    display: flex;
    width: 100%;
    padding: 3vw 4vw;
  }
  .match__view .component.statistics .grid-block .grid-header .r:nth-child(1) img,
  .match__view .component.statistics .grid-block .grid-row .r:nth-child(1) img{
    height: 4vw;
  }
  .match__view .component.statistics .grid-block .grid-row .r:nth-child(1){
    padding: 0;
    flex-direction: column;
  }
  .match__view .component.statistics .grid-block .grid-row .r:nth-child(1) span{
    padding: 3vw 4vw;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    font-weight: 500;
  }
  .match__view .component.statistics .grid-block .grid-row .r:nth-child(1) img{
    width: 100%;
    height: auto;
    display: block;
  }
  .match__view .component.statistics .grid-block  .grid-row .r .grid-subrow{
    width: 100%!important;
    display: flex;
    flex-direction: row;
    border-top: 0.04vw solid #CFDCF3;
  }
  .match__view .component.statistics .grid-block  .grid-row .r .grid-subrow div{
    width: 20%;
    display: flex;
    justify-content: center;
    font-weight: 500;
    padding: 3vw 0;
    font-size: 3.5vw;
  }
  .match__view .component.statistics .grid-block  .grid-row .r .grid-subrow:nth-child(4) div{
    font-weight: normal;
  }
}

/* PLAYERS COMP */
.match__view .component.teams-matches{
  margin-top: 1.5vw;
}
.match__view .component.teams-matches .grid-block{
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 0.04vw solid #CFDCF3;
  border-bottom: 0;
  font-size: 0.85vw;
}
.match__view .component.teams-matches .grid-block .title{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0.7vw 1.5vw;
  border-bottom: 0.02vw solid #CFDCF3;
}
.match__view .component.teams-matches .grid-block .title .lft,
.match__view .component.teams-matches .grid-block .title .rgt{
  width: 50%;
  display: flex;
}
.match__view .component.teams-matches .grid-block .title .lft{
  font-weight: 500;
}
.match__view .component.teams-matches .grid-block .title .lft img{
  height: 1.3vw;
  margin-right: 1vw;
}
.match__view .component.teams-matches .grid-block .title .rgt{
  justify-content: flex-end;
}
.match__view .component.teams-matches .grid-block .players{
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
}
.match__view .component.teams-matches .grid-block .players .player{
  width: 20%;
  display: flex;
  flex-direction: column;
  border: 0.02vw solid #CFDCF3;
  cursor: pointer;
}
.match__view .component.teams-matches .grid-block .players .player.active{
  border: 0.02vw solid #F24F13;
}
.match__view .component.teams-matches .grid-block .players .player .logo{
  width: 100%;
  height: 10vw;
  overflow: hidden;
}
.match__view .component.teams-matches .grid-block .players .player .logo img{
  width: 100%;
  height: 100%;
}
.match__view .component.teams-matches .grid-block .players .player .name{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 0.02vw solid #CFDCF3;
  padding: 0.5vw 0;
  font-size: 0.8vw;
}
.match__view .component.teams-matches .grid-block .players .player.active .name{
  background-color: #F24F13;
  border-top: 0.02vw solid #F24F13;
  color: #FFFFFF;
}
.match__view .component.teams-matches .grid-block .players .player .name img{
  width: 1vw;
  margin-right: 0.5vw;
}
.match__view .component.teams-matches .grid-result{
  width: 100%;
  background: #FFFFFF;
  border: 0.02vw solid #CFDCF3;
  display: flex;
  flex-direction: row;
}
.match__view .component.teams-matches .grid-result .l-block,
.match__view .component.teams-matches .grid-result .r-block{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.match__view .component.teams-matches .grid-result .l-block .logo_team,
.match__view .component.teams-matches .grid-result .r-block .logo_team{
  position: absolute;
  left: 15%;
  top: 0;
  width: 70%;
}
.match__view .component.teams-matches .grid-result .l-block .logo,
.match__view .component.teams-matches .grid-result .r-block .logo{
  height: 15vw;
  max-width: 100%;
}
.match__view .component.teams-matches .grid-result .c-block{
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1vw;
  flex-direction: column;
}
.match__view .component.teams-matches .grid-result .c-block .row-c{
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0.3vw 0;
}
.match__view .component.teams-matches .grid-result .c-block .row-c .orange{
  color: #F24F13;
}
.match__view .component.teams-matches .grid-result .c-block .row-c div{
  display: flex;
  align-items: center;
  font-weight: bold;
}
.match__view .component.teams-matches .grid-result .c-block .row-c .l,
.match__view .component.teams-matches .grid-result .c-block .row-c .r{
  width: 25%;
  font-size: 0.85vw;
}
.match__view .component.teams-matches .grid-result .c-block .row-c .l{
  justify-content: flex-start;
}
.match__view .component.teams-matches .grid-result .c-block .row-c .r{
  justify-content: flex-end;
}
.match__view .component.teams-matches .grid-result .c-block .row-c .c{
  width: 50%;
  text-transform: uppercase;
  font-size: 0.75vw;
  justify-content: center;
}
@media screen and (max-width: 1000px) {
  .match__view .component.teams-matches{
    margin-top: 4vw;
  }
  .match__view .component.teams-matches .grid-block{
    font-size: 2.5vw;
  }
  .match__view .component.teams-matches .grid-block .title{
    padding: 2vw 3vw;
  }
  .match__view .component.teams-matches .grid-block .title .lft img{
    height: 4vw;
    margin-right: 2vw;
  }
  .match__view .component.teams-matches .grid-block .players .player .logo{
    width: 100%;
    height: 20vw;
    overflow: hidden;
  }
  .match__view .component.teams-matches .grid-block .players .player .name{
    padding: 1vw 0;
    font-size: 2vw;
  }
  .match__view .component.teams-matches .grid-block .players .player .name img{
    width: 2vw;
    margin-right: 1vw;
  }
  .match__view .component.teams-matches .grid-result .l-block .logo_team,
  .match__view .component.teams-matches .grid-result .r-block .logo_team{
    left: 15%;
    width: 70%;
  }
  .match__view .component.teams-matches .grid-result .l-block .logo,
  .match__view .component.teams-matches .grid-result .r-block .logo{
    height: 35vw;
  }
  .match__view .component.teams-matches .grid-result .c-block{
    width: 40%;
    padding: 0 1vw;
  }
  .match__view .component.teams-matches .grid-result .c-block .row-c{
    padding: 1vw 0;
  }
  .match__view .component.teams-matches .grid-result .c-block .row-c .l,
  .match__view .component.teams-matches .grid-result .c-block .row-c .r{
    font-size: 2vw;
  }
  .match__view .component.teams-matches .grid-result .c-block .row-c .c{
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 600px) {
  .match__view .component.teams-matches{
    display: none;
  }
}

/* COMMENTS COMP */
.match__view .component.comments{
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
}
.match__view .component.comments .grid{
  background-color: #FFFFFF;
  border: 0.04vw solid #CFDCF3;
}
.match__view .component.comments .grid .grid-row{
  display: flex;
  width: 100%;
  flex-direction: row;
  padding: 1vw;
}
.match__view .component.comments .grid .grid-row .ava{
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
  background-color: #F24F13;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.8vw;
  color: #FFFFFF;
  flex-shrink: 0;
}
.match__view .component.comments .grid .grid-row .ava.olive{
  background-color: #F5B800;
}
.match__view .component.comments .grid .grid-row .data{
  width: 100%;
  padding: 0 1vw;
}
.match__view .component.comments .grid .grid-row .data .name{
  font-weight: 500;
  font-size: 0.9vw;
}
.match__view .component.comments .grid .grid-row .data .text{
  font-size: 0.8vw;
  margin-top: 0.5vw;
  color: #212427;
}
.match__view .component.comments .grid .grid-row .date{
  flex-shrink: 0;
  font-size: 0.8vw;
}
.match__view .component.comments .grid .grid-row .date .arrow{
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 0.3vw;
  box-shadow: 0 0.2vw 0.4vw rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vw;
  margin-top: 0.5vw;
  cursor: pointer;
}
.match__view .component.comments .grid .grid-row .date .arrow img{
  height: 1vw;
}
@media screen and (max-width: 1000px) {
  .match__view .component.comments{
    margin-top: 3vw;
    margin-bottom: 3vw;
  }
  .match__view .component.comments .grid .grid-row{
    padding: 2vw;
  }
  .match__view .component.comments .grid .grid-row .ava{
    width: 5.5vw;
    height: 5.5vw;
    font-size: 2vw;
  }
  .match__view .component.comments .grid .grid-row .data{
    padding: 0 2vw;
  }
  .match__view .component.comments .grid .grid-row .data .name{
    font-size: 2vw;
  }
  .match__view .component.comments .grid .grid-row .data .text{
    font-size: 2vw;
    margin-top: 1vw;
  }
  .match__view .component.comments .grid .grid-row .date{
    font-size: 2vw;
  }
  .match__view .component.comments .grid .grid-row .date .arrow{
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 0.7vw;
    padding: 2vw;
    margin-top: 1vw;
  }
  .match__view .component.comments .grid .grid-row .date .arrow img{
    height: 1.5vw;
  }
}
@media screen and (max-width: 600px) {
  .match__view .component.comments{
    margin-top: 6vw;
    margin-bottom: 4vw;
  }
  .match__view .component.comments .grid .grid-row{
    padding: 3vw;
  }
  .match__view .component.comments .grid .grid-row .ava{
    width: 10vw;
    height: 10vw;
    font-size: 4vw;
  }
  .match__view .component.comments .grid .grid-row .data{
    padding: 0 3vw;
  }
  .match__view .component.comments .grid .grid-row .data .name{
    font-size: 4vw;
  }
  .match__view .component.comments .grid .grid-row .data .text{
    font-size: 4vw;
    margin-top: 2vw;
  }
  .match__view .component.comments .grid .grid-row .date{
    font-size: 4vw;
  }
  .match__view .component.comments .grid .grid-row .date .arrow{
    width: 8vw;
    height: 8vw;
    border-radius: 2vw;
    padding: 3vw;
    margin-top: 2vw;
  }
  .match__view .component.comments .grid .grid-row .date .arrow img{
    height: 3vw;
  }
}

/* MATCHES COMP */
.match__view .component.mathes-com .table{
  border: 0;
  background-color: #FFFFFF;
}
.match__view .component.mathes-com .table-row{
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  padding-bottom: 0.7vw;
  border: 0.02vw solid #CFDCF3;
  transition: 0.2s;
  color: #111111;
}
.match__view .component.mathes-com .table-row:hover{
  background-color: #FFF8F4;
  border: 0.02vw solid #FF5A00;
}
.match__view .component.mathes-com .table-row div{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.8vw;
}
.match__view .component.mathes-com .table-row div:nth-child(1){
  font-size: 0.8vw;
  padding: 0.5vw 0;
  padding-bottom: 0.3vw;
}
.match__view .component.mathes-com .table-row div:nth-child(1) a{
  color: #111111;
}
.match__view .component.mathes-com .table-row div:nth-child(2){
  margin-bottom: 0.2vw;
}
.match__view .component.mathes-com .table-row div img{
  height: 1vw;
  margin-right: 0.5vw;
}
.match__view .component.mathes-com .table-row div span{
  top: 0;
  position: absolute;
  right: 0;
  font-weight: 500;
  font-size: 0.8vw;
}
.match__view .component.mathes-com .table-row div span.victory{
  color: #219653;
}
.match__view .component.mathes-com .table-row div span.losing{
  color: #E73333;
}
@media screen and (max-width: 1000px) {
  .match__view .component.mathes-com .table-row{
    padding: 2vw;
  }
  .match__view .component.mathes-com .table-row div{
    font-size: 2vw;
  }
  .match__view .component.mathes-com .table-row div:nth-child(1){
    font-size: 2vw;
    padding-bottom: 1vw;
  }
  .match__view .component.mathes-com .table-row div:nth-child(2){
    margin-bottom: 1vw;
  }
  .match__view .component.mathes-com .table-row div img{
    height: 2vw;
    margin-right: 1vw;
  }
  .match__view .component.mathes-com .table-row div span{
    font-size: 2vw;
  }
}
@media screen and (max-width: 600px) {
  .match__view .component.mathes-com .table-row{
    padding: 4vw;
  }
  .match__view .component.mathes-com .table-row div{
    font-size: 4vw;
  }
  .match__view .component.mathes-com .table-row div:nth-child(1){
    font-size: 4vw;
    padding-bottom: 2vw;
  }
  .match__view .component.mathes-com .table-row div:nth-child(2){
    margin-bottom: 2vw;
  }
  .match__view .component.mathes-com .table-row div img{
    height: 4.5vw;
    margin-right: 2vw;
  }
  .match__view .component.mathes-com .table-row div span{
    font-size: 4vw;
  }
}

/* MAPS COMP */
.match__view .component.maps{
  margin-top: 2vw;
}
.match__view .component.maps .grid{
  background-color: #FFFFFF;
  border: 0.04vw solid #CFDCF3;
  font-size: 0.9vw;
  padding: 1.5vw 2.5vw;
  flex-direction: column;
}
.match__view .component.maps .grid .name{
  font-weight: bold;
  margin-bottom: 0.5vw;
}
.match__view .component.maps .grid .map{
  margin-top: 0.5vw;
}
.match__view .component.maps .grid-preview{
  width: 100%;
}
.match__view .component.maps .grid-preview-row{
  width: 100%;
  height: 5.5vw;
  margin-top: 1vw;
}
.match__view .component.maps .grid-preview-row .image{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.match__view .component.maps .grid-preview-row .background{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  background: linear-gradient(180deg, rgba(31, 44, 54, 0) 29.69%, #1F2C36 100%);
}
.match__view .component.maps .grid-preview-row .title{
  font-weight: bold;
  font-size: 1.2vw;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  padding: 0.8vw 0;
}
.match__view .component.maps .grid-preview-row .rows-teams{
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  color: #FFFFFF;
  z-index: 3;
  padding: 0.8vw 1vw;
  align-items: center;
}
.match__view .component.maps .grid-preview-row .rows-teams div{
  display: flex;
  align-items: center;
  font-weight: bold;
}
.match__view .component.maps .grid-preview-row .rows-teams .teamA,
.match__view .component.maps .grid-preview-row .rows-teams .teamB{
  width: 30%;
  font-size: 0.9vw;
}
.match__view .component.maps .grid-preview-row .rows-teams .teamB{
  justify-content: flex-end;
}
.match__view .component.maps .grid-preview-row .rows-teams .teamA img,
.match__view .component.maps .grid-preview-row .rows-teams .teamB img{
  height: 1.4vw;
}
.match__view .component.maps .grid-preview-row .rows-teams .teamA img{
  margin-right: 1vw;
}
.match__view .component.maps .grid-preview-row .rows-teams .teamB img{
  margin-left: 1vw;
}
.match__view .component.maps .grid-preview-row .rows-teams .teamAScores,
.match__view .component.maps .grid-preview-row .rows-teams .teamBScores{
  width: 10%;
  font-size: 0.9vw;
  justify-content: center;
}
.match__view .component.maps .grid-preview-row .rows-teams .scores{
  width: 20%;
  font-size: 0.8vw;
  display: flex;
  flex-direction: row;
}
.match__view .component.maps .grid-preview-row .rows-teams .scores label{
  display: block;
  width: 50%;
  text-align: center;
}
.match__view .component.maps .grid-preview-row .rows-teams .green{
  color: #10CE61;
}
.match__view .component.maps .grid-preview-row .rows-teams .red{
  color: #E63333;
}
.match__view .component.maps .grid-preview-row .rows-teams .blue{
  color: #6CB9FF;
}
.match__view .component.maps .grid-preview-row .rows-teams .orange{
  color: #E79637;
}
@media screen and (max-width: 1000px) {
  .match__view .component.maps{
    margin-top: 3vw;
  }
  .match__view .component.maps .grid{
    font-size: 3vw;
    padding: 3vw;
  }
  .match__view .component.maps .grid .name{
    margin-bottom: 2vw;
  }
  .match__view .component.maps .grid .map{
    margin-top: 1vw;
  }
  .match__view .component.maps .grid-preview-row{
    height: 16vw;
    margin-top: 2vw;
  }
  .match__view .component.maps .grid-preview-row .title{
    font-size: 3vw;
    padding: 1.5vw 0;
  }
  .match__view .component.maps .grid-preview-row .rows-teams{
    padding: 1.5vw 2vw;
  }
  .match__view .component.maps .grid-preview-row .rows-teams .teamA,
  .match__view .component.maps .grid-preview-row .rows-teams .teamB{
    width: 30%;
    font-size: 2.5vw;
  }
  .match__view .component.maps .grid-preview-row .rows-teams .teamA img,
  .match__view .component.maps .grid-preview-row .rows-teams .teamB img{
    height: 3vw;
  }
  .match__view .component.maps .grid-preview-row .rows-teams .teamA img{
    margin-right: 2vw;
  }
  .match__view .component.maps .grid-preview-row .rows-teams .teamB img{
    margin-left: 2vw;
  }
  .match__view .component.maps .grid-preview-row .rows-teams .teamAScores,
  .match__view .component.maps .grid-preview-row .rows-teams .teamBScores{
    width: 10%;
    font-size: 2.5vw;
  }
  .match__view .component.maps .grid-preview-row .rows-teams .scores{
    width: 20%;
    font-size: 2vw;
  }
  .match__view .component.maps .grid-preview-row .rows-teams .scores label{
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .match__view .component.maps{
    margin-top: 4vw;
  }
  .match__view .component.maps .grid{
    font-size: 4vw;
    padding: 4vw;
  }
  .match__view .component.maps .grid .name{
    margin-bottom: 3vw;
  }
  .match__view .component.maps .grid .map{
    margin-top: 2vw;
  }
  .match__view .component.maps .grid-preview-row{
    height: 25vw;
    margin-top: 3vw;
    overflow: hidden;
  }
  .match__view .component.maps .grid-preview-row .image{
    width: auto;
    height: 100%;
  }
  .match__view .component.maps .grid-preview-row .title{
    font-size: 4vw;
    padding: 2vw 0;
  }
  .match__view .component.maps .grid-preview-row .rows-teams{
    padding: 2vw 2vw;
  }
  .match__view .component.maps .grid-preview-row .rows-teams .teamA,
  .match__view .component.maps .grid-preview-row .rows-teams .teamB{
    width: 30%;
    font-size: 3.5vw;
  }
  .match__view .component.maps .grid-preview-row .rows-teams .teamA img,
  .match__view .component.maps .grid-preview-row .rows-teams .teamB img{
    height: 4vw;
  }
  .match__view .component.maps .grid-preview-row .rows-teams .teamA img{
    margin-right: 2vw;
  }
  .match__view .component.maps .grid-preview-row .rows-teams .teamB img{
    margin-left: 2vw;
  }
  .match__view .component.maps .grid-preview-row .rows-teams .teamAScores,
  .match__view .component.maps .grid-preview-row .rows-teams .teamBScores{
    width: 10%;
    font-size: 4vw;
  }
  .match__view .component.maps .grid-preview-row .rows-teams .scores{
    width: 20%;
    font-size: 3vw;
  }
  .match__view .component.maps .grid-preview-row .rows-teams .scores label{
    width: 50%;
  }
}

/* VIDEOS COMP */
.match__view .component.moments{
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
}
.match__view .component.moments .grid .grid-row{
  width: calc(50% - 0.5vw);
  height: 10vw;
  margin-top: 1vw;
  display: flex;
  overflow: hidden;
  align-items: center;
}
.match__view .component.moments .grid .grid-row:nth-child(odd) {
  margin-right: 0.5vw;
}
.match__view .component.moments .grid .grid-row:nth-child(even) {
  margin-left: 0.5vw;
}
.match__view .component.moments .grid .grid-row:after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, rgba(53, 57, 62, 0) 33.33%, #35393E 100%);
}
.match__view .component.moments .grid .grid-row img.logo{
  min-width: 100%;
  min-height: 100%;
  transition: 0.3s;
}
.match__view .component.moments .grid .grid-row:hover img.logo{
  transform: scale(1.3);
}
.match__view .component.moments .grid .grid-row .title-block{
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 1vw;
  z-index: 2;
}
.match__view .component.moments .grid .grid-row .title-block .title{
  font-size: 0.9vw;
  color: #FFFFFF;
  font-weight: 500;
  border-bottom: 0.04vw solid rgba(242, 242, 242, 0.6);
  padding-bottom: 0.3vw;
}
.match__view .component.moments .grid .grid-row .title-block .title a{
  color: #FFFFFF;
}
.match__view .component.moments .grid .grid-row .title-block .bottom{
  font-size: 0.8vw;
  color: #FFFFFF;
  padding-top: 0.3vw;
  align-items: center;
}
.match__view .component.moments .grid .grid-row .title-block .bottom span{
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 0.3vw;
}
.match__view .component.moments .grid .grid-row .title-block .bottom span img{
  height: 1vw;
  margin-right: 0.5vw;
}
@media screen and (max-width: 1000px) {
  .match__view .component.moments .grid .grid-row{
    height: 30vw;
    margin-top: 1vw!important;
  }
  .match__view .component.moments .grid .grid-row .title-block{
    padding: 2vw;
  }
  .match__view .component.moments .grid .grid-row .title-block .title{
    font-size: 1.8vw;
  }
  .match__view .component.moments .grid .grid-row .title-block .bottom{
    font-size: 1.8vw;
  }
  .match__view .component.moments .grid .grid-row .title-block .bottom span img{
    height: 1.6vw;
  }
  .match__view .component.moments .grid .grid-row .live{
    top: 2vw;
    right: 2vw;
    font-size: 1.4vw;
    border-radius: 5vw;
  }
}
@media screen and (max-width: 600px) {
  .match__view .component.moments{
    margin-top: 4vw;
  }
  .match__view .component.moments .grid .grid-row{
    width: 100%;
    height: 55vw;
    margin: 0!important;
    margin-top: 4vw!important;
  }
  .match__view .component.moments .grid .grid-row .live{
    position: absolute;
    right: 4vw;
    top: 4vw;
    padding: 1vw 2vw;
    font-size: 3vw;
    border-radius: 5vw;
  }
  .match__view .component.moments .grid .grid-row .title-block{
    padding: 4vw;
  }
  .match__view .component.moments .grid .grid-row .title-block .title{
    font-size: 5vw;
    padding-bottom: 2vw;
  }
  .match__view .component.moments .grid .grid-row .title-block .bottom{
    font-size: 4vw;
    padding-top: 2vw;
  }
  .match__view .component.moments .grid .grid-row .title-block .bottom span{
    padding-top: 2vw;
  }
  .match__view .component.moments .grid .grid-row .title-block .bottom span img{
    height: 3vw;
    margin-right: 2vw;
  }
}
