html, body, .background-mvp{
    height: 100%;
    width: 100%;
}
.background-mvp-wrapper{
    height: 100vh;
    opacity: .5;
    background-color: #0a0a0a;
    width: 100%;
    position: absolute;
    top: 0px;
}
.background-mvp{
    background-image: url(http://champs.loc/mvp-assets/background.gif);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    position: absolute;
    top: 0px;
}
.window-height-80{
    height: 80vh;
}
.font-size-23{
    font-size: 23px;
}
.font-size-18{
    font-size: 18px;
}
.border-none{
    border-color: transparent !important;
}
