.radio .container .name {
    margin-bottom: 0.675rem;
    display: flex;
    justify-content: flex-end;
}
.radio .container .name h4 {
    margin: 0;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: normal;
    color: #dadadf;
    transform: scale(0);
    transform-origin: 100% 50%;
    transition: transform 500ms ease;
}
.radio .container svg {
    width: 1.35rem;
    height: 1.35rem;
}
.radio .container svg.gear {
    order: 1;
    margin-left: 1.35rem;
    cursor: help;
}
.radio .container svg.gear:hover ~ h4 {
    transform: scale(1);
}

.radio .btn {
    position: absolute;
    bottom: 1.35rem;
    left: 50%;
    transform: translateX(-50%);
}
.radio .btn a {
    margin: auto 1.35rem;
}

.radio label {
    position: relative;
    margin: 0.675rem 1.35rem;
    display: flex;
    width: auto;
    align-items: center;
    cursor: pointer;
}

.radio .check {
    margin-right: 7px;
    width: 1.35rem;
    height: 1.35rem;
}
.radio .check #border {
    fill: none;
    stroke: #7a7a8c;
    stroke-width: 3;
    stroke-linecap: round;
}
.radio .check #dot {
    fill: url(#gradient);
    transform: scale(0);
    transform-origin: 50% 50%;
}

.radio input {
    display: none;
}
.radio input:checked + label {
    background: #FF6D1D;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.radio input:checked + label svg #border {
    stroke: url(#gradient);
    stroke-dasharray: 145;
    stroke-dashoffset: 145;
    animation: checked 500ms ease forwards;
}
.radio input:checked + label svg #dot {
    transform: scale(1);
    transition: transform 500ms cubic-bezier(0.57, 0.21, 0.69, 3.25);
}

@keyframes checked {
    to {
        stroke-dashoffset: 0;
    }
}
