.results__view{
  padding-bottom: 1vw;
}
.results__view .banner{
  width: 100%;
  height: auto;
  margin-top: 1.5vw;
}
.results__view .component .table {
  background-color: transparent;
  border: 0;
}

/* EVENTS COMP */
.results__view .results__events .grid .grid-row{
  width: 100%;
  background: #FFFFFF;
  border: 0.04vw solid #CFDCF3;
  margin-top: 1vw;
  display: flex;
  flex-direction: column;
  transition: 0.2s;
  color: #111111;
}
.results__view .results__events .grid .grid-row:hover{
  background-color: #FFF8F4;
  border: 0.04vw solid #FF5A00;
}
.results__view .results__events .grid .grid-row .logo{
  width: 100%;
  height: 7vw;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.results__view .results__events .grid .grid-row .logo img{
  width: 100%;
}
.results__view .results__events .grid .grid-row .data{
  width: 100%;
  flex-direction: column;
  padding: 1vw;
}
.results__view .results__events .grid .grid-row .data .title{
  width: 100%;
  height: 50%;
  font-size: 0.8vw;
  font-weight: 500;
  align-items: center;
}
.results__view .results__events .grid .grid-row .data .title a{
  color: #111111;
}
.results__view .results__events .grid .grid-row .data .bottom{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.results__view .results__events .grid .grid-row .data .bottom .date{
  width: 100%;
  font-size: 0.85vw;
  color: #718088;
}
.results__view .results__events .grid .grid-row .data .bottom .logos{
  flex-shrink: 0;
  padding-right: 0.5vw;
}
.results__view .results__events .grid .grid-row .data .bottom .logos img{
  height: 1.4vw;
  margin-left: 1vw;
}
@media screen and (max-width: 1000px) {
  .results__view .results__events .grid .grid-row{
    width: 100%;
    margin: 0!important;
    margin-top: 2vw!important;
  }
  .results__view .results__events .grid .grid-row .data .title{
    font-size: 2.3vw;
  }
  .results__view .results__events .grid .grid-row .data .bottom .date{
    font-size: 2.3vw;
  }
  .results__view .results__events .grid .grid-row .logo{
    width: 100%;
    height: 25vw;
  }
  .results__view .results__events .grid .grid-row .data{
    padding: 2vw;
  }
  .results__view .results__events .grid .grid-row .data .bottom .logos img{
    height: 4vw;
    margin-left: 2vw;
  }
}
@media screen and (max-width: 600px) {
  .results__view .results__events .grid .grid-row{
    width: 100%;
    margin: 0!important;
    margin-top: 4vw!important;
  }
  .results__view .results__events .grid .grid-row .logo{
    width: 100%;
    height: 28vw;
  }
  .results__view .results__events .grid .grid-row .data{
    padding: 3vw;
  }
  .results__view .results__events .grid .grid-row .data .title{
    font-size: 3.5vw;
    padding-top: 1vw;
  }
  .results__view .results__events .grid .grid-row .data .bottom{
    padding-top: 1vw;
  }
  .results__view .results__events .grid .grid-row .data .bottom .date{
    font-size: 3vw;
  }
  .results__view .results__events .grid .grid-row .data .bottom .logos img{
    height: 8vw;
    margin-left: 1vw;
  }
}

/* FILTER */
.results__view .filter{
  margin-top: 1.5vw;
  width: 100%;
  background-color: #F0F7FF;
  border: 0.04vw solid #CFDCF3;
}
.results__view .filter .tab{
  width: 100%;
  border-top: 0.04vw solid #CFDCF3;
  cursor: pointer;
}
.results__view .filter .tab:nth-child(1){
  border-top: 0;
}
.results__view .filter .tab .title_f{
  width: 100%;
  padding: 0.6vw 1vw;
  display: flex;
  align-items: center;
}
.results__view .filter .tab .title_f div{
  width: 100%;
  font-size: 0.8vw;
  color: #1F2C36;
  font-weight: 500;
}
.results__view .filter .tab .title_f svg{
  flex-shrink: 0;
  height: 0.6vw;
  width: 0.6vw;
}
.results__view .filter .tab .title_f svg.open{
  display: none;
}
.results__view .filter .tab .title_f svg.close{
  display: flex;
}
.results__view .filter .tab.active .title_f svg.open{
  display: flex;
}
.results__view .filter .tab.active .title_f svg.close{
  display: none;
}
.results__view .filter .tab .cont{
  width: 100%;
  height: 0;
  position: relative;
  background-color: #FFFFFF;
  overflow: hidden;
  transition: 0.3s;
}
.results__view .filter .tab .cont input{
  width: 100%;
  height: 2.2vw;
  font-size: 0.8vw;
  padding: 0 1vw;
  background-color: transparent;
  border: 0;
  border-top: 0.04vw solid #CFDCF3;
  outline: none;
}
.results__view .filter .tab .cont .tab{
  width: 100%;
  height: 2.2vw;
  font-size: 0.8vw;
  padding: 0 1vw;
  background-color: transparent;
  border-top: 0.04vw solid #CFDCF3;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
.results__view .filter .tab .cont .tab:hover{
  opacity: 0.5;
}
.results__view .filter .tab .cont .flex{
  width: 100%;
  display: flex;
}
.results__view .filter .tab .cont .flex_row{
  width: 50%;
}
.results__view .filter .tab .cont .flex_row:nth-child(1){
  border-right: 0.04vw solid #CFDCF3;
}
.results__view .filter .tab .cont .flex_row .flex_cal{
  width: 100%;
  height: 2.2vw;
  font-size: 0.75vw;
  padding: 0 1vw;
  border-top: 0.04vw solid #CFDCF3;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.results__view .filter .tab .cont .flex_row .flex_cal label{
  cursor: pointer;
}
.results__view .filter .tab .cont .popup{
  width: 100%;
  position: absolute;
  right: 100%;
  top: 0;
  background-color: #FFFFFF;
  border: 0.04vw solid #CFDCF3;
  border-top: 0;
  z-index: 10;
}
.calendar{
  width: 15vw;
  position: absolute;
  top: 100%;
  right: -0.02vw;
  background-color: #FFFFFF;
  border: 0.02vw solid #FF6D1D;
  z-index: 10;
  padding: 1vw;
  border-radius: 0;
}
.calendar .title{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.calendar .title .lft,
.calendar .title .rgt{
  width: 50%;
  position: relative;
}
.calendar .title .month{
  height: 1.4vw;
  font-size: 0.7vw;
  font-weight: 500;
  padding-left: 0.4vw;
  display: flex;
  align-items: center;
}
.calendar .title .month img{
  width: 0.5vw;
  margin-left: 0.5vw;
}
.calendar .title .months{
  width: 80%;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #FFFFFF;
  box-shadow: 0 0 0.4vw #AAA;
  padding: 0.5vw;
  z-index: 10;
}
.calendar .title .months div{
  font-size: 0.7vw;
  margin-top: 0.3vw;
  cursor: pointer;
}
.calendar .title .months div:nth-child(1){
  margin-top: 0;
}
.calendar .title .year{
  height: 1.4vw;
  float: right;
  font-size: 0.7vw;
  padding-right: 0.6vw;
  display: flex;
  align-items: center;
}
.calendar .title .year span{
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  z-index: 10;
}
.calendar .title .year span:nth-child(1){
  margin-right: 0.5vw;
}
.calendar .title .year span:nth-child(3){
  margin-left: 0.5vw;
}
.calendar .title .year span img{
  width: 0.3vw;
}
.calendar .title .year label{
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: 500;
  padding: 0 0.5vw;
}
.calendar .weeks{
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 1vw;
  padding-bottom: 0.3vw;
  color: #7D8186;
}
.calendar .weeks .week{
  flex-shrink: 0;
  width: 14.2%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7vw;
}
.calendar .days{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #111111;
}
.calendar .days .day{
  flex-shrink: 0;
  width: 14.2%;
  padding: 0.3vw 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7vw;
}
.calendar .days .day.sel:hover,
.calendar .days .day.sel.active{
  background-color: #FF6D1D;
  color: #FFFFFF;
  border-radius: 0.2vw;
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  .results__view .filter{
    margin-top: 3vw;
  }
  .results__view .filter .tab .title_f{
    padding: 2vw 3vw;
  }
  .results__view .filter .tab .title_f div{
    font-size: 2.2vw;
  }
  .results__view .filter .tab .title_f svg{
    height: 1.5vw;
    width: 1.5vw;
  }
  .calendar{
    width: 40vw;
    padding: 2vw;
  }
  .calendar .title .month{
    height: 3vw;
    padding-left: 0.6vw;
  }
  .calendar .title .month span{
    font-size: 2vw;
  }
  .calendar .title .month img{
    width: 1.5vw;
    margin-left: 1vw;
  }
  .calendar .title .months{
    width: 100%;
    padding: 2vw;
  }
  .calendar .title .months div{
    font-size: 2vw;
    margin-top: 1vw;
  }
  .calendar .title .year{
    height: 3vw;
    font-size: 2vw;
    padding-right: 2vw;
  }
  .calendar .title .year span:nth-child(1){
    margin-right: 1vw;
  }
  .calendar .title .year span:nth-child(3){
    margin-left: 1vw;
  }
  .calendar .title .year span img{
    width: 1vw;
  }
  .calendar .title .year label{
    padding: 0 1vw;
  }
  .calendar .weeks{
    padding-top: 2vw;
    padding-bottom: 1vw;
  }
  .calendar .weeks .week{
    font-size: 2vw;
  }
  .calendar .days .day{
    padding: 1vw 0;
    font-size: 2vw;
  }
  .results__view .filter .tab .cont input{
    height: 6vw;
    font-size: 2vw;
    padding: 0 3vw;
  }
  .results__view .filter .tab .cont .popup{
    right: 0;
    top: 100%;
  }
  .results__view .filter .tab .cont .tab{
    height: 6vw;
    font-size: 2vw;
    padding: 0 3vw;
  }
  .results__view .filter .tab .cont .flex_row .flex_cal{
    height: 6vw;
    font-size: 2vw;
    padding: 0 3vw;
  }
  .results__view .filter .tab .cont .flex_row:nth-child(1) .calendar{
    right: auto;
    left: 0;
  }
}
@media screen and (max-width: 600px) {
  .results__view .filter{
    margin-top: 4vw;
  }
  .results__view .filter .tab .title_f{
    padding: 3vw 4vw;
  }
  .results__view .filter .tab .title_f div{
    font-size: 4vw;
  }
  .results__view .filter .tab .title_f svg{
    height: 2vw;
    width: 2vw;
  }
  .calendar{
    width: 57vw;
    padding: 4vw;
  }
  .calendar .title .month{
    height: 5vw;
    padding-left: 0.6vw;
  }
  .calendar .title .month span{
    font-size: 3.5vw;
  }
  .calendar .title .month img{
    width: 2vw;
    margin-left: 3vw;
  }
  .calendar .title .months{
    width: 100%;
    padding: 2vw;
  }
  .calendar .title .months div{
    font-size: 3.3vw;
    margin-top: 1vw;
  }
  .calendar .title .year{
    height: 5vw;
    font-size: 3.3vw;
    padding-right: 2vw;
  }
  .calendar .title .year span:nth-child(1){
    margin-right: 2vw;
  }
  .calendar .title .year span:nth-child(3){
    margin-left: 2vw;
  }
  .calendar .title .year span img{
    width: 1.5vw;
  }
  .calendar .title .year label{
    padding: 0 2vw;
  }
  .calendar .weeks{
    padding-top: 3vw;
    padding-bottom: 2vw;
  }
  .calendar .weeks .week{
    font-size: 3.3vw;
  }
  .calendar .days .day{
    padding: 1vw 0;
    font-size: 3.3vw;
  }
  .results__view .filter .tab .cont input{
    height: 10vw;
    font-size: 4vw;
    padding: 0 4vw;
  }
  .results__view .filter .tab .cont .popup{
    right: 0;
    top: 100%;
  }
  .results__view .filter .tab .cont .tab{
    height: 10vw;
    font-size: 4vw;
    padding: 0 4vw;
  }
  .results__view .filter .tab .cont .flex_row .flex_cal{
    height: 10vw;
    font-size: 3.5vw;
    padding: 0 4vw;
  }
  .results__view .filter .tab .cont .flex_row:nth-child(1) .calendar{
    right: auto;
    left: 0;
  }
}

/* MATCHES */
.results__view .table .row-table{
  width: 100%;
}
.results__view .table .row-table .date{
  width: 100%;
  padding: 1vw 0;
  font-size: 1vw;
  font-weight: 500;
}
.results__view .table .row-table .row-items{
  width: 100%;
}
.results__view .table .row-table .row-items .row-item{
  width: 100%;
  background-color: #FFFFFF;
  border: 0.04vw solid #CFDCF3;
  margin-top: 1vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0.7vw 1.3vw;
  color: #000000;
  transition: 0.2s;
}
.results__view .table .row-table .row-items .row-item:hover{
  background-color: #FFF8F4;
  border: 0.04vw solid #FF5A00;
}
.results__view .table .row-table .row-items .row-item:nth-child(1) {
  margin-top: 0!important;
}
.results__view .table .row-table .row-items .row-item div{
  font-size: 0.9vw;
  display: flex;
  align-items: center;
}
.results__view .table .row-table .row-items .row-item div.time{
  width: 10%;
}
.results__view .table .row-table .row-items .row-item div.teamA,
.results__view .table .row-table .row-items .row-item div.teamB{
  width: 25%;
}
.results__view .table .row-table .row-items .row-item div.teamA{
  justify-content: flex-end;
}
.results__view .table .row-table .row-items .row-item div.teamA img{
  margin-left: 1vw;
}
.results__view .table .row-table .row-items .row-item div.teamB{
  justify-content: flex-start;
}
.results__view .table .row-table .row-items .row-item div.teamB img{
  margin-right: 1vw;
}
.results__view .table .row-table .row-items .row-item div.vs{
  width: 10%;
  justify-content: center;
}
.results__view .table .row-table .row-items .row-item div.vs.bold {
  font-weight: bold;
}
.results__view .table .row-table .row-items .row-item div.vs span.victory{
  color: #219653;
}
.results__view .table .row-table .row-items .row-item div.vs span.losing{
  color: #E73333;
}
.results__view .table .row-table .row-items .row-item div.title{
  width: 30%;
  justify-content: flex-end;
}
.results__view .table .row-table .row-items .row-item div.title img{
  margin-left: 1vw;
}
.results__view .table .row-table .row-items .row-item div img{
  height: 1.2vw;
}
@media screen and (max-width: 1000px) {
  .results__view .banner{
    width: 100%;
    height: auto;
    margin-top: 2vw;
  }
  .results__view .table .row-table .date{
    padding: 2vw 0;
    font-size: 2vw;
  }
  .results__view .table .row-table .row-items .row-item{
    margin-top: 2vw;
    padding: 2vw 2vw;
  }
  .results__view .table .row-table .row-items .row-item div{
    font-size: 2vw;
  }
  .results__view .table .row-table .row-items .row-item div.time{
    width: 0%;
  }
  .results__view .table .row-table .row-items .row-item div.teamA,
  .results__view .table .row-table .row-items .row-item div.teamB{
    width: 25%;
  }
  .results__view .table .row-table .row-items .row-item div.teamA img{
    margin-left: 2vw;
  }
  .results__view .table .row-table .row-items .row-item div.teamB img{
    margin-right: 2vw;
  }
  .results__view .table .row-table .row-items .row-item div.vs{
    width: 10%;
    justify-content: center;
  }
  .results__view .table .row-table .row-items .row-item div.title{
    width: 40%;
  }
  .results__view .table .row-table .row-items .row-item div.title img{
    margin-left: 2vw;
  }
  .results__view .table .row-table .row-items .row-item div img{
    height: 2.5vw;
  }
}
@media screen and (max-width: 600px) {
  .results__view .banner{
    width: 100%;
    height: auto;
    margin-top: 4vw;
  }
  .results__view .table .row-table .date{
    padding: 4vw 0;
    font-size: 4vw;
  }
  .results__view .table .row-table .row-items .row-item{
    margin-top: 4vw;
    padding: 4vw;
  }
  .results__view .table .row-table .row-items .row-item div{
    font-size: 3.5vw;
  }
  .results__view .table .row-table .row-items .row-item div.time{
    width: 0%;
  }
  .results__view .table .row-table .row-items .row-item div.teamA,
  .results__view .table .row-table .row-items .row-item div.teamB{
    width: 40%;
  }
  .results__view .table .row-table .row-items .row-item div.teamA img{
    margin-left: 3vw;
  }
  .results__view .table .row-table .row-items .row-item div.teamB img{
    margin-right: 3vw;
  }
  .results__view .table .row-table .row-items .row-item div.vs{
    width: 20%;
    justify-content: center;
  }
  .results__view .table .row-table .row-items .row-item div.title{
    width: 40%;
    display: none;
  }
  .results__view .table .row-table .row-items .row-item div.title img{
    margin-left: 3vw;
  }
  .results__view .table .row-table .row-items .row-item div img{
    height: 4vw;
  }
}
