<div class="component tournaments" style="display: none">
  <div class="header">
    <div class="round">
      <div><img src="/images/lamp.svg" alt="lamp" /></div>
    </div>
    <div class="title">
      ТУРНИРЫ
    </div>
    <div class="controll">
      <div>Пн</div>
      <div>Вт</div>
      <div>Ср</div>
      <div>Чт</div>
      <div>Пт</div>
    </div>
  </div>
  <div class="table">
    <div class="table-row">
      <div><img src="/images/temp/Rectangle2.png" alt="Rectangle2" />BLAST Spring EU Seasons</div>
      <div>17:45 - 22:30</div>
      <div>17:45 - 22:30</div>
      <div>17:45 - 22:30</div>
      <div>17:45 - 22:30</div>
      <div>17:45 - 22:30</div>
    </div>
    <div class="table-row">
      <div><img src="/images/temp/Rectangle2.png" alt="Rectangle2" />BLAST Spring EU Seasons</div>
      <div>17:45 - 22:30</div>
      <div>17:45 - 22:30</div>
      <div>17:45 - 22:30</div>
      <div>17:45 - 22:30</div>
      <div>17:45 - 22:30</div>
    </div>
  </div>
</div>
