{% extends 'base.html.twig' %}
{% block title %}404{% endblock %}
{% block router %}404{% endblock %}
{% block body %}
    <div class="error-page page">
        <div class="ml-8 mr-8 p-0 d-flex">
            <div class="navigation d-flex align-items-center justify-content-between">
                <a href="{{ url('main') }}">
                    Главная
                </a>
                <i class="fas fa-arrow-right ml-2 mr-2" style="font-size: .7vw"></i>
                <span>
                    404
                </span>
            </div>
        </div>
        <page-404/>
    </div>
{% endblock %}