{# templates/emails/registration.html.twig #}
<h3>Вы сделали это! Вы зарегистрировались!</h3>

Привет, {{ name }}! Вы успешно зарегистрировались.

Спасибо!

{# Создаёт абсолютный URL к файлу /images/logo.png #}